<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(document).ready(function() {
		//수정버튼
		$("#uBtn").on("click", e=>{
			$("#uFrm").submit();
		})
		
		//삭제버튼
		$("#dBtn").on("click", e=>{
			$("#dFrm").submit();
		})
		
		//댓글 등록 버튼
		$("#rBtn").on("click", e=>{
			let postNo = $("#postNo").val();
			let cntn = $("#rCntn").val();
			
			$.ajax({
		         url:'replyInsert',
		         type:'post',
		         data:{'postNo':postNo, 'cntn':cntn},
		         dataType:'json',
		         success:function(res){
		            $(".writer").html(res.wrtr);
		            $(".wdate").html(res.dttm);
		            $(".rcrtn").html(res.cntn);
		            
                    $("<tr>").append($("<td>").html(res.cntn))
                    .prependTo("#rTb")
                    
		            $("<tr>").append($("<td>").html(res.wrtr))
                    .append($("<td>").html(res.dttm))
                    .prependTo("#rTb")
                    
                    
                    
		         },error:function(){
		            
		         }
		      })
		})
	})
</script>

<style>
	.right{
		position: relative;
		left: 85%;
	}
	
</style>
</head>
<body>
	<main layout:fragment="content">
		<div>
			<table class="table">
				<tbody>
					<tr>
						<td colspan="6" th:text="${f.ttl}">제목들어가는곳</td>
					</tr>
					<tr>
						<th>작성자</th>
						<td th:text="${f.wrtr}"></td>
						<th>작성일자</th>
						<td th:text="${f.writeDt}"></td>
						<th>조회수</th>
						<td th:text="${f.hit}"></td>
					</tr>
					<tr>
						<td colspan="6" th:utext="${f.cntn}"> 내용들어가는곳</td>
					</tr>
					<tr th:if="${f.fNm != null}">
						<td colspan="6"><a th:href="|/attach/${f.postNo}|" th:text="${f.fNm}"></a></td>
					</tr>
				</tbody>
			</table>
			
			<!-- start reply -->
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="rCntn" name="cntn" placeholder="댓글을 입력하세요">
					<span id="rBtn" class="input-group-text">등록</span>
				</div><hr>
				
				<!-- db에 입력하면 입력한 댓글 추가 -->
				<div id="reply" style="display: none;">
				 	<table>
				 		<tbody>
				 			<tr>
				 				<td class="writer">작성자</td>
				 				<td class="wdate">작성일시</td>
				 			</tr>
				 			<tr>
				 				<td class="rcrtn">댓글내용</td>
				 				<td>수정아이콘</td>
				 				<td>삭제아이콘</td>
				 			</tr>
				 		</tbody>
				 	</table>				
				</div>
			
				
				<!-- reply List -->
				<div>
					<table th:each="r : ${replyList}">
				 		<tbody id="rTb">
				 			<tr>
				 				<td th:text="${r.wrtr}">작성자</td>
				 				<td th:text="${r.dttm}">작성일시</td>
				 			</tr>
				 			<tr>
				 				<td th:text="${r.cntn}">댓글내용</td>
				 				<td>수정아이콘</td>
				 				<td>삭제아이콘</td>
				 			</tr>
				 		</tbody>
				 	</table>	
				<hr></div>
			<!-- end reply -->
				
			<div>
				<span>
					<a href="freeList" class="btn btn-primary">목록</a>
				</span>
				<div class="btn-group right" role="group" aria-label="Basic example">
		        	<button type="button" class="btn btn-primary" id="uBtn">수정</button>
		            <button type="button" class="btn btn-primary" id="dBtn">삭제</button>
		        </div>
	        </div>
		</div>
		
		<div>
			<form id="uFrm" action="freeUpdateForm" method="post">
				<input type="hidden" name="postNo" th:value="${f.postNo}">
			</form>
		</div>
		<div>
			<form id="dFrm" action="freeDelete" method="post">
				<input type="hidden" id="postNo" name="postNo" th:value="${f.postNo}">
			</form>
		</div>
	</main>
</body>
</html>