<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Insert title here</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      //token
	  var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");
      let prjNo=105;
      let arr=[];
      let jsonData = $.ajax({
				    	  url:'ganttList',
				    	  type:'post',
				    	  data:{'prjNo':prjNo},
				    	  dataType:'json',
				    	  beforeSend:function(xhr){
				  	  		xhr.setRequestHeader(header,token);  
				      	  },
				    	  success:function(res){
				    		  $.each(res,(idx,gantt)=>{
				    			  let sdt = new Date(gantt.sdt)
				    			  let edt = new Date(gantt.edt)
				    			  var no = String(gantt.postNo); 
				    			  let a = [];
				    			  a.push(no);
				    			  a.push(gantt.bussTtl);
				    			  a.push(no);
				    			  a.push(sdt);
				    			  a.push(edt);
				    			  a.push(gantt.term);
				    			  a.push(gantt.prog);
				    			  a.push(gantt.sub);
				    			  
				    			  arr.push(a);
				    			  let aa = new Date(2014, 2, 22)
				    			  console.log(aa)
				    			  
				    		  })
				    		  console.log(arr)
				    		  
				    		  var data = new google.visualization.DataTable();
				    	      data.addColumn('string', 'Task ID');
				    	      data.addColumn('string', 'Task Name');
				    	      data.addColumn('string', 'Resource');
				    	      data.addColumn('date', 'Start Date');
				    	      data.addColumn('date', 'End Date');
				    	      data.addColumn('number', 'Duration');
				    	      data.addColumn('number', 'Percent Complete');
				    	      data.addColumn('string', 'Dependencies');
				    	      
				    	      data.addRows(arr);
				    	      
				    	      var options = {
				    	    	  height: 400,
				    	    	  gantt: {
				    	    	  	  trackHeight: 30
				    	    	  }
				    	   	  };

				    	      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

				    	      chart.draw(data, options);
				    	  }
				      })

      

      
      

      
    }
  </script>
</head>
<body>
	<div id="chart_div"></div>
</body>
</html>