<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/js/webSocket.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.11.4/r-2.2.9/datatables.min.css"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.11.4/r-2.2.9/datatables.min.js"></script>
<!-- ========= -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script>
	$(document).ready(function() {
		noticeSelect();
		
		//datatables
		$('#noticeTable').DataTable({
			//컬럼 갯수
			colums: [
				{data:"icon"},
				{data:"title"},
				{data:"write"},
				{data:"wdate"},
				{data:"hit"}
			],
			//컬럼 넓이
			columnDefs: [
				{targets:0, width:20},
				{targets:1, width:400},
				{targets:2, width:50},
				{targets:3, width:50},
				{targets:4, width:30}
			],
			//표시 건수 기능 숨기기
			lengthChange: false,
			//정렬 기능 숨기기
			ordering: false,
			//정보 표시 숨기기
			info: false
			
		});
		
		//공지글 상세조회
		function noticeSelect() {
			$("#tb").on("click", ".select", e=>{
				let no = $(e.target).data("no"); //게시글 번호
				$("#postNo").val(no)
				$("#frm").submit();
			})
		}
		
		
	} );
</script>
<style>
	.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
	}
	table, thead>th {
		margin-left:auto;
		margin-right:auto;
	}
	.location{
		position: relative;
		bottom: 43px;
	}
</style>
</head>
<body>
	<main layout:fragment="content">
	<div>
		<label><b>채팅방</b></label>
		<div id="msgArea"></div>
		<div>
			<input type="text" id="msg" aria-label="Recipient's username" aria-describedby="button-addon2">
			<button type="button" id="button-send">전송</button>
		</div>
	</div>
		<div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
             
				<!-- Start Page Title -->
				<div class="pagetitle">
			      <h1>공지사항</h1>
			    </div>
			    <!-- End Page Title -->
		    
				<div>
					<table id="noticeTable" class="display center" style="width: 100%">
						<thead>
							<tr>
								<th><i class="ri-alarm-warning-line"></i></th>
								<th><center>제목</center></th>
								<th>작성자</th>
								<th>작성일자</th>
								<th>조회수</th>
							</tr>
						</thead>
						<tbody id="tb">
							<tr th:each="n : ${noticeList}" th:classappend="${n.emerg} == '1' ? 'emerg'">
								<td><i th:classappend="${n.emerg} == '1' ? 'ri-alarm-warning-fill' : 'ri-alarm-warning-line'"></i></td>
								<td class="select" th:attr="data-no=${n.postNo}">
									<b><span th:if="${n.emerg}=='1'">[긴급공지]</span></b>&nbsp;[[${n.ttl}]]
								</td>
								<td th:text="${n.wrtr}">관리자</td>
								<td th:text="${n.writeDt}">2022-02-10</td>
								<td th:text="${n.hit}">0</td>
							</tr>
						</tbody>
					</table>
					<a href="noticeInsertForm" class="btn btn-primary location" th:if="${session.mng} == '게시판관리자'">글쓰기</a>
				</div>
			</div>
		</div>
		
		<div>
			<form id="frm" method="post" action="noticeSelect">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<input type="hidden" id="postNo" name="postNo">
			</form>
		</div>
	</main>
</body>
</html>