<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<title>TuneUp - 공지게시판</title>
<style>
.center {
	text-align: center;
	font-size: 20px;
}
.checkLo {
	position: relative;
	left: 50px;
	top: 5px;
}
.right {
	position: relative;
	left: 85%;
}
.textAreaLine {
	background-color: transparent;
	border: none;
	resize: none;
}
.text-white{
	background-color: #9c91cf !important;
}
.card{
	width: 100%; 
	
}
</style>
</head>
<body>
<main layout:fragment="content">
	<div class="card">
		<div class="card-body">
			<br>
			<div>
				<form id="noticeFrm">
					<input type="hidden" name="empNo" th:value="${session.empNo}"> 
					<input type="hidden" name="wrtr" th:value="${session.nm}">
					<table class="table">
						<tr>
							<td colspan="5">
								<div class="row mb-3">
									<label for="ttl" class="col-sm-2 col-form-label center"><b>제목</b></label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="ttl" name="ttl">
									</div>
								</div>
							</td>
							<td>
								<input type="checkbox" id="emerg" name="emerg" class="checkLo"> 
								<span class="checkLo" style="font-size: 18px; color: red;">긴급공지</span>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<textarea id="cntn" name="cntn" class="textAreaLine"></textarea>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<input class="form-control" type="file" id="file" name="file">
							</td>
						</tr>
					</table>
					<div>
						<span>
							<a href="noticeList" class="btn text-white">목록</a>
						</span> 
						<span class="right">
							<button type="button" id="noticeBtn" class="btn text-white">등록</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script th:inline="javascript">
	//에디터	
	$(function() {
		var plugins = [ "advlist", "autolink", "lists", "link", "image",
				"charmap", "print", "preview", "anchor", "searchreplace",
				"visualblocks", "code", "fullscreen", "insertdatetime",
				"media", "table", "paste", "code", "help", "wordcount", "save" ];
		var edit_toolbar = 'formatselect fontselect fontsizeselect |'
				+ ' forecolor backcolor |'
				+ ' bold italic underline strikethrough |'
				+ ' alignjustify alignleft aligncenter alignright |'
				+ ' bullist numlist |' + ' table tabledelete |' + ' link image';

		tinymce
				.init({
					language : "ko_KR", //한글판으로 변경
					selector : '#cntn',
					height : 500,
					menubar : false,
					plugins : plugins,
					toolbar : edit_toolbar,

					/*** image upload ***/
					image_title : true,
					automatic_uploads : true,
					file_picker_types : 'image',
					file_picker_callback : function(cb, value, meta) {
						var input = document.createElement('input');
						input.setAttribute('type', 'file');
						input.setAttribute('accept', 'image/*');
						input.onchange = function() {
							var file = this.files[0];
							var reader = new FileReader();
							reader.onload = function() {
								var id = 'blobid' + (new Date()).getTime();
								var blobCache = tinymce.activeEditor.editorUpload.blobCache;
								var base64 = reader.result.split(',')[1];
								var blobInfo = blobCache.create(id, file,
										base64);
								blobCache.add(blobInfo);

								cb(blobInfo.blobUri(), {
									title : file.name
								});
							};
							reader.readAsDataURL(file);
						};
						input.click();
					},
					/*** image upload ***/
					content_style : 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
				});

		//게시글 등록 버튼 눌렀을 때 submit도 하고 소켓에 메세지 보내는 함수
		$("#noticeBtn").on("click", function() {
			let formData = new FormData($("#noticeFrm")[0]);
			formData.append('file', $('input[name=file]')[0].files[0]);
			//let empNo = [[${session.empNo}]];
			//let wrtr = [[${session.nm}]];
			//let emerg = 0;
			let content = tinymce.activeEditor.getContent();
			console.log(content)
			let title = $("#ttl").val();
			//let file
			
			$("#cntn").val(content);

			if ($("#ttl").val().length == 0) {
				alert("제목을 입력해주세요");
				return;
			} else if ($("#cntn").val().length == 0) {
				alert("내용을 입력해주세요");
				return;
			}
			
			$.ajax({
				url:'noticeInsert',
				enctype: 'multipart/form-data',
				beforeSend:function(xhr){
		 	  		xhr.setRequestHeader(header,token);  
		     	 },
		     	type:'post',
		     	data:formData,
		     	contentType: false,
		        processData: false,
		     	success:function(res){
		     		//res로 communityVO 받아온다
		     		if(res.emerg == "1"){
		     			socket.send('notice,' + title + ',' + res.postNo);
		     		}
		     		location.href = "noticeList";
		     	}
			})
		});
	});
</script>
</main>
</body>
</html>