<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(function() {
		var plugins = [ "advlist", "autolink", "lists", "link", "image",
				"charmap", "print", "preview", "anchor", "searchreplace",
				"visualblocks", "code", "fullscreen", "insertdatetime",
				"media", "table", "paste", "code", "help", "wordcount", "save" ];
		var edit_toolbar = 'formatselect fontselect fontsizeselect |'
				+ ' forecolor backcolor |'
				+ ' bold italic underline strikethrough |'
				+ ' alignjustify alignleft aligncenter alignright |'
				+ ' bullist numlist |' + ' table tabledelete |' + ' link image';

		tinymce
				.init({
					language : "ko_KR", //한글판으로 변경
					selector : '#cntn',
					height : 500,
					menubar : false,
					plugins : plugins,
					toolbar : edit_toolbar,

					/*** image upload ***/
					image_title : true,
					/* enable automatic uploads of images represented by blob or data URIs*/
					automatic_uploads : true,
					/*
					    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
					    images_upload_url: 'postAcceptor.php',
					    here we add custom filepicker only to Image dialog
					 */
					file_picker_types : 'image',
					/* and here's our custom image picker*/
					file_picker_callback : function(cb, value, meta) {
						var input = document.createElement('input');
						input.setAttribute('type', 'file');
						input.setAttribute('accept', 'image/*');

						/*
						Note: In modern browsers input[type="file"] is functional without
						even adding it to the DOM, but that might not be the case in some older
						or quirky browsers like IE, so you might want to add it to the DOM
						just in case, and visually hide it. And do not forget do remove it
						once you do not need it anymore.
						 */
						input.onchange = function() {
							var file = this.files[0];

							var reader = new FileReader();
							reader.onload = function() {
								/*
								Note: Now we need to register the blob in TinyMCEs image blob
								registry. In the next release this part hopefully won't be
								necessary, as we are looking to handle it internally.
								 */
								var id = 'blobid' + (new Date()).getTime();
								var blobCache = tinymce.activeEditor.editorUpload.blobCache;
								var base64 = reader.result.split(',')[1];
								var blobInfo = blobCache.create(id, file,
										base64);
								blobCache.add(blobInfo);

								/* call the callback and populate the Title field with the file name */
								cb(blobInfo.blobUri(), {
									title : file.name
								});
							};
							reader.readAsDataURL(file);
						};
						input.click();
					},
					/*** image upload ***/

					content_style : 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
				});

		//게시글 수정
		$("#update").on("click", function() {
			//게시글 내용
			let content = tinymce.activeEditor.getContent();
			$("#cntn").val(content);

			$("#frm").submit();
		});

	});
</script>
<style>
.center {
	text-align: center;
}

.checkLo {
	position: relative;
	left: 50px;
	top: 5px;
}

.right {
	position: relative;
	left: 89%;
}
</style>
</head>
<body>
	<main layout:fragment="content">
		<div class="card">
			<div class="card-body">

				<br>

				<div>
					<form id="frm" method="post" action="noticeUpdate"
						enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
						<table class="table">
							<tr>
								<td colspan="5">
									<div class="row mb-3">
										<label for="ttl" class="col-sm-2 col-form-label center"><b>제목</b></label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="ttl" name="ttl"
												th:value="${n.ttl}">
										</div>
									</div>
								</td>
								<td><input type="checkbox" id="emerg" name="emerg"
									class="checkLo" th:checked="${n.emerg == '1'}"> <span
									class="checkLo">긴급공지</span></td>
							</tr>
							<tr>
								<td colspan="6"><textarea id="cntn" name="cntn"
										th:utext="${n.cntn}"></textarea></td>
							</tr>
							<tr>
								<td colspan="6"><input type="file" id="file" name="file">
								</td>
							</tr>
						</table>

						<div>
							<span> <a href="noticeList" class="btn btn-primary">목록</a>
							</span> <span class="right">
								<button type="button" id="update" class="btn btn-primary">수정</button>
							</span>
						</div>

						<div>
							<input type="hidden" id="postNo" name="postNo"
								th:value="${n.postNo}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
</html>