<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.schedule.mapper.ScheduleMapper">

	<select id="deptList" resultType="co.up.tune.emp.vo.EmpVO" parameterType="co.up.tune.emp.vo.EmpVO">
		SELECT EMP_NO, NM
		FROM EMP
		WHERE DEPT = #{dept}
	</select>
	
	<insert id="scheduleInsert" parameterType="co.up.tune.emp.vo.EmpVO">
		INSERT INTO SCHDULE
	</insert>

</mapper>