<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.com.bell.mapper.BellMapper">

	<select id="bellList" resultType="co.up.tune.com.vo.BellVO" parameterType="co.up.tune.com.vo.BellVO">
		SELECT *
		FROM BELL
		WHERE EMP_NO = #{empNo}
		ORDER BY BELL_NO
	</select>
	
	<insert id="bellInsert" parameterType="co.up.tune.com.vo.BellVO">
		<selectKey keyProperty="bellNo" order="BEFORE" resultType="int">
			SELECT 
				CASE WHEN MAX(BELL_NO) IS NULL THEN 1
				ELSE MAX(BELL_NO)+1
				END AS NO
			FROM BELL
		</selectKey>
		INSERT INTO BELL
		VALUES (#{bellNo}, SYSDATE, #{sender}, #{receiver}, #{cntn}, 'N', #{empNo})
	</insert>
	
	<delete id="bellDelete" parameterType="co.up.tune.com.vo.BellVO">
		DELETE FROM BELL
		WHERE BELL_NO = #{bellNo}
	</delete>
	
	<select id="bellCount" resultType="int">
		SELECT COUNT(*)
		FROM BELL
	</select>
	
</mapper>