<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>전자결재 - 나의 신청</title>
<style type="text/css">
*:focus {
    outline: 0;
}
</style>
</head>
<body>

	<!-- ======= Main ======= -->
	<main id="main" class="main" layout:fragment="content">

		<script>
	$(document).ready(function() {
		
		
		
		

		$('button[data-bs-toggle="tab"]').on("shown.bs.tab", function (e) {
		    var id = $(e.target).attr("data-bs-target");
		    localStorage.setItem('selectedTab', id)
		});

		var selectedTab = localStorage.getItem('selectedTab');
		
		if ( selectedTab ) {
		    $('[data-bs-target="' + selectedTab + '"]').tab('show');
		    
		} else{
			$('[data-bs-target="#aprv-list"]').tab('show');
		}
		
		
		
		
			$("#reqStBtns").on("click", "button", e=>{
				let reqSt = $(e.target).data("st"); 
				
				location.href=`/aprvReq?reqSt=${reqSt}`;
				
		    });
			
		
			$("#formCatBtns").on("click", "button", e=>{
				let formCat = $(e.target).data("cat"); 
				location.href=`/aprvReq?formCat=${formCat}`;
		    });
		
		function pageGo(p) {
			location.href=`aprvReq?aprvPage= p `;
		}

		function Gopage(p) {
			location.href=`aprvReq?formPage= p`;
		}
		
		
		
		
		
		
	});
</script>

		<!-- ======= Section ======= -->
		<section class="section">

			<!-- card -->
			<div class="card">
				<div class="card-body">

					<br>

					<!-- Page Title -->
					<div class="pagetitle">
						<h1>전자결재</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item active">나의 신청</li>
								<li class="breadcrumb-item"><a href="approval">나의 승인</a></li>
								<li class="breadcrumb-item" th:if="${session.auth == 'ADMIN'}"><a
									href="aprvAdmin">관리 기능</a></li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->

					<!-- Bordered Tabs -->

					<!-- navList -->
					<ul class="nav nav-tabs nav-tabs-bordered" id="bodyTab"
						role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="aprv-tab"
								data-bs-toggle="tab" data-bs-target="#aprv-list" type="button"
								role="tab" aria-controls="aprv" aria-selected="false">결재상태보기</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="form-tab" data-bs-toggle="tab"
								data-bs-target="#form-list" type="button" role="tab"
								aria-controls="form" aria-selected="false">문서작성하기</button>
						</li>
					</ul>
					<!-- End navList -->

					<!-- Bordered Tabs -->
					<div class="tab-content pt-2" id="bodyTabContent">
						<div class="tab-pane fade show active" id="aprv-list"
							role="tabpanel" aria-labelledby="aprv-tab">

							<br>

							<!-- Card with an image on left -->
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="assets/img/aprvReq.jpg"
											class="img-fluid rounded-start" alt="..."
											style="width: 350px;">
									</div>
									<div class="col-md-8">
										<div class="card-body">

											<br>

											<h5 class="card-title">결재신청목록</h5>
											<p class="card-text">
												내가 신청한 결재목록입니다. 진행 상태 및 반려 사유를 확인할 수 있습니다. <br> 문서를
												선택하여 상세내용을 확인할 수 있습니다.
											</p>
											<button type="button" id="lineBtn" class="btn btn-primary"
												data-bs-toggle="modal" data-bs-target="#aprvLineMD">
												<i class="ri-restart-line"> 기본 결재라인 변경</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Card with an image on left -->

							<!-- table card -->
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col text-center">

											<br>

											<div class="btn-group" id ="reqStBtns" role="group"
												aria-label="Aprv Request List" style="width: 100%;">
												<button type="button" th:each="c:${cd}"
													class="btn btn-outline-primary"
													th:text="${c.cdNm}" th:data-st="${c.cdNm}">전체</button>
											</div>

										</div>
									</div>

									<br>

									<!-- List group with Advanced Contents -->
									<div class="list-group" id = "aprvListDiv">
										<div class="list-group-item list-group-item-action aprvGroup"
											aria-current="true" th:each="p : ${pageInfo.list}" th:data-no="${p.aprvNo}" id = "aprvDiv">
											<div class="d-flex w-100 justify-content-between">
												<p class="mb-1 fw-bold" th:text="${p.ttl}">Some
													placeholder content in a paragraph.</p>
												<span th:if="${p.reqSt == '전송' or p.reqSt =='반려'  }"
													th:text="${p.reqSt}" class="badge bg-primary rounded-pill"
													style="height: 25px">수정가능</span> <span
													th:unless="${p.reqSt == '전송' or p.reqSt =='반려'  }"
													th:text="${p.reqSt}"
													class="badge bg-secondary rounded-pill"
													style="height: 25px">수정불가</span>
											</div> <small>And some small print.</small>
										</div>
										
										
										<div class="list-group-item list-group-item-action"
											aria-current="true"
											th:if="${#lists.size(pageInfo.List)} == 0">
											<div class="d-flex w-100">
												<p class="mb-1 text-center"
													style="float: none; margin: 0 auto;">상신한 문서가 존재하지 않습니다.</p>
											</div>
										</div>
									</div>
									<!-- End List group Advanced Content -->

									<!-- <div>
										<form id="frm" method="post" action="aprvSelect">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}"> <input type="hidden"
												id="aprvNo" name="aprvNo">
										</form>
									</div> -->

									<br>

									<!-- Pagination with icons -->
									<nav aria-label="Page navigation"
										th:if="${#lists.size(pageInfo.list)} != 0" id ="aprvListNav">
										<ul class="pagination pagination-info  justify-content-center" id = "aprvNav">
											<li class="page-item disabled"
												th:if="${pageInfo.isIsFirstPage()}"><span
												class="page-link">«</span></li>
											<li class="page-item"
												th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
												class="page-link"
												th:href="|javascript:pageGo([[${pageInfo.getPrePage()}]])|"
												rel="prev">«</a></li>
											<li
												th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
												th:each="page:${pageInfo.navigatepageNums}"><span
												class="page-link" th:if="${pageInfo.pageNum eq page}"
												th:text="${page}"></span> <a class="page-link"
												th:unless="${pageInfo.pageNum eq page}"
												th:href="|javascript:pageGo(${page})|" th:text="${page}">{{$page
													}}</a></li>
											<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
												class="page-link"
												th:href="|javascript:pageGo([[${pageInfo.getNextPage()}]])|"
												rel="next">»</a></li>
											<li class="page-item disabled"
												th:unless="${pageInfo.hasNextPage}"><span
												class="page-link">»</span></li>
										</ul>
									</nav>
									<!-- End Pagination with icons -->

								</div>
							</div>
							<!-- end table card -->

						</div>

						<!-- tabs gap -->

						<div class="tab-pane fade" id="form-list" role="tabpanel"
							aria-labelledby="form-tab">

							<br>

							<!-- Card with an image on left -->
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="assets/img/aprvForm.jpg"
											class="img-fluid rounded-start" alt="..."
											style="width: 350px;">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<br>
											<h5 class="card-title">기본서식목록</h5>
											<p class="card-text">결재 서식목록입니다. 서식을 클릭하시면 해당 양식으로 간편하게
												결재문서를 작성할 수 있습니다.</p>
											<button type="button" id="newBtn" class="btn btn-primary">
												<i class="ri-star-fill" onclick="location.href='/aprvForm'"> 새로운 서식으로 작성</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Card with an image on left -->

							<div class="card">
								<div class="card-body">

									<br>

									<div class="row">
										<div class="col text-center">
											<div class="btn-group" role="group" id = "formCatBtns"
												aria-label="Aprv Form List" style="width: 100%">
												<button type="button" th:each="t:${cat}"
													class="btn btn-outline-primary"
													th:text="${t.cdNm}" th:data-cat="${t.cdNm}">전체</button>

											</div>
										</div>
									</div>

									<br>



									<!-- List group with Advanced Contents -->
									<div class="list-group" id = "formListDiv">
										<div class="list-group-item list-group-item-action"
											aria-current="true" th:each="f : ${Info.list}">
											<div class="d-flex w-100 justify-content-between">
												<p class="mb-1 fw-bold" th:text="${f.formNm}">Some
													placeholder content in a paragraph.</p>

												<span th:if="${f.formCat == '개인'}" th:text="${f.formCat}"
													class="badge bg-primary rounded-pill" style="height: 25px"></span>
												<span th:unless="${f.formCat == '개인'}"
													th:text="${f.formCat}"
													class="badge bg-secondary rounded-pill"
													style="height: 25px">기타</span>

											</div> <small>And some small print.</small>
										</div>


										<div class="list-group-item list-group-item-action"
											aria-current="true" th:if="${#lists.size(Info.List)} == 0">
											<div class="d-flex w-100">
												<p class="mb-1 text-center"
													style="float: none; margin: 0 auto;">서식이 존재하지 않습니다.</p>
											</div>
										</div>
									</div>
									<!-- End List group Advanced Content -->
									
									<br>
									
									<!-- Pagination with icons -->
									<nav aria-label="Page navigation" id = "formListNav"
										th:if="${#lists.size(Info.list)} != 0">
										<ul class="pagination pagination-info  justify-content-center">
											<li class="page-item disabled"
												th:if="${Info.isIsFirstPage()}"><span
												class="page-link">«</span></li>
											<li class="page-item"
												th:if="${!Info.isIsFirstPage() && Info.getList().size() > 0}"><a
												class="page-link"
												th:href="|javascript:Gopage([[${Info.getPrePage()}]])|"
												rel="prev">«</a></li>
											<li
												th:class="|page-item ${(Info.pageNum eq page) ? 'active': ''} |"
												th:each="page:${Info.navigatepageNums}"><span
												class="page-link" th:if="${Info.pageNum eq page}"
												th:text="${page}"></span> <a class="page-link"
												th:unless="${Info.pageNum eq page}"
												th:href="|javascript:Gopage(${page})|" th:text="${page}">{{$page
													}}</a></li>
											<li class="page-item" th:if="${Info.hasNextPage}"><a
												class="page-link"
												th:href="|javascript:Gopage([[${Info.getNextPage()}]])|"
												rel="next">»</a></li>
											<li class="page-item disabled"
												th:unless="${Info.hasNextPage}"><span
												class="page-link">»</span></li>
										</ul>
									</nav>
									<!-- End Pagination with icons -->



								</div>
							</div>
						</div>
					</div>
					<!-- End Bordered Tabs -->

				</div>
			</div>
			<!-- End card -->

		</section>
		<!-- ======= End Section ======= -->

		<!-- Vertically centered Modal -->
		<div class="modal fade" id="aprvLineMD" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Vertically Centered</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">Non omnis incidunt qui sed occaecati
						magni asperiores est mollitia. Soluta at et reprehenderit. Placeat
						autem numquam et fuga numquam. Tempora in facere consequatur sit
						dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem
						neque recusandae quo sit molestias sint dignissimos.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Vertically centered Modal-->



		<!-- Scrolling Modal -->
		<div class="modal fade" id="aprvView" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">전자결재 - 문서상세</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="min-height: 750px;">

						<div id="pdf_canvas">

							<table class="table">
								<tbody>
									<tr>
										<td colspan="6" class="textSize" id="title"></td>
									</tr>

									<tr>
										<td colspan="6" class=".txtA" style="height: 500px">내용</td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary">수정</button>
				</div>
			</div>
		</div>
		<!-- End Scrolling Modal-->

	</main>
	<!-- End Main -->

</body>
</html>