<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneUp - 차트</title>

</head>
<body>
<div id="myDiagramDiv" style="width:1000px; height:500px; background-color: #ffffff;"></div>

<script src="/js/jquery-3.6.1.min.js"></script>
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<script>

const $ = go.GraphObject.make;

const myDiagram =
  $(go.Diagram, "myDiagramDiv",
    { "undoManager.isEnabled": true, layout: new go.TreeLayout({ angle: 90, layerSpacing: 35 }) });


myDiagram.nodeTemplate =
  $(go.Node, "Horizontal", { background: "#44CCFF" },
    $(go.Picture,{ margin: 10, width: 50, height: 50, background: "red" },
      new go.Binding("source")),
    $(go.TextBlock,"Default Text",
      { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
      new go.Binding("text", "name"))
  );
  
myDiagram.linkTemplate =
	  new go.Link(
	    { routing: go.Link.Orthogonal, corner: 5 })
	    .add(new go.Shape({ strokeWidth: 3, stroke: "#555" }))

myDiagram.model = new go.TreeModel(
		  [
		    { key: "1",              name: "Don Meow",   source: "cat1.png" },
		    { key: "2", parent: "1", name: "Demeter",    source: "cat2.png" },
		    { key: "3", parent: "1", name: "Copricat",   source: "cat3.png" },
		    { key: "4", parent: "3", name: "Jellylorum", source: "cat4.png" },
		    { key: "5", parent: "3", name: "Alonzo",     source: "cat5.png" },
		    { key: "6", parent: "2", name: "Munkustrap", source: "cat6.png" }
		  ]);

		
</script>
</body>
</html>