<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>내프로젝트</title>
</head>
<body>
	<iframe src='https://www.vchatcloud.com/chat-demo/iframe/iframe_metaverse/type_1/index.html?channelKey=usvimTtXyd-KvWVKiCrcM-20221006112354' allow="camera *;microphone *;display-capture *" frameborder='no' scrolling='no' marginwidth='0' marginheight='0' width='1000px' height='1000px'></iframe>
</body>
</html>