<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>TuneUp - 채팅</title>
</head>
<body>
	

	<iframe
		src='https://www.vchatcloud.com/chat-demo/iframe/iframe_metaverse/type_2/index.html?channelKey=usvimTtXyd-KvWVKiCrcM-20221006112354'
		allow="camera *;microphone *;display-capture *" frameborder='no'
		scrolling='no' marginwidth='1' marginheight='1' width='1000px'
		height='800px'></iframe>
</body>
</html>