<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>전자결재 - 서식 목록</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(document).ready(function() {
		
		formSelect();
		formCat();
		
		//상세조회
		function formSelect() {
			$("#tb").on("click", ".select", e=>{
				let no = $(e.target).data("no"); 
				$("#formNo").val(no)
				$("#frm").submit();
			})
		}
		
		//카테고리
		function formCat(){
			
			
			
		}
		
	
		
		function goPage(p) {
			location.href = '/formList?pageNum=' + p;
		}

		
		
		
	} );
</script>
</head>
<body>
	<!-- ======= Main ======= -->
	<main id="main" class="main" layout:fragment="content">

		<!-- Page Title -->
		<div class="pagetitle">
			<h1>전자결재</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">나의 신청</li>
					<li class="breadcrumb-item"><a href="approval">나의 승인</a></li>
					<li class="breadcrumb-item" th:if="${session.auth == 'ADMIN'}"><a
						href="aprvAdmin">관리 기능</a></li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<!-- ======= Section ======= -->
		<section class="section">

			<div class="card">
				<div class="card-body">

					<br>
					<!-- Bordered Tabs -->
					<!-- navList -->
					<ul class="nav nav-tabs nav-tabs-bordered" id="bodyTab"
						role="tablist">

						<li class="nav-item" role="presentation">
							<button class="nav-link" id="form-tab" data-bs-toggle="tab"
								data-bs-target="#form-list" type="button" role="tab"
								aria-controls="form" aria-selected="false">문서작성하기</button>
						</li>

					</ul>
					<!-- End navList -->


					<div class="tab-content pt-2" id="bodyTabContent">

						<div class="tab-pane fade" id="form-list" role="tabpanel"
							aria-labelledby="form-tab">



							<br>
							<!-- Card with an image on left -->
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="assets/img/aprvReq.jpg"
											class="img-fluid rounded-start" alt="..."
											style="width: 350px;">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<br>
											<h5 class="card-title">기본서식목록</h5>
											<p class="card-text">결재 서식목록입니다. 서식을 클릭하시면 해당 양식으로 간편하게
												결재문서를 작성할 수 있습니다.</p>
											<button type="button" class="btn btn-primary">
												<i class="bi bi-star me-1" data-bs-toggle="modal"
													data-bs-target="#scrollingModal">새로운 서식으로 작성</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- End Card with an image on left -->



							<div class="card">
								<div class="card-body">
									<br>
									<div class="row">
										<div class="col text-center">
											<div class="btn-group" role="group"
												aria-label="Aprv Form List" style="width: 100%">
												<button type="button" th:each="t:${cat}"
													class="btn btn-outline-primary" th:id="|form${t.code}btn|"
													th:text="${t.cdNm}" onclick="formCat()">전체</button>

											</div>
										</div>
									</div>
									<br>
									<table id="formTable" class="table table-hover"
										style="width: 100%">
										<tbody id="tb" class="list-group">
											<tr th:each="f : ${formList}">
												<td
													class="list-group-item d-flex justify-content-between align-items-start">
													<div class="ms-2 me-auto">
														<div class="fw-bold" th:text="${f.formNm}"></div>
														작성자 이름 부서 등등..
													</div> <span class="badge bg-primary rounded-pill"
													th:text="${f.formCat}">상태</span>
												</td>
											</tr>
										</tbody>
									</table>




								</div>
							</div>

						</div>


					</div>
					<!-- End Bordered Tabs -->
				</div>
			</div>

		</section>
		<!-- ======= End Section ======= -->




		<!-- Scrolling Modal -->

		<div class="modal fade" id="scrollingModal" tabindex="-1"
			data-bs-backdrop="false">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Scrolling Modal</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="min-height: 750px;">Non omnis
						incidunt qui sed occaecati magni asperiores est mollitia.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>

		<!-- End Scrolling Modal-->



	</main>
	<!-- End Main -->



</body>
</html>