<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.calendar.mapper.CalendarMapper">

	<select id="CalendarList" resultType="co.up.tune.prj.vo.CalendarVO" parameterType="co.up.tune.prj.vo.CalendarVO">
		SELECT 0 CAL_NO, CNTN, SDT, EDT 
		FROM PROJECT
		WHERE PRJ_NO IN (
		    SELECT PRJ_NO FROM TEAM WHERE EMP_NO=#{empNo}
		)
		UNION
		SELECT CAL_NO,CNTN,SDT,EDT FROM CALENDAR
	</select>
	
	<insert id="CalendarInsert" parameterType="co.up.tune.prj.vo.CalendarVO">
		<selectKey keyProperty="calNo" order="BEFORE" resultType="int">
			SELECT
				CASE WHEN MAX(CAL_NO) IS NULL THEN 1
				ELSE MAX(CAL_NO)+1
				END AS NO
			FROM CALENDAR
		</selectKey>
		INSERT INTO CALENDAR
		VALUES(#{calNo}, 999, #{cntn}, #{sdt}, #{edt}, '302')
	</insert>
	
	<delete id="CalendarDelete" parameterType="co.up.tune.prj.vo.CalendarVO">
		DELETE FROM CALENDAR
		WHERE CAL_NO = #{calNo}
	</delete>


</mapper>