<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>전자결재 - 나의 승인</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	function goPage(p) {
		location.href = '/approval?pageNum=' + p;
	}
</script>
</head>

<body>
	<!-- ======= Main ======= -->
	<main id="main" class="main" layout:fragment="content">



		<section class="section">

			<div class="card">
				<div class="card-body">
					<br>
					<!--Page Title -->
					<div class="pagetitle">
						<h1>전자결재</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="aprvReq">나의 신청</a></li>
								<li class="breadcrumb-item active">나의 승인</li>
								<li class="breadcrumb-item"><a href="aprvAdmin"
									th:if="${session.auth == 'ADMIN'}">관리 기능</a></li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<!-- Bordered Tabs -->
					<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab"
						role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="list-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-list"
								type="button" role="tab" aria-controls="list"
								aria-selected="true">승인하기</button>
						</li>
					</ul>

					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-list"
							role="tabpanel" aria-labelledby="list-tab">
							<!-- List Tabs -->

							<br>
							<!-- Card with an image on left -->
							<div class="card mb-3">
								<div class="row g-0">
									<div class="col-md-4">
										<img src="assets/img/approval.jpg"
											class="img-fluid rounded-start" alt="..."
											style="width: 350px;">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<br>
											<h5 class="card-title">결재대기목록</h5>
											<p class="card-text">나에게 참조 또는 상신된 결재목록입니다. 문서를 검토하여
												승인하거나 반려할 수 있습니다. 일정 기간 동안 결재를 위임을 설정할 수 있습니다.</p>
											<button type="button" class="btn btn-primary">
												<i class="ri-pencil-fill"> 나의 서명 관리</i>
											</button>
											<button type="button" class="btn btn-primary"
												data-bs-toggle="modal" data-bs-target="#disablebackdrop">
												<i class="ri-account-pin-circle-fill"> 결재 위임자 설정</i>
											</button>


										</div>
									</div>
								</div>
							</div>
							<!-- End Card with an image on left -->


							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col text-center">
											<br>
											<div class="btn-group" role="group"
												aria-label="Aprv Request List" style="width: 100%;">
												<button type="button" th:each="c:${cd}"
													class="btn btn-outline-primary" th:id="|aprv${c.code}btn|"
													th:text="${c.cdNm}" onclick="approval()">전체</button>
											</div>
										</div>
									</div>
									<br>





									<!-- List group with Advanced Contents -->
									<div class="list-group">
										<a href="#" class="list-group-item list-group-item-action"
											aria-current="true" th:each="p : ${pageInfo.list}">
											<div class="d-flex w-100 justify-content-between">
												<p class="mb-1 fw-bold" th:text="${p.ttl}">Some
													placeholder content in a paragraph.</p>

												<span th:unless="${p.reqSt == '반려' or p.reqSt =='완료'  }"
													th:text="진행" class="badge bg-primary rounded-pill"
													style="height: 25px">수정가능</span> <span
													th:if="${p.reqSt == '반려' or p.reqSt =='완료'  }"
													th:text="${p.reqSt}"
													class="badge bg-secondary rounded-pill"
													style="height: 25px">수정불가</span>


											</div> <small>And some small print.</small>
										</a> <div class="list-group-item list-group-item-action"
											aria-current="true"
											th:if="${#lists.size(pageInfo.List)} == 0">
											<div class="d-flex w-100">
												<p class="mb-1 text-center" style="float:none; margin:0 auto;" >결재할 문서가 존재하지 않습니다.</p>
											</div>
										</div>

									</div>
									<!-- End List group Advanced Content -->




									<!-- Pagination with icons -->


									<nav aria-label="Page navigation" th:if="${#lists.size(pageInfo.List)} != 0">
										<ul class="pagination pagination-info  justify-content-center">
											<li class="page-item disabled"
												th:if="${pageInfo.isIsFirstPage()}"><span
												class="page-link">«</span></li>
											<li class="page-item"
												th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
												class="page-link"
												th:href="|javascript:pageGo([[${pageInfo.getPrePage()}]])|"
												rel="prev">«</a></li>
											<li
												th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
												th:each="page:${pageInfo.navigatepageNums}"><span
												class="page-link" th:if="${pageInfo.pageNum eq page}"
												th:text="${page}"></span> <a class="page-link"
												th:unless="${pageInfo.pageNum eq page}"
												th:href="|javascript:pageGo(${page})|" th:text="${page}">{{$page
													}}</a></li>
											<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
												class="page-link"
												th:href="|javascript:pageGo([[${pageInfo.getNextPage()}]])|"
												rel="next">»</a></li>
											<li class="page-item disabled"
												th:unless="${pageInfo.hasNextPage}"><span
												class="page-link">»</span></li>
										</ul>
									</nav>

									<!-- End Pagination with icons -->




								</div>
							</div>

						</div>
					</div>
					<!-- End Bordered Tabs -->
				</div>
			</div>







		</section>

		<!-- Disabled Backdrop Modal -->

		<div class="modal fade" id="disablebackdrop" tabindex="-1"
			data-bs-backdrop="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Disabled Backdrop</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">Non omnis incidunt qui sed occaecati
						magni asperiores est mollitia. Soluta at et reprehenderit. Placeat
						autem numquam et fuga numquam. Tempora in facere consequatur sit
						dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem
						neque recusandae quo sit molestias sint dignissimos.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Disabled Backdrop Modal-->




	</main>
	<!-- End #main -->
</body>
</html>