<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link href="assets/css/style.css" rel="stylesheet">
<title>파일함 페이지</title>
<script src="/js/jquery-3.6.1.min.js"></script>

<style type="text/css">
button {
	float: right;
	margin: 5px;
}

.search-bar {
	min-width: 360px;
	padding: 0 20px;
}

.search-form input {
	border: 0;
	font-size: 14px;
	color: #012970;
	border: 1px solid rgba(1, 41, 112, 0.2);
	padding: 7px 38px 7px 8px;
	border-radius: 3px;
	transition: 0.3s;
	width: 40%;
}

.search-form input:focus, .search-form input:hover {
	outline: none;
	box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
	border: 1px solid rgba(1, 41, 112, 0.3);
}

.search-form button {
	border: 0;
	padding: 0;
	margin-left: -30px;
	background: none;
}

.search-form button i {
	color: #012970;
}
</style>

<script>
	//파일 업로드 폼으로 이동
	$(function() {
		$("#fileUploadForm").click(function() {
			location.href = 'fileUploadForm';
		})
	});

	//파일 체크한 뒤 삭제(프로젝트)
	$(function() {

		var chkObj = document.getElementsByName("RowCheck");
		var rowCnt = chkObj.length;

		$("input[name='allCheck']").click(function() {
			var chk_listArr = $("input[name='RowCheck']");
			for (var i = 0; i < chk_listArr.length; i++) {
				chk_listArr[i].checked = this.checked;
			}
		});
		$("input[name='RowCheck']").click(function() {
			if ($("input[name='RowCheck']:checked").length == rowCnt) {
				$("input[name='allCheck']")[0].checked = true;
			} else {
				$("input[name='allCheck']")[0].checked = false;
			}
		});
	});
	
	//파일 체크한 뒤 삭제(내 파일함)
	$(function() {
		var chkObj = document.getElementsByName("RowCheck1");
		var rowCnt = chkObj.length;

		$("input[name='allCheck1']").click(function() {
			var chk_listArr = $("input[name='RowCheck1']");
			for (var i = 0; i < chk_listArr.length; i++) {
				chk_listArr[i].checked = this.checked;
			}
		});
		
		$("input[name='RowCheck1']").click(function() {
			if ($("input[name='RowCheck1']:checked").length == rowCnt) {
				$("input[name='allCheck1']")[0].checked = true;
			} else {
				$("input[name='allCheck1']")[0].checked = false;
			}
		});
	});
	//프로젝트 부분
	function deleteValue() {
		var url = "filedelete"; // Controller로 보내고자 하는 URL (.dh부분은 자신이 설정한 값으로 변경해야됨)
		var valueArr = new Array();
		var list = $("input[name='RowCheck']");
		var fPaths = new Array();

		for (var i = 0; i < list.length; i++) {

			if (list[i].checked) { //선택되어 있으면 배열에 값을 저장함
				valueArr.push(list[i].value);
				fPaths.push($(list[i]).parent().next().next().children()
						.first().data("path"));
			}
		}

		if (valueArr.length == 0) {

			alert("선택된 글이 없습니다.");

		} else {

			if (confirm("정말 삭제하시겠습니까?")) {

				$.ajax({
					url : url, // 전송 URL
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					type : 'POST', // GET or POST 방식
					data : {
						'valueArr' : valueArr
					// 보내고자 하는 data 변수 설정
					},
					success : function(jdata) {
						if (jdata = 1) {
							alert("삭제 성공");
							location.replace("files")
						} else {
							alert("삭제 실패");
						}
					},
					error : function(error) {
						alert("파일 삭제를 실패하였습니다")
					}
				});

			} else {
				return;
			}

		}
	}
	
	//내 보관함 부분
	function deleteValue1() {
		var url = "filedelete"; // Controller로 보내고자 하는 URL (.dh부분은 자신이 설정한 값으로 변경해야됨)
		var valueArr = new Array();
		var list = $("input[name='RowCheck1']");
		var fPaths = new Array();

		for (var i = 0; i < list.length; i++) {
			if (list[i].checked) { //선택되어 있으면 배열에 값을 저장함
				valueArr.push(list[i].value);
				fPaths.push($(list[i]).parent().next().next().children()
						.first().data("path"));
			}
		};

		if (valueArr.length == 0) {
			alert("선택된 글이 없습니다.");
		} else {
			if (confirm("정말 삭제하시겠습니까?")) {

				$.ajax({
					url : url, // 전송 URL
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					type : 'POST', // GET or POST 방식
					data : {
						'valueArr' : valueArr,
						'fPaths' : fPaths
					// 보내고자 하는 data 변수 설정
					},
					success : function(jdata) {
						if (jdata = 1) {
							alert("삭제 성공");
							location.replace("files")
						} else {
							alert("삭제 실패");
						}
					},
					error : function(error) {
						alert("파일 삭제를 실패하였습니다")
					}
				});
			} else {
				return;
			}
		}
	}
</script>
</head>
<body>
	<main layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<br>
				<div class="pagetitle">
					<h1>프로젝트</h1>
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item "><a href="#">새 프로젝트</a></li>
							<li class="breadcrumb-item "><a href="#">내 프로젝트</a></li>
							<li class="breadcrumb-item active"><a href="#">내 파일함</a></li>
						</ol>
					</nav>
				</div>
				<br>

				<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
					<li class="nav-item flex-fill" role="presentation" id="default">
						<button class="nav-link w-100 active" id="home-tab"
							data-bs-toggle="tab" data-bs-target="#home-justified"
							type="button" role="tab" aria-controls="home"
							aria-selected="true">내 보관함</button>
					</li>
					<li class="nav-item flex-fill" role="presentation">
						<button class="nav-link w-100" id="contact-tab"
							data-bs-toggle="tab" data-bs-target="#business-justified"
							type="button" role="tab" aria-controls="contact"
							aria-selected="false">프로젝트</button>
					</li>
				</ul>

				<!-- 프로젝트 -->
				<div class="tab-content pt-2" id="myTabjustifiedContent">
					<div class="tab-content pt-2" id="myTabjustifiedContent">
						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- 내 보관함 -->
							<br>
							<form class="search-form d-flex align-items-center" method="POST"
								action="#">
								<input type="text" name="query" placeholder="Search"
									title="Enter search keyword">
								<button type="submit" title="Search">
									<i class="bi bi-search"></i>
								</button>
							</form>
							<div>
								<button type="button"
									class="btn btn btn-outline-secondary btn-sm"
									onclick="deleteValue1();">선택삭제</button>
							</div>

							<div>
								<button type="button" class="btn btn-outline-primary btn-sm"
									id="fileUploadForm">파일 추가</button>
							</div>
							<input type="hidden" id="empNo" name="empNo"
								th:value="${session.empNo}"> <input type="hidden"
								id="wrtr" name="wrtr" th:value="${session.nm}">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col"><input class="form-check-input"
											type="checkbox" name="allCheck1" id="allCheck1"></th>
										<th scope="col">카테고리</th>
										<th scope="col">파일명</th>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="m : ${myFileList}">
										<th scope="row"><input th:value="${m.fileNo}"
											class="form-check-input" type="checkbox" name="RowCheck1"></th>
										<td th:text="${m.fCat}"></td>
										<td><a class="filePath" th:attr="data-path=${m.fPath}"
											th:href=@{/attach(path=${m.fPath})} th:text="${m.fNm}"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 내보관함 끝 -->

						<!-- 프로젝트 -->
						<div class="tab-pane fade" id="business-justified" role="tabpanel"
							aria-labelledby="profile-tab">
							<br> <input type="hidden" id="empNo" name="empNo"
								th:value="${session.empNo}"> <input type="hidden"
								id="wrtr" name="wrtr" th:value="${session.nm}"> <br>
							<form class="search-form d-flex align-items-center" method="POST"
								action="#">
								<input type="text" name="query" placeholder="Search"
									title="Enter search keyword">
								<button type="submit" title="Search">
									<i class="bi bi-search"></i>
								</button>
							</form>
							<div>
								<button type="button" class="btn btn-outline-secondary btn-sm"
									onclick="deleteValue();">선택삭제</button>
							</div>
							
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col"><input class="form-check-input"
											type="checkbox" name="allCheck" id="allCheck"></th>
										<th scope="col">프로젝트 이름</th>
										<th scope="col">파일이름</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="f: ${prjFileList}">
										<th scope="row"><input th:value="${f.fileNo}"
											class="form-check-input" type="checkbox" name="RowCheck"></th>
										<td th:text="${f.pNm}"></td>
										<td><a class="filePath" th:attr="data-path=${f.fPath}"
											th:href=@{/attach(path=${f.fPath})} th:text="${f.fNm}"></a></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 프로젝트 끝 -->
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>