<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>파일함 페이지</title>
<style type="text/css">
	.filter{
		float: right;
		padding: 10px;	
	}
	
</style>
</head>
<body>
	<main layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">FILES</h5>
				
				<div>
					<button type="button" class="btn btn-outline-primary btn-sm" href="fileUpload">파일 추가</button>
					<button type="button" class="btn btn-outline-danger btn-sm">파일 삭제</button>
				</div>
				<br>
				<br>
				
				<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
						
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100 active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-justified"
								type="button" role="tab" aria-controls="home"
								aria-selected="true">프로젝트</button>
						
						
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="pst-tab"
								data-bs-toggle="tab" data-bs-target="#pst"
								type="button" role="tab" aria-controls="pst"
								aria-selected="false">전자결재</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#business-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">내 보관함</button>
						</li>
						
					</ul>
				
			<!-- 프로젝트 -->	
			<div class="tab-content pt-2" id="myTabjustifiedContent">
				<div class="tab-content pt-2" id="myTabjustifiedContent">
						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
								<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">프로젝트 이름</th>
							<th scope="col">파일명</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f: ${fileList">
							<th scope="row">1</th>
							<td th:text="${f.pNm}" th:attr="data-no${f.fileNo}">Brandon Jacob</td>
							<td th:text="${f.fNm}">Designer</td>
							<td >28</td>
							<td>2016-05-25</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Bridie Kessler</td>
							<td>Developer</td>
							<td>35</td>
							<td>2014-12-05</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Ashleigh Langosh</td>
							<td>Finance</td>
							<td>45</td>
							<td>2011-08-12</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>Angus Grady</td>
							<td>HR</td>
							<td>34</td>
							<td>2012-06-11</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td>Raheem Lehner</td>
							<td>Dynamic Division Officer</td>
							<td>47</td>
							<td>2011-04-19</td>
						</tr>
					</tbody>
				</table>
				<!-- End Table with hoverable rows -->
				
				<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
			</div>	
			<!-- 프로젝트 끝 -->
			
			<!-- 전자결재 -->			
			<div class="tab-pane fade" id="pst" role="tabpanel" aria-labelledby="pst-tab">		
				<!-- Table with hoverable rows -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">파일명</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Designer</td>
							<td>28</td>
							<td>2016-05-25</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Developer</td>
							<td>35</td>
							<td>2014-12-05</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Finance</td>
							<td>45</td>
							<td>2011-08-12</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>HR</td>
							<td>34</td>
							<td>2012-06-11</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td>Dynamic Division Officer</td>
							<td>47</td>
							<td>2011-04-19</td>
						</tr>
					</tbody>
				</table>
				<!-- End Table with hoverable rows -->
				
				<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
             </div>
             <!-- 전자결재 끝-->
             
             <!-- 내 보관함 -->
             <div class="tab-pane fade" id="business-justified" role="tabpanel"
							aria-labelledby="profile-tab">
             	<!-- Table with hoverable rows -->
             	<div float="left">
             	<button type="button" class="btn btn-outline-primary btn-sm" href="fileUpload">파일 추가</button>
             	</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">파일명</th>
							<th scope="col">카테고리</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="m : ${myFileList}">
							<th scope="row">1</th>
							<td th:text="${m.fNm}">Designer</td>
							<td th:text="${m.fCat}">Designer</td>
							
						</tr>
						
					</tbody>
				</table>
				<!-- End Table with hoverable rows -->
				
				<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
             </div>
             <!-- 내 보관함 끝 -->
             
             
             
             
             </div>
			</div>
			</div>
		</div>

	</main>
</body>
</html>