<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>내파일함</title>
</head>
<body>
	<div>
		<button type="button" class="btn btn-outline-primary btn-sm"
			id="fileUploadForm">파일 추가</button>
	</div>
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">파일명</th>
				<th scope="col">카테고리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m : ${myFileSelect}">
				<th scope="row">1</th>
				<td th:text="${m.fNm}">Designer</td>
				<td th:text="${m.fCat}">Designer</td>

			</tr>

		</tbody>
	</table>
	<!-- 페이징 -->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
			</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>

</body>
</html>