<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 내 파일함</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	
</script>
</head>
<body>
	<main layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<br>
				<div class="pagetitle">
					<h1>프로젝트</h1>
					<nav>
						<ol class="breadcrumb">
							
							<li class="breadcrumb-item ">내 프로젝트</li>
							<li class="breadcrumb-item active">내 파일함</li>
							<li class="breadcrumb-item ">내 게시글</li>
						</ol>
					</nav>
				</div>
				<br>
				<form method="post" action="fileInsert"
					enctype="multipart/form-data">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}"> <input type="hidden"
						name="empNo" th:value="${session.empNo}">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">위치</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" value="내 파일함" disabled>
						</div>
					</div>
					<div class="row mb-3">
						<label for="inputNumber" class="col-sm-2 col-form-label">File
							Upload</label>
						<div class="col-sm-10">
							<input class="form-control" type="file" name="file" id="formFile" required>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label"></label>
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary"
								onclick="insertFile()">파일 업로드</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
</html>