<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>프로젝트 파일함</title>
</head>
<body>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">프로젝트 이름</th>
				<th scope="col">파일명</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="f: ${myFileSelect}">
				<th scope="row">1</th>
				<td th:text="${f.pNm}" th:attr="data-no${f.fileNo}">Brandon
					Jacob</td>
				<td th:text="${f.fNm}">Designer</td>
				<td>28</td>
				<td>2016-05-25</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Bridie Kessler</td>
				<td>Developer</td>
				<td>35</td>
				<td>2014-12-05</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Ashleigh Langosh</td>
				<td>Finance</td>
				<td>45</td>
				<td>2011-08-12</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td>Angus Grady</td>
				<td>HR</td>
				<td>34</td>
				<td>2012-06-11</td>
			</tr>
			<tr>
				<th scope="row">5</th>
				<td>Raheem Lehner</td>
				<td>Dynamic Division Officer</td>
				<td>47</td>
				<td>2011-04-19</td>
			</tr>
		</tbody>
	</table>
	
	<!-- 페이징 -->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
			</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</body>
</html>