<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>HOME</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<style>
.attdBt {
	text-align: center;
}

#stBtn {
	display: inline-block;
}

#edBtn {
	display: inline-block;
}

body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 1100px;
	margin: 0 auto;
}
</style>
<link href='/fullcalendar-5.11.3/lib/main.css' rel='stylesheet' />
<script src='/fullcalendar-5.11.3/lib/main.js'></script>
</head>
<body>
	<main layout:fragment="content">
		<script>
let schedules = []; //schedules가 db에 있는 모든 리스트
$(document).ready(function(){
	//확인 버튼 클릭 이벤트
	 $("#attdBtn").on("click", e=>{
		$("#stFrm").submit();
	 	$(e.target).attr("disabled", true); 
	 	alert("출근 처리 되었습니다!");
		
	});
	
	$("#edBtn").on("click", e=>{
		if(confirm("정말 퇴근하시겠습니까?")){
			$("#endFrm").submit(); 
			alert("퇴근 처리 되었습니다.");
		} 
		 
		
	})
	
	/* ===== 달력 ===== */
	var calendarEl = document.getElementById('calendar');
	let empNo = $("#eNo").val();
	
	//캘린더 전체리스트 ajax
	$.ajax({
		url:'calendarList',
		beforeSend:function(xhr){
			xhr.setRequestHeader(header,token);  
	 	},
		type:'post',
		data:{'empNo':empNo},
		dataType:'json',
		success:function(res){
			$.each (res, function (idx, schedule) {
				let event = {};
				event.id = schedule.calNo;
		 		event.title = schedule.cntn;
				event.start = schedule.sdt;
				event.end = schedule.edt;
				event.type = schedule.calTyp;
	       
				schedules.push(event);
			});
			
	     // 원래 코드 ~ calendar.render();
	     var calendar = new FullCalendar.Calendar(calendarEl, {
	       headerToolbar: {
	         left: 'prev,next today',
	         center: 'title',
	         right: 'dayGridMonth,timeGridWeek,timeGridDay'
	       },
	       initialDate: new Date(), //'2020-09-12',
	       titleFormat: function (date) {
	           // YYYY년 MM월
	           return `${date.date.year}년 ${date.date.month + 1}월`;
	        },
	       navLinks: true, // can click day/week names to navigate views
	       selectable: true,
	       selectMirror: true,
	       select: function (arg) {
	         var title = prompt('일정을 등록하세요:');
	         if (title) {
	           // DB에 입력처리
	           $.ajax({
	           	url:'calendarInsert',
	           	beforeSend:function(xhr){
	       	  		xhr.setRequestHeader(header,token);  
	           	  },
	           	type:'post',
	           	data:{'empNo':empNo, 'cntn':title, 'sdt':arg.startStr, 'edt':arg.endStr},
	           	dataType:'json',
	           	success:function(res){
	           		//db에 insert가 되면 res에 calenderVO가 넘어오도록 설정
	           		let calNo = res;
	           		if(res) {
	           			// 화면에 그려주는 부분
		                calendar.addEvent({
		                  id: res.calNo,
		                  title: title,
		                  start: arg.start,
		                  end: arg.end,
		                  type: res.calTyp,
		                  allDay: arg.allDay
		                })
	           		}
	           	}
	           })
	           
	         }
	         calendar.unselect();
	       },
	       eventClick: function (arg) {
	       	//Type 개인일정:302/ 프로젝트는 프로젝트번호
	       	let type = arg.event._def.extendedProps.type;
	       	if(type != 302){
	       		alert('프로젝트 일정은 삭제 할 수 없습니다.')
	       	}
	       	else if (type ==302 && confirm('일정을 삭제하겠습니까?')) {
	           // 삭제
	           let calNo = arg.event._def.publicId; //캘린더 번호
			$.ajax({
				url:'calendarDelete',
				beforeSend:function(xhr){
			  		xhr.setRequestHeader(header,token);  
		    	  },
				type:'post',
				data:{'calNo':calNo},
				dataType:'json',
				success:function(res){
					//db에 삭제가 되면 res값이 true가 나오도록 함
					if(res){
						arg.event.remove();
					}
				}
				
			})
	         }
	       },
	       editable: true,
	       dayMaxEvents: true, // allow "more" link when too many events
	       events: schedules,
	       eventColor: '#b7cca7',
	       eventDidMount: function(info) {
	       	let prjColor = '#8f9fc9';
	       	if(info.event.extendedProps.type != 302){
	       		info.el.style.backgroundColor = prjColor;
	       	}
	       }
	       		
	     });
	
	     calendar.render();
	
		}
	}) // schedules => [{},{},{}]
	
	
	//공지글 상세조회
	$("#noticeTable").on("click", "tbody>tr", e=>{
		let no = $(e.currentTarget).data("no"); //게시글 번호
		$("#pn").val(no)
		$("#noticeFrm").submit();
	})
	
	
	
})
</script>
		<section class="section profile">
			<div class="row">
				<div class="col-xl-9">
					<div class="card">
						<div class="card-body" style="min-height: 800px;">
							<br> <br>
							<div id='calendar'></div>
						</div>
					</div>
				</div>

				<div class="col-xl-3">
					<div class="card">
						<div class="card-body pt-3" style="min-height: 800px;">
							<br>
							<div class="card mb-3">
								<div class="card-body">
									<br>
									<h5 th:text="|${session.nm}님 환영합니다.|"></h5>
									<hr>
									<div class="btn-group" role="group" aria-label="Basic example"
										style="width: 100%;">
										<button id="attdBtn" type="button" class="btn btn-primary">출근</button>
										<button id="edBtn" type="button" class="btn btn-primary">퇴근</button>
									</div>

									<br> <br>
									<div class="col-12 justify-content-end">
										<button type="button" class="btn btn-primary"
											style="width: 100%;" onclick="location.href='myAttdList'">근태 관리</button>
									</div>
								</div>
							</div>

							<div class="card mb-3">
								<div class="card-body">
									<div class="col-12">
										<br>

										<h5 class="text-center">NOTICE</h5>
										<hr>

										<table id="noticeTable" class="table table-hover">
											<thead hidden="hidden">
												<tr>
													<th>제목</th>

												</tr>
											</thead>
											<tbody id="tb">
												<tr th:each="n : ${nList.getList()}"
													th:attr="data-no=${n.postNo}">
													<td>[[${n.ttl}]]</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div>
						<form id="noticeFrm" method="post" action="noticeSelect">
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}"> <input type="hidden" id="pn"
								name="postNo">
						</form>
						<form id="stFrm" method="post" action="startAttd">
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}"> <input type="hidden"
								name="empNo" th:value="${session.empNo}"> <input
								type="hidden" name="nm" th:value="${session.nm}"> <input
								type="hidden" name="dept" th:value="${session.dept}"> <input
								type="hidden" name="position" th:value="${session.position}">
						</form>
						<form id="endFrm" method="post" action="endAttd">
							<input type="hidden" class="inputToken"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<input type="hidden" class="inputEmpNo" name="empNo"
								th:value="${session.empNo}">

						</form>
					</div>
				</div>
			</div>


		</section>



	</main>
</body>
</html>