<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>HOME</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(document).ready(function(){
		//확인 버튼 클릭 이벤트
		$("#stBtn").on("click", e=>{
			$("#aFrm").submit();
			$(this).attr("disabled",true);
			
		});
		
		$("#edBtn").on("click", e=>{
			$("#enddFrm").submit();
			
		})
		
		
	})
</script>
<style>
.attdBt {
	text-align: center;
}

#stBtn {
	display: inline-block;
}

#edBtn {
	display: inline-block;
}
</style>
</head>
<body>
	<main layout:fragment="content">

		<section class="section profile">
			<div class="row">
				<div class="col-xl-9">

					<div class="card">
						<div
							class="card-body profile-card pt-4 d-flex flex-column align-items-center" style="height: 3000px;">
							<h5 sec:authentication="name">님 환영합니다!!</h5>

							달력 어쩌구 높이 스타일 수정해야함
						</div>
					</div>

				</div>

				<div class="col-xl-3">

					<div class="card">
						<div class="card-body pt-3" style="height: 3000px;">근태 어쩌구 높이 스타일 수정해야함</div>
					</div>

				</div>
			</div>
		</section>



	</main>
</body>
</html>