<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>HOME</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(document).ready(function(){
		//확인 버튼 클릭 이벤트
		$("#stBtn").on("click", e=>{
			$("#aFrm").submit();
			$(this).attr("disabled",true);
			
		});
		
		$("#edBtn").on("click", e=>{
			$("#enddFrm").submit();
			
		})
		
		
	})
</script>
<style>
.attdBt{
	text-align: center;
}
#stBtn{
	display :inline-block;
}

#edBtn{
	display :inline-block;
}

</style>
</head>
<body>
	<main layout:fragment="content">
		<div class="card">
			<div class="card-body">
				<h2 sec:authentication="name"></h2>
				님 환영합니다!!
				<!-- <h5 class="card-title">로그인 하면 보이는 홈화면</h5> -->
					<div class="card" style="float: right; width: 270px; height: 500px;">
					<div class="card" style="float: right; width: 270px; height: 200px;">
					<h5>여기 공지사항?</h5> 밑에 버튼 나란히 어케 붙여요ㅠ
					</div>
					<div class="attdBt">
					 <form id="aFrm" method="post" action="startAttd">
					 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					 	<input type="hidden" id="empNo" name="empNo" th:value="${session.empNo}"> 
					 	<input type="hidden" id="nm" name="nm" th:value="${session.nm}">
						<input type="hidden" id="dept" name="dept" th:value="${session.dept}"> 
						<input type="hidden" id="position" name="position" th:value="${session.position}">
						<button onclick="alert('출근 시작!')" id="stBtn" type="button" class="btn btn-primary" style="width: 130px">출근</button>
					</form>
					<form id="endFrm" method="post" action="endAttd">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> 
						<input type="hidden" id="empNo" name="empNo" th:value="${session.empNo}">
						<button id="edBtn" type="button" class="btn btn-primary" style="width: 130px; display: inline-block;">퇴근</button>
					</form>
					</div>
					</div>
				</div>
			</div>
	</main>
</body>
</html>