<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.com.free.mapper.FreeMapper">

	<!-- 게시글 -->
	<select id="freeList" resultType="co.up.tune.com.vo.CommunityVO">
    	SELECT * 
    	FROM COMMUNITY
    	WHERE TYP=102
    	ORDER BY POST_NO DESC
	</select>
	
	<select id="freeSelect" resultType="co.up.tune.com.vo.CommunityVO" parameterType="co.up.tune.com.vo.CommunityVO">
		SELECT *
		FROM COMMUNITY
		WHERE POST_NO=#{postNo}
	</select>
	
	<insert id="freeHitUpdate" parameterType="co.up.tune.com.vo.CommunityVO">
		UPDATE COMMUNITY 
		SET HIT = HIT+1 
		WHERE POST_NO = #{postNo}
		AND TYP=102
	</insert>

	<insert id="freeInsert" parameterType="co.up.tune.com.vo.CommunityVO">
		INSERT INTO COMMUNITY
		VALUES (PNO_SEQ.NEXTVAL, #{ttl}, #{wrtr}, #{cntn}, SYSDATE, #{fNm}, #{fPath}, 0, 'x', '102', #{empNo})
	</insert>
	
	<update id="freeUpdate" parameterType="co.up.tune.com.vo.CommunityVO">
		UPDATE COMMUNITY
		<set>
			<if test="ttl != null">TTL=#{ttl},</if>
			<if test="cntn != null">CNTN=#{cntn},</if>
			<if test="fNm != null">F_NM=#{fNm},</if>
			<if test="fPath != null">F_PATH=#{fPath}</if>
		</set>
		WHERE POST_NO=#{postNo}
	</update>
	
	<delete id="freeDelete" parameterType="co.up.tune.com.vo.CommunityVO">
		DELETE FROM COMMUNITY
		WHERE POST_NO = #{postNo}
	</delete>
	
	<!-- ==================댓글================== -->
	
	<select id="replyList" parameterType="co.up.tune.com.vo.ReplyVO" resultType="co.up.tune.com.vo.ReplyVO">
		SELECT REPLY_NO, 
			   POST_NO, 
			   EMP_NO, 
			   WRTR,CNTN, 
			   DTTM, 
			   REPLY_CAT 
		FROM REPLY
		WHERE POST_NO = #{postNo}
		ORDER BY REPLY_NO DESC
	</select>
	
	<select id="replySelect" resultType="co.up.tune.com.vo.ReplyVO" parameterType="co.up.tune.com.vo.ReplyVO">
		SELECT * 
		FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</select>
	
	<insert id="replyInsert" parameterType="co.up.tune.com.vo.ReplyVO">
		<!-- before:insert하기전에 -->
		<selectKey keyProperty="replyNo" order="BEFORE" resultType="int">
			SELECT 
			    CASE WHEN MAX(REPLY_NO) IS NULL THEN 1
			    ELSE MAX(REPLY_NO)+1 
			    END AS NO
			FROM REPLY
		</selectKey>
		<!-- {call
			declare 
			    reply_record reply%rowtype;
			begin
			    INSERT INTO REPLY
			    VALUES(#{replyNo}, #{postNo}, '사원번호', '작성자', #{cntn}, SYSDATE, '커뮤니티');
			    
			    select *
			    into reply_record
			    from reply
			    where reply_no=#{replyNo};
			end
		} -->
		INSERT INTO REPLY
		VALUES(#{replyNo}, #{postNo}, #{empNo}, #{wrtr}, #{cntn}, SYSDATE, '커뮤니티')
	</insert>
	
	<update id="replyUpdate" parameterType="co.up.tune.com.vo.ReplyVO"> 
		<selectKey keyColumn="dttm" keyProperty="dttm" order="AFTER" resultType="date">  
			SELECT DTTM 
			FROM REPLY
			WHERE REPLY_NO = #{replyNo}
		</selectKey>
		UPDATE REPLY
		SET CNTN = #{cntn}, DTTM = SYSDATE
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<delete id="replyDelete" parameterType="co.up.tune.com.vo.ReplyVO">
		DELETE FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</delete>
	
</mapper>