<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 내 게시글</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>

</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<script>
			$(document).ready(function() {
				
				$('#postTable').DataTable({
					"dom":'lftip',
					"language": {
				    "search": ""
				  	},
					lengthChange: false,
					ordering: false,
					info: false
				});
				
				$('#replyTable').DataTable({
					"dom":'lftip',
					"language": {
				    "search": ""
				  	},
					lengthChange: false,
					ordering: false,
					info: false
				});
				

				 $(".postTr").on("click", e=>{
					 let postNo = $(e.target).data("no");
					 $("#vttl").html("");
					 $("#tnv").html("");
					
					 $.ajax({
						url:'postView',
						beforeSend:function(xhr){
					 		xhr.setRequestHeader(header,token);  
					    },
					    type:"post",
					    data:{'postNo':postNo},
					    dataType:'json',
					    success:function(obj){ 
					    	
					    	if(obj.length != 0){
					    		
					    		$("#vttl").html(obj.ttl);
									$("#tnv").html(obj.cntn);
									$("#viewModal").modal('show');
							        }
					    	}
					       
					    }) 
					})

			});
		</script>
		<section class="section profile">
			<div class="card">
				<div class="card-body">
					<!-- Page Title -->
					<br>
					<div class="pagetitle">
						<h1>프로젝트</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item ">내 프로젝트</li>
								<li class="breadcrumb-item">내 파일함</li>
								<li class="breadcrumb-item active">내 게시글</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->


					<!-- Bordered Tabs -->
					<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab"
						role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-home"
								type="button" role="tab" aria-controls="home"
								aria-selected="true">게시글</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-profile" type="button" role="tab"
								aria-controls="profile" aria-selected="false">댓글</button>
						</li>
					</ul>
					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-home"
							role="tabpanel" aria-labelledby="home-tab">
							<table id="postTable" class="display center" style="width: 100%">
								<thead hidden="hidden">
									<tr>
										<th>내용</th>
									</tr>
								</thead>
								<tbody id="posttb" class="list-group">
									<tr th:each="p : ${post}"
										class="list-group-item list-group-item-action postTr"
										th:data-no="${p.postNo}">
										<td class="d-flex justify-content-between align-items-start"
											th:if="${p.ttl} != ''" th:text="|${p.nm} : ${p.ttl}|"
											th:data-no="${p.postNo}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="bordered-profile" role="tabpanel"
							aria-labelledby="profile-tab">
							<table id="replyTable" class="display center" style="width: 100%">
								<thead hidden="hidden">
									<tr>
										<th>내용</th>
									</tr>
								</thead>
								<tbody id="replytb" class="list-group">
									<tr th:each="r : ${reply}"
										class="list-group-item list-group-item-action replyTr">
										<td class="d-flex justify-content-between align-items-start"
											th:text="|${r.cntn}|"></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
					<!-- End Bordered Tabs -->






				</div>
			</div>
			<!--View Modal -->
			<div class="modal fade" id="viewModal" tabindex="-1"
				data-bs-backdrop="true">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header" id="vttl">
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body" id="vCntn">
							<div id="tnv"></div>
						</div>
						<div class="modal-footer" id="viewFoot">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<!-- View Modal-->
		</section>


	</main>

</body>
</html>