<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>내 프로젝트 목록</title>
<script>
let schedules = []; //schedules가 db에 있는 모든 리스트
$(document).ready(function(){
	
	/* $("#edBtn").on("click", e=>{
		 $("#endFrm").submit(); */
		console.log("prj ", $(".inputPrj").val())
	});

	
	</script>
	
<style >
#info {
	background-color: white;
	padding: 0;
	border: none;
	float: right;
}
.size{
	height: 18rem;
	border-radius: 5%;
}
.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 15px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {

	color: #fffff;
}

.pagination li.active a, .pagination li.active a.page-link {
	background: #3a86ff;
}


.pagination li.active a:hover {
	background: #3a86ff;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.round{
	display: inline-block;
	padding: 7px 25px;
	border: 1px solid #3a86ff;
	color: #3a86ff;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	border: solid 1px #3a86ff;
	border-radius: 20px;
	margin-right: 5px;
}


</style>
</head>
<body>
<!-- ======= Main ======= -->
<main id="main" class="main" layout:fragment="content">
	<div class="pagetitle">
		<h1>내 프로젝트</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">내 프로젝트</li>
			</ol>
		</nav>
	</div>
	<section class="section">
		<div class="row">
			<div class="col-12"> 
				<div class="card">
					<div class="card-body">
						<br>
						<!-- 진행/완료 탭 -->
						<ul class="nav nav-tabs nav-tabs-bordered " id="borderedTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="ongoing-tab" data-bs-toggle="tab" 
										data-bs-target="#ongoing" type="button" role="tab" aria-controls="ongoing" 
										aria-selected="true">진행중</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="cmp-tab" data-bs-toggle="tab"
								 		data-bs-target="#cmp" type="button" role="tab" aria-controls="cmp" 
								 		aria-selected="false">완료</button>
							</li>
						</ul>
						<!-- 프로젝트 카드 -->
						 <div class="tab-content pt-2" id="borderedTabContent" style="margin-top: 20px;">
							<div class="tab-pane fade show active" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
								<!-- Start 내 프로젝트 리스트 현지수정 -->
								<div class="row row-cols-1 row-cols-md-3 g-4">
									<form action="prjPostList" th:each="prj:${myPrjList.getList()}">
										  <div class="col prjSelect" >
											<input type="hidden" name="prjNo" th:value="${prj.prjNo}">
											
											<!-- 프로젝트 카드 -->
										    <div class="card size">
												<span>
													<i class="bi bi-info-circle" style="position: relative; right: 10px; top: 10px;" id="info"></i>
												</span>
												<div class="card-body">
													<div style="position: relative; left: -30px; top: -5px;">
														<span class="round" style="margin-left: 20px;" th:classappend="${prj.st} == '요청' ? 'select'">요청</span>
														<span class="round" th:classappend="${prj.st} == '진행' ? 'select'">진행</span>
														<span class="round" th:classappend="${prj.st} == '완료' ? 'select'">완료</span>
													</div>
													<br>
												    <h2 class="card-text">[[${prj.nm}]]</h2>
												    <h6 class="card-subtitle mb-2 text-muted" style="position: relative; top: 20px;">[[${prj.cntn}]]</h6>
													<div class="progress" style="width: 100%; position: relative; top: 50px; left: -10px;">
														<div class="progress col-8" >
															<div class="progress-bar" role="progressbar"  
																	style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
															</div>
														</div>
													</div>
												</div>
												<div class="card-footer">
												<input type="hidden" class="inputPrj" th:value="${prj.prjNo}">
												
													<i class="bi bi-people-fill"> <span th:text="${prj.cnt}"></span> </i>
													
													
													
												</div>
										    </div>
										    <!-- 프로젝트 카드 -->
										    
										  </div>
									</form>
								</div>
								<!-- End 내 프로젝트 리스트 -->
							</div>
						</div> 
						
						<!-- Card with header and footer -->
						<div class="tab-content pt-2" id="borderedTabContent">
							 <div class="tab-pane fade" id="cmp" role="tabpanel"
								aria-labelledby="cmp-tab">
								
								<div class="card">
									<div class="card-header" onclick="location.href='#'">튠업
										프로젝트2</div>
									<div class="card-body">
										<h5 class="card-title">Development Team2</h5>
										그룹웨어 프로젝트 개발2
									</div>
									<div class="card-footer">
										<i class="bi bi-people-fill"> 52 </i>

												<!-- 프로젝트 카드 -->

											</div>
										</form>

									</div>
									<!-- End 내 프로젝트 리스트 -->
								</div>
							</div>

							<!-- Card with header and footer -->
							<div class="tab-content pt-2" id="borderedTabContent">
								<div class="tab-pane fade" id="cmp" role="tabpanel"
									aria-labelledby="cmp-tab">

									<div class="card">
										<div class="card-header" onclick="location.href='#'">튠업
											프로젝트2</div>
										<div class="card-body">
											<h5 class="card-title">Development Team2</h5>
											그룹웨어 프로젝트 개발2
										</div>
										<div class="card-footer">
											<i class="bi bi-people-fill"> 52 </i>
										</div>
									</div>
									<!-- end -->

									<div class="card">
										<div class="card-header" onclick="location.href='#'">튠업
											프로젝트2</div>
										<div class="card-body">
											<h5 class="card-title">Development Team2</h5>
											그룹웨어 프로젝트 개발2
										</div>
										<div class="card-footer">
											<i class="bi bi-people-fill"> 12 </i>
										</div>
									</div>
								</div>
								<!-- Start 페이징 -->
								<nav id="pagenationNav">
									<ul class="pagination" style="float: none;">
										<!-- getPrePage : 이전 페이지 -->
										<li class="page-item"
											th:classappend="${myPrjList.getPrePage() == 0} ? 'disabled'">
											<!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 --> <a
											class="page-link"
											th:href=@{/myProject(pageNum=${myPrjList.getPrePage()})}>Previous</a>
										</li>
										<!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
										<!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
										<li class="page-item"
											th:each="page: ${#numbers.sequence(myPrjList.getNavigateFirstPage(), myPrjList.getNavigateLastPage())}"
											th:classappend="${page == myPrjList.getPageNum()} ? 'active'">
											<a class="page-link" th:text="${page}"
											th:href=@{/myProject(pageNum=${page})}></a>
										</li>
										<!-- getPrePage : 다음 페이지 -->
										<li class="page-item"
											th:classappend="${myPrjList.getNextPage() == 0} ? 'disabled'">
											<!--  href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 --> <a
											class="page-link"
											th:href=@{/myProject(pageNum=${myPrjList.getNextPage()})}>Next</a>
										</li>
									</ul>
								</nav>
								<!-- End 페이징 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
		//랜덤 색상
		let prjColor = $(".size");
		$.each(prjColor, (idx, prj)=>{
			const randomColor = Math.floor(Math.random()*16777215).toString(16);
			$(prj).css('border','3px solid #e9ecef');
		})

		$(".prjSelect").on("click", e=>{ 
			$(e.currentTarget).parent().submit();
		})
		
		$(".bi-info-circle").on("click", e=>{
			e.stopPropagation();
			location.href='prjMng';
		})
	</script>
	</main>
</body>
</html>