<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>최종프로젝트</title>
<link rel="stylesheet" href="/css/jquery.treeview.css" />
<link rel="stylesheet" href="/css/screen.css" />
<style>
.test_obj input[type="radio"] {
	display: none;
}
.test_obj input[type="radio"]+span {
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #9c91cf;
	color: #9c91cf;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	border-radius: 20px;
}
.test_obj input[type="radio"]:checked+span {
	background-color: #9c91cf;
	color: #ffffff;
}
.size {
	font-size: 22px;
}
input:focus, textarea:focus {
	outline: 0px !important;
	box-shadow: none !important;
}
input.none {
	border: none !important;
	display: inline-block;
	border-bottom: 1px solid #d9d9d9 !important;
}
textarea.none {
	resize: none;
	border: none !important;
}
.text-white{
	background-color: #756cad !important;
}
</style>
<script>
	$(document).ready(function(){
		$("#browser").treeview({}); 
	});
</script>
</head>
<body>
	<main layout:fragment="content" id="main" class="main">
		<section class="section">
			<div class="card">
				<div class="card-body">
					<br>
					<!-- Page Title -->
					<div class="pagetitle">
						<h1>프로젝트</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item active">새 프로젝트</li>
								<li class="breadcrumb-item">내 프로젝트</li>
								<li class="breadcrumb-item">내 파일함</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<br>
					<form id="newPrjFrm" action="newProjectInsert" method="post"
						enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
						<div class="row mb-3">
							<div class="col-sm-10">
								<input type="text" class="form-control none" name="nm"
									placeholder="프로젝트 제목을 입력해주세요.">
							</div>
						</div>
						<!--상태 버튼-->
						<i class="bi bi-arrow-clockwise size"></i>
						<div style="display: inline-block; width: 80%; margin-left: 10px;">
							<label class="test_obj"> <input type="radio" name="st"
								value="요청"> <span>요청</span>
							</label> &nbsp; <label class="test_obj"> <input type="radio"
								name="st" value="진행"> <span>진행</span>
							</label> &nbsp; <label class="test_obj"> <input type="radio"
								name="st" value="완료"> <span>완료</span>
							</label>
						</div>

						<!--프로젝트 팀원 추가-->
						<div id="rr">
							<br> <i class="bi bi-person size"
								style="padding-top: 10px; padding-right: 15px; float: left;"></i>
							<!-- 추가된 인원 보여주기 -->
							<div id="hello"></div>
							&nbsp;
							<button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" 
									data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
									style="position: relative; top: 10px; left: -10px;">참석자 추가
							</button>
							<!-- 버튼클릭시 뜨는 부분 -->
							<div class="collapse" id="collapseExample"
								style="padding-top: 30px;">
								<!-- 부서별 -->
								<div style="min-height: 200px;">
									<ul id="browser" class="filetree treeview-gray">
										<li id="depts"><span class="folder">Tune-Up</span>
											<ul>
												<li class="closed"><span class="folder">인사팀</span>
													<ul th:each="e:${empList}">
														<li th:if="${e.dept}=='인사'"><span class="file name"
															th:attr="data-no=${e.empNo}">[[${e.nm}]]</span></li>
													</ul></li>
												<li class="closed"><span class="folder">기획팀</span>
													<ul th:each="e:${empList}">
														<li th:if="${e.dept}=='기획'"><span class="file name"
															th:attr="data-no=${e.empNo}">[[${e.nm}]]</span></li>
													</ul></li>
												<li class="closed"><span class="folder">영업팀</span>
													<ul th:each="e:${empList}">
														<li th:if="${e.dept}=='영업'"><span class="file name"
															th:attr="data-no=${e.empNo}">[[${e.nm}]]</span></li>
													</ul></li>
												<li class="closed"><span class="folder">회계팀</span>
													<ul th:each="e:${empList}">
														<li th:if="${e.dept}=='회계'"><span class="file name"
															th:attr="data-no=${e.empNo}">[[${e.nm}]]</span></li>
													</ul></li>
												<li class="closed"><span class="folder">개발팀</span>
													<ul th:each="e:${empList}">
														<li th:if="${e.dept}=='개발'"><span class="file name"
															th:attr="data-no=${e.empNo}">[[${e.nm}]]</span></li>
													</ul></li>
											</ul></li>
									</ul>
								</div>

							</div>
							<!-- 버튼클릭시 뜨는 부분  -->
						</div>
						<!-- 프로젝트 팀원 추가 -->

						<br>
						<br>
						<div class="col-sm-10">
							<i class="bi bi-calendar4 size" style="margin-right: 10px;"></i>
							<input type="date" class="form-control none" name="sdt"
								 style="width: 300px"> ~ <input type="date" class="form-control none" name="edt" style="width: 300px">
						</div>
						<div style="margin-top: 30px;">
							<h4 style="padding-top: 10px; float: left;">
								<i class="bi bi-layout-text-sidebar-reverse"></i>
							</h4>
							<textarea class="form-control none" style="height: 100px; width: 80%; position: relative; top: 5px; left: 5px;" 
									name="cntn" placeholder="프로젝트 내용을 입력해주세요."></textarea>
						</div>

						<div style="margin-top: 30px;">
							<button class="btn text-white w-100" type="submit">프로젝트 생성</button>
						</div>
					</form>
				</div>
			</div>

		</section>

		<script src="/js/jquery.cookie.js"></script>
		<script src="/js/jquery.treeview.js"></script>
		<script>
	 
		//추가된 사원 삭제
		$("#rr").on("click", ".bi-x", e=>{
			let deleteNo = $(e.target).prev().data("no"); //삭제클릭한 사원의 사원번호
			$("#newPrjFrm").find("#"+deleteNo+"").remove();
			$(e.target).parent().remove();
		})
		
		//사원 추가되는 기능
		$("#depts").on("click", ".name", e=>{
			let empName = $(e.target).text(); //클릭한 사원의 이름
			let empNo = $(e.target).data("no"); //클릭한 사원의 사원번호
			
				$("#hello").append("<div style='display:inline-block; float:left; position:relative; top:15px;'><span data-no='"+ empNo +"'><b>"+empName+"</b></span><i class='bi bi-x' style='color: red;'></i></div>");
			
				//등록하면 hidden input창에 추가되도록(데이터를 보내기 위해서)
				$("#newPrjFrm").append("<input type='hidden' id='"+empNo+"' name='teamEmpNo' value='"+empNo+"'>")
			
			$(e.target).prev().prev().html("");
			
		})
    </script>
	</main>
</body>
</html>