<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.attdUp.mapper.AttdUpMapper">

	<insert id="attdUpInsert"
		parameterType="co.up.tune.emp.vo.AttdUpVO">
		INSERT INTO ATTDUP
		VALUES (PNO_SEQ.NEXTVAL, #{empNo}, #{nm}, #{atdcDt}, #{atdcDttm},
		#{afwkDttm}, #{aContent}, '701', (sysdate + 9/24))
	</insert>

	<select id="attdUpList" resultType="co.up.tune.emp.vo.AttdUpVO">
		SELECT *
		FROM
		ATTDUP
		WHERE ST = '701'
		ORDER BY ATDC_DT DESC
	</select>
	
	<select id="myAttdUpList" resultType="co.up.tune.emp.vo.AttdUpVO" >
		SELECT *
		FROM
		ATTDUP
		WHERE EMP_NO = #{empNo}
		ORDER BY ATDC_DT DESC
	</select>
	
	<select id="checkModi" resultType="Integer">
		<![CDATA[
		SELECT COUNT(*)
		FROM ATTDUP
		WHERE ST= '701'
		 ]]>
	</select>

	<select id="attdUpSelect"
		resultType="co.up.tune.emp.vo.AttdUpVO">
		SELECT ATTDUP_NO, EMP_NO, NM, ATDC_DT, AFWK_DTTM, A_CONTENT, A_DATE
		FROM ATTDUP
		WHERE ATTDUP_NO = #{attdupNo}
	</select>


	<delete id="attdUpDel" parameterType="co.up.tune.emp.vo.AttdUpVO">
		DELETE ATTDUP
		WHERE ATTDUP_NO = #{attdupNo}
	</delete>
	
 
	 <update id="attdUpOk" parameterType="map">
		UPDATE ATTD 
		<set>
			<if test="atdcDttm != null">ATDC_DTTM = #{atdcDttm}, </if>
			<if test="afwkDttm != null">AFWK_DTTM = #{afwkDttm}, </if>
			<if test="wktm != null">WKTM = #{wktm}, </if>
			<if test="ovtm != null">OVTM = #{ovtm}, </if>
			<if test="st != null">ST = #{st} </if>
		</set>
		WHERE EMP_NO = #{empNo} AND ATDC_DT = #{atdcDt}
		</update> 

		<select id="selectAttdUpNo" resultType="int" parameterType="map">
		select attdup_no from ATTDUP where atdc_dt = #{atdcDt} and emp_no = #{empNo}
		</select>
	
	
	
</mapper> 