<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.attdUp.mapper.AttdUpMapper">

<insert id="attdUpInsert" parameterType="co.up.tune.emp.vo.AttdUpVO">
INSERT INTO ATTDUP
	VALUES (PNO_SEQ.NEXTVAL, #{empNo}, #{nm}, #{atdcDt}, #{atdcDttm}, #{afwkDttm}, #{aContent}, '701', sysdate)
</insert>
	
<select id="attdUpList" resultType="co.up.tune.emp.vo.AttdUpVO">
	SELECT *
	FROM 
	ATTDUP
	ORDER BY ATDC_DT DESC
</select>

<select id="attdUpSelect" resultType="co.up.tune.emp.vo.AttdUpVO">
	SELECT ATTDUP_NO, EMP_NO, NM, ATDC_DT, AFWK_DTTM, A_CONTENT, A_DATE
	FROM ATTDUP
	WHERE ATTDUP_NO = #{attdupNo}
</select>	
</mapper> 