<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.singUp.mapper.SignUpMapper">

	<insert id="empInsert" parameterType="co.up.tune.emp.vo.EmpVO">
		<selectKey keyProperty="empNo" order="BEFORE" resultType="String">
			SELECT nvl(MAX(to_number(EMP_NO)),0)+1 
			FROM   EMP
		</selectKey>
		INSERT INTO EMP (EMP_NO,
		                 NM,
		                 ID,
		                 PW,
		                 EMAIL,
		                 AUTH,
		                 PHONE)
				VALUES (#{empNo},
				        #{nm},
				        #{id},
				        #{pw},
				        #{email},
				        'GUEST',
				        #{phone})
	</insert>
	
	<select id="idCheck" parameterType="co.up.tune.emp.vo.EmpVO" resultType="int">
		select count(*)
		  from emp
		 where id=#{id}
	</select>
	
	<select id="findId" parameterType="co.up.tune.emp.vo.EmpVO" resultType="string">
		select max(id) id
		from emp
		where nm=#{nm} and email=#{email}
	</select>
	

	<update id="empUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		set pw = #{pw}
		where id=#{id} and email=#{email}

	</update>

</mapper>