<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.singUp.mapper.SignUpMapper">

	<insert id="empInsert" parameterType="co.up.tune.emp.vo.EmpVO">
		<selectKey keyProperty="empNo" order="BEFORE" resultType="String">
			SELECT
			CASE WHEN MAX(EMP_NO) IS NULL THEN 1
			ELSE
			MAX(EMP_NO) + 1 END AS NO
			FROM EMP
		</selectKey>
		INSERT INTO EMP (EMP_NO,NM,ID,PW,EMAIL,AUTH)
		 VALUES(#{empNo},#{nm},#{id},#{pw},#{email},USER)
	</insert>
	
	<select id="idCheck" parameterType="co.up.tune.emp.vo.EmpVO" resultType="int">
		select count(*)
		from emp
		where id=#{id}
	</select>

</mapper>