<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.mapper.EmpMapper">

	<select id="empSelect" parameterType="co.up.tune.emp.vo.EmpVO"
		resultType="co.up.tune.emp.vo.EmpVO">
		SELECT  NM,
				ID,
				PW,
		        'ROLE_' || AUTH AS AUTH
		FROM EMP 
	    WHERE ID = #{id}
	</select>
	
	<select id="empSession" parameterType="co.up.tune.emp.vo.EmpVO"
			resultType="co.up.tune.emp.vo.EmpVO">
		SELECT *
		FROM EMP
		WHERE ID = #{id}
	</select>
	
	<update id="loginStUp" parameterType="co.up.tune.emp.vo.EmpVO">
		UPDATE EMP
		SET
		ST = #{st}
		WHERE EMP_NO = #{empNo}
	</update>
	
</mapper>