<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">

<title>프로젝트 글쓰기</title>
</head>
<body>
	<main layout:fragment="content">
		
		
		  <div class="" id="">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">PROJECT</h5>

					<!-- Default Tabs -->
					<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
						
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100 active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-justified"
								type="button" role="tab" aria-controls="home"
								aria-selected="true">Home</button>
						
						
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="pst-tab"
								data-bs-toggle="tab" data-bs-target="#pst"
								type="button" role="tab" aria-controls="pst"
								aria-selected="false">글</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#business-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">업무</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#todo-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">일정</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#contact-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">할일</button>
						</li>
					</ul>

			<div class="tab-content pt-2" id="myTabjustifiedContent">
				
				<div class="tab-content pt-2" id="myTabjustifiedContent">
						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
							<h1>
								프로젝트 글쓰기 홈
							</h1>	
						</div>	
						

			<!-- 글 -->
			<div class="tab-pane fade" id="pst" role="tabpanel" aria-labelledby="pst-tab">
			<form id="pstfrm" action="prjPostInsert" method="post"
                   	enctype="multipart/form-data">

					<div>
						<label class="col-sm-2 col-form-label" style="text-align: center">작성자</label>
						<input type="text" id="prjPostWriter" name="wrtr" style="border: 0;"
						th:value="세션에서받아" readonly>
							
					</div>
				
               		<div class="row mb-3"> 
               			<label class="col-sm-2 col-form-label" style="text-align: center">제목</label>
                  			<div class="col-sm-10 padding:10px" >
                    			<input type="text" class="form-control" name="ttl" placeholder="제목을 입력하세요." id="prjPostTitle" >
                    	</div>
					</div>                 	
                    	
                    <div class="row mb-3">
                    	<label class="col-sm-2 col-form-label" style="text-align: center">내용</label>
		                  <div class="col-sm-10" id="cntn">
		                    <textarea class="form-control" name="cntn" placeholder="내용을 입력하세요." style="resize: none" id="cntn"></textarea>
		                  </div>
		            </div>
			</form>
					
					<div class="row mb-3">
						<label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
							<div class="col-sm-10">
								<input class="form-control" type="file" id="formFile">
							</div>
				    </div>
				    		                
		            <div class="col-12" id="smb">
		               <button class="btn btn-primary w-100" type="submit">글 등록</button>
		            </div>
		        </div>
		        <!-- 글 end -->
		               


						<!-- 업무 -->
						<div class="tab-pane fade" id="business-justified" role="tabpanel"
							aria-labelledby="profile-tab">
							<form>
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">
									 Project Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="nm" name="nm">
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">진행상태</label>
									<div class="col-sm-10">
										<button type="button" class="btn btn-outline-primary">요청</button>
										<button type="button" class="btn btn-outline-primary">진행</button>
										<button type="button" class="btn btn-outline-primary">완료</button>
									</div>
								</div>


								<div class="row mb-3">
									<label for="inputDate" class="col-sm-2 col-form-label">시작일</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="sdt" name="sdt">
									</div>
								</div>

								<div class="row mb-3">
									<label for="inputDate" class="col-sm-2 col-form-label">종료일</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" id="edt" name="edt">
									</div>
								</div>

								<div class="row mb-3">
									<label for="inputPassword" class="col-sm-2 col-form-label">내용</label>
									<div class="col-sm-10">
										<textarea class="form-control" style="height: 100px"></textarea>
									</div>
								</div>


								<div class="row mb-3">
									<label for="inputNumber" class="col-sm-2 col-form-label">File
										Upload</label>
									<div class="col-sm-10">
										<input class="form-control" type="file" id="formFile">
									</div>
								</div>

								<div class="col-12">
									<button class="btn btn-primary w-100" type="submit">프로젝트
										생성</button>
								</div>

							</form>
						</div>
						<!-- 업무 end -->


						<!-- 일정 -->
						<div class="tab-pane fade" id="todo-justified" role="tabpanel"
							aria-labelledby="contact-tab">
							<form action="">
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">일정 제목</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="nm" name="nm">
										</div>
								</div>

								<div class="row mb-3">
									<label for="inputDate" class="col-sm-2 col-form-label">시작일</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" id="sdt" name="sdt">
										</div>
								</div>

								<div class="row mb-3">
									<label for="inputDate" class="col-sm-2 col-form-label">종료일</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" id="edt" name="edt">
										</div>
								</div>

								<!--프로젝트 팀원 추가-->
								<div class="row mb-3">
									<label for="inputPassword" class="col-sm-2 col-form-label">
										어떤식으로 해야되지 ..? 사람 추가를 우쨰..??
									</label>
								</div>
								<!--지도API -->
								<div class="row mb-3">
									<label for="inputPassword" class="col-sm-2 col-form-label">
										장소입력 지도 API ???
									</label>
								</div>

								<div class="row mb-3">
									<label for="inputPassword" class="col-sm-2 col-form-label">내용</label>
										<div class="col-sm-10">
											<textarea class="form-control" style="height: 100px"></textarea>
										</div>
								</div>

								<div class="row mb-3">
									<label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
										<div class="col-sm-10">
											<input class="form-control" type="file" id="formFile">
										</div>
								</div>

								<div class="col-12">
									<button class="btn btn-primary w-100" type="submit">일정 등록</button>
												
								</div>


							</form>
						</div>
					</div>
			</div>

						<!-- 할일 -->
						<div class="tab-pane fade" id="contact-justified" role="tabpanel"
							aria-labelledby="contact-tab">Saepe animi et soluta ad odit
							soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium
							quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus
							impedit molestias nostrum veniam. Qui amet ipsum iure.
							Dignissimos fuga tempore dolor.</div>
					</div>
					<!-- End Default Tabs -->

				</div>
			</div>
		</div>	
	</main>
</body>
</html>