<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
   
</head>
<body>
<main id="main" class="main" layout:fragment="content">

    <div class="pagetitle">
      <h1>Tabs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">내 프로젝트</li>
          <li class="breadcrumb-item active">관리</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
     <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-6">
    
    
    <div class="card">
            <div class="card-body">
              <h5 class="card-title">Project name</h5>

              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">멤버</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">관리자</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">상태</button>
                </li>
                
                
              </ul>
              <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
					 <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member</h5>
              Member dept<br>
              Member Name<br>
              Member Author<br>
            </div>
          </div><!-- End Default Card -->
          
           <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member</h5>
              Member dept<br>
              Member Name<br>
              Member Author<br>
            </div>
          </div><!-- End Default Card -->
          

                </div>
                <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Author</h5>
             aaaa
            </div>
          </div><!-- End Default Card -->
                </div>
                <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
					모달창 띄워서 상태 수정
                </div>
              </div><!-- End Bordered Tabs -->
				
				
				<div class="#" align="right">
			<form id="frm" action="#">
			<div >
				<select id="searchType" name="searchType">
					<option value="#">이름</option>
					<option value="#">사번</option>
				</select> &nbsp; 
				
				<input type="text" id="searchKeyword" name="searchKeyword" value="">&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" id="searchBtn">검색</button>
				</div>
			</form>
		</div>
		
            </div>
          </div>
    
    
    
    </div>
    </div>
    </section>
    
    
    </main>
    
    
    
</body>
</html>