<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  
   
</head>
<body>
<main id="main" class="main" layout:fragment="content">

    <div class="pagetitle">
      <h1>프로젝트 관리</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">내 프로젝트</li>
          <li class="breadcrumb-item active">관리</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    
     <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-6">
    
    
    <div class="card">
            <div class="card-body">
              <h5 class="card-title">Project name</h5>
              
              <div class="row mb-3">
                  		<div class="col-sm-10">
                    		<button type="button" class="btn btn-outline-primary">요청</button>
                			<button type="button" class="btn btn-outline-primary">진행</button>
                			<button type="button" class="btn btn-outline-primary">완료</button>
                    	</div>
                	</div>

              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">멤버</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">관리자</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">상태</button>
                </li>
                
                
              </ul>
              <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
					 <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member</h5>
              Member dept<br>
              Member Name<br>
              Member Author<br>
            </div>
          </div><!-- End Default Card -->
          
           <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Member</h5>
              Member dept<br>
              Member Name<br>
              Member Author<br>
            </div>
          </div><!-- End Default Card -->
          

                </div>
                <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Author</h5>
             aaaa
            </div>
          </div><!-- End Default Card -->
                </div>
                <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
					모달창 띄워서 상태 수정
                </div>
              </div><!-- End Bordered Tabs -->
				
				
				<div class="#" align="right">
			<form id="frm" action="#">
			
				
				
				
				<div >
				<select id="searchType" name="searchType">
					<option value="#">이름</option>
					<option value="#">사번</option>
				</select> &nbsp; 
				
				
				
				
				
				<input type="text" id="searchKeyword" name="searchKeyword" value="">&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary" id="searchBtn">검색</button>
				</div>
			</form>
		</div>
		
            </div>
          </div>
    
    
    
    </div>
    </div>
    </section>
    
    
    </main>
    
    
    
</body>
</html>