<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
<main id="main" class="main" layout:fragment="content">

    <div class="pagetitle">
      <h1>프로젝트 - 글</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">내 프로젝트</li>
          <li class="breadcrumb-item active">글</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    	
    <!-- 프로젝트 글 목록 -->
    
    
    
               <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">글</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">업무</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile2" aria-selected="false">일정</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">할일</button>
                </li>
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">
				글쓰기
              </button>
              </ul>
              
              <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
					상세보기ㄱ
                </div>
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
					<ul>
                        <li>
                            <img src="#" alt="">
                        </li>
                        <li>
                            <p>
                            	<span class="label">작성자</span>
                                <span class="title">ㅎㅎ</span>
                            </p>
                        </li>
                        <li>
                            <p>
                            	<span class="label">본문</span>
                                <span class="title">ㅋㅋ</span>
                            </p>
                        </li>
                        
                        <li>
                            <p>
                            	<span class="label">장소</span>
                                <span class="title">123</span>
                            </p>
                        </li>
                </div>
                <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
					상세보기ㄷ
                </div>
              </div><!-- End Bordered Tabs Justified -->
              

              <div class="modal fade" id="fullscreenModal" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">프로젝트-글</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    
                    <div class="modal-body">
						<table>
							<tr>
								<div class="name">
									<input type="text" placeholder="제목을 입력하세요">
								</div>
							</tr>
							<br>
							
							<tr>
							<div class="content">
								<textarea >
								</textarea>
							</div>
							</tr>
							<br>
						</table>
                    </div>
                    
                    <!-- <div class="modal-body">
						<input type="text" placeholder="제목을 입력하세요"></input>
						<hr>
						<input type="text"></input>
                    </div> -->
                    
                    
                    <div class="modal-footer">
                    <input type="file" id="file" name="file">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                      <button type="submit" class="btn btn-primary">등록</button>
                    </div>
                  </div>
                </div>
                </div>
                
               
                	
                	
                	<!-- <div>
			<table id="tbl">
				<thead>
					<tr>
						<th width="50">No.</th>
						<th width="50">작성자</th>
						<th width="250">제목</th>
						<th width="100">조회수</th>
						<th width="100">첨부파일</th>
						<th width="100">작성일자</th>
						
					</tr>
				</thead>
				
				<tbody id="tb" name="tb" >
				
						<tr align="center">
						<td>1</td>
						<td>ㅇㅇㅇ</td>
						<td>ㅋㅋ</td>
					</tr>
					
					<tr align="center">
						<td>1</td>
						<td>ㅇㅇㅇ</td>
						<td>ㅋㅋ</td>
					</tr>
				</tbody>
			</table>
			</div> -->
                	
                	
                	
                </main>
</body>
</html>