
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>내프로젝트</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
google.charts.load('current', {'packages':['gantt']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
	var data = new google.visualization.DataTable();//아작스 디비 받아와서 
	data.addColumn('string', 'Task ID');
	data.addColumn('string', 'Task Name');
	data.addColumn('string', 'Resource');
	data.addColumn('date', 'Start Date');
	data.addColumn('date', 'End Date');
	data.addColumn('number', 'Duration');
	data.addColumn('number', 'Percent Complete');
	data.addColumn('string', 'Dependencies');

function drawChart(){
	var jsonData = $.ajax({
		url:"/chart/chart02_money",
		dataType:"json",
		async:false
	}).responseText;
  		
   var data = data.addRows(jsonData);
   var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));

	var options = {
	  height: 400,
	  gantt: {
	    trackHeight: 30
	  }
	};
	//그려주는 부분 div안에 넣어줌
    var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
 }
</script>
<script th:inline="javascript">
$(document).ready(function() {
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	//==============댓글==============
	
	//댓글 등록 버튼 클릭시
	$("#rBtn").on("click", e=>{
		let postNo = $("#postNo").val(); //게시글 번호
		let postTitle = $("#postTitle").val(); //게시글 제목
		let cntn = $("#rCntn").val();    //댓글 내용
		let empNo = $("#empNo").val();   //댓글 쓴 사원번호
		let wrtr = $("#wrtr").val();     //댓글 쓴 사원이름
		let rList = $("<div>").attr("id", "rList"); 
		
		//댓글 등록 처리
		$.ajax({
	         url:'ppReplyInsert',
	         beforeSend:function(xhr){
	 	  		xhr.setRequestHeader(header,token);  
	     	  },
	         type:'post',
	         data:{'postNo':postNo, 'cntn':cntn, 'empNo':empNo, 'wrtr':wrtr},
	         dataType:'json',
	         success:function(res){
					let div = $("<div>").append($("<span>").html(res.wrtr)).append("\u00A0\u00A0")
										.append($("<span>").html(res.dttm))
										.append($("<br>"))
										.append($("<span>").html(res.cntn)).append("\u00A0\u00A0\u00A0")
										.append($("<span>").append($("<i>").addClass("ri-edit-2-line update").attr("data-no", res.replyNo)).append("\u00A0\u00A0\u00A0"))
										.append($("<span>").append($("<i>").addClass("ri-delete-bin-line delete").attr("data-no", res.replyNo)))
										.append($("<hr>"))
					$("#rList").prepend(div);
					
					$("#rCntn").val("");
			 
	         }
	    })
	})
})
</script>
<style>
.pagination {
	margin-left: 300px;
}

#ddbt {
	color: gray;
}

.attend {
	margin: 5px;
	width: 100px;
	height: 35px;
}

.map {
	width: 700px;
	height: 300px;
	position: relative;
	left: 10px;
	top: 10px;
	border-radius: 7px;
}

.round {
	display: inline-block;
	padding: 7px 30px;
	border: 1px solid #dfdfdf;
	color: #4e94ba;
	background-color: #ffffff;
	text-align: center;
	cursor: pointer;
	border: solid 1px #4e94ba;
	border-radius: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

.select {
	background-color: #4e94ba;
	color: #ffffff;
}

.size {
	font-size: 30px;
	position: relative;
	top: 7px;
}
</style>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<section class="section">
			<div class="card">
				<div class="card-body" style="min-height: 800px;">
					<div class="pagetitle">
						<br>
						<h1>프로젝트</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">새 프로젝트</li>
								<li class="breadcrumb-item active">내 프로젝트</li>
								<li class="breadcrumb-item">내 파일함</li>
							</ol>
						</nav>
					</div>
					<div class="pagetitle">
						<!-- 관리자 메뉴 -->
						<div style="display: inline-block; margin: 0 5px; float: right;">
							<form action="teamList">
								<!-- 	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
								<input type="hidden" name="prjNo" th:value="${prjNo}">
								<input type="hidden" name="auth" th:value="${auth}">
								<button type="submit" class="btn btn-outline-primary">관리</button>
							</form>
						</div>
						<div style="display: inline-block; margin: 0 5px; float: right;">
							<form action="postInsertForm" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}">
								<!-- 프로젝트 번호  -->
								<input type="hidden" id="prjNo" name="prjNo" th:value="${prjNo}">
								<button type="submit" class="btn btn-outline-primary">글쓰기</button>
							</form>
						</div>
						<br> <br>
					</div>

					<!-- Default Tabs -->
					<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100 active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-justified"
								type="button" role="tab" aria-controls="home"
								aria-selected="false">Home</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="pst-tab" data-bs-toggle="tab"
								data-bs-target="#pst" type="button" role="tab"
								aria-controls="pst" aria-selected="true">글</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="business-tab"
								data-bs-toggle="tab" data-bs-target="#business" type="button"
								role="tab" aria-controls="business" aria-selected="false">업무</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="schedule-tab"
								data-bs-toggle="tab" data-bs-target="#schedule" type="button"
								role="tab" aria-controls="schedule" aria-selected="false">일정</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="todo-tab" data-bs-toggle="tab"
								data-bs-target="#todo" type="button" role="tab"
								aria-controls="todo" aria-selected="false">할 일</button>
						</li>
					</ul>
					<div class="tab-content pt-2" id="myTabjustifiedContent">
						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
							<div id="chart_div"></div>
							<br> <br>
						</div>

						<br>
						<!-- Start 간트차트  -->
						<div id="chart_div"></div>
						<!-- End 간트차트  -->

						<!-- Start 일정 목록 -->
						<div class="tab-pane fade" id="schedule" role="tabpanel"
							aria-labelledby="schedule-tab">
							<div class="card sc"
								style="width: 80%; position: relative; left: 10%; margin-top: 50px;"
								th:each="s,idx : ${scheduleList.getList()}"
								th:attr="data-no=${s.postNo}">
								<div class="card-body">
									<div class="card-title">
										<span style="font-size: 16px;"><b>[[${s.wrtr}]]</b></span>
										<!-- 드롭다운 아이콘 -->
										<div class="filter" style="float: right">
											<a class="icon" href="#" data-bs-toggle="dropdown"> <i
												class="bi bi-three-dots"></i>
											</a>
											<!-- 드롭다운 수정삭제 펼치기 -->
											<ul
												class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<li class="dropdown-header text-start"><i
													class="bi bi-gear"> settings</i>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${s.postNo}" data-type="일정">
														<i class="ri-edit-2-line"></i>수정
													</button>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${s.postNo}" data-type="일정">
														<i class="ri-delete-bin-line"></i>삭제
													</button></li>
											</ul>
										</div>
									</div>
									<span style="font-size: 22px;"><b>[[${s.ttl}]]</b></span><br>
									<span>[[${s.sdt}]] - [[${s.edt}]]</span>
									<hr style="color: gray;">
									<div>
										<i class="bi bi-person"></i> <span
											th:each="m : ${scheduleMember}"
											th:if="${s.postNo}==${m.postNo}">[[${m.nm}]]&nbsp;</span> <br>
										<br> <i class="bi bi-geo-alt"></i> <span
											th:id="${idx.count}"></span>
										<div class="map"></div>
										<br>
										<div th:text="${s.cntn}"
											style="font-size: medium; min-height: 100px; position: relative; left: 20px;"></div>
									</div>
									<br>
									<div class="attendBtn" style="text-align: center;">
										<button type="button" class="btn btn-outline-success attend">참석</button>
										<button type="button" class="btn btn-outline-danger attend">불참</button>
										<button type="button" class="btn btn-outline-secondary attend">미정</button>
									</div>
									<br>
									<div class="form-floating mb-3">
										<textarea class="form-control"
											placeholder="Leave a comment here"
											style="height: 100px; resize: none"></textarea>
										<label for="floatingTextarea">Comments</label>
									</div>
									<button class="btn btn-primary btn-sm" style="float: right"
										type="button">등록</button>
									<!-- 전체 댓글 -->
									<div class="rList">
										<div th:each="r : ${replyList}"
											th:if="${s.postNo}==${r.postNo}">
											<span th:text="${r.wrtr}">작성자</span>&nbsp; <span
												th:text="${#dates.format(r.dttm, 'yyyy-MM-dd HH:mm:ss')}">작성일시</span>
											<br> <span th:text="${r.cntn}">댓글내용</span>&nbsp;&nbsp; <span>
												<i class="ri-edit-2-line update"
												th:attr="data-no=${r.replyNo}"></i>
											</span>&nbsp;
											<!-- 수정아이콘 -->
											<span> <i class="ri-delete-bin-line delete"
												th:attr="data-no=${r.replyNo}"></i>
											</span>
											<!-- 삭제아이콘 -->
											<hr>
										</div>
									</div>
									<!-- 전체 댓글 -->
								</div>
							</div>

							<!-- Start 페이징 -->
							<nav id="pagenationNav">
								<ul class="pagination" style="float: none;">
									<!-- getPrePage : 이전 페이지 -->
									<li class="page-item"
										th:classappend="${scheduleList.getPrePage() == 0} ? 'disabled'">
										<!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 --> <a
										class="page-link"
										th:href=@{/prjPostList(pageNum=${scheduleList.getPrePage()},prjNo=${prjNo})}>Previous</a>
									</li>
									<!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
									<!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
									<li class="page-item"
										th:each="page: ${#numbers.sequence(scheduleList.getNavigateFirstPage(), scheduleList.getNavigateLastPage())}"
										th:classappend="${page == scheduleList.getPageNum()} ? 'active'">
										<a class="page-link" th:text="${page}"
										th:href=@{/prjPostList(pageNum=${page},prjNo=${prjNo})}></a>
									</li>
									<!-- getPrePage : 다음 페이지 -->
									<li class="page-item"
										th:classappend="${scheduleList.getNextPage() == 0} ? 'disabled'">
										<!--  href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 --> <a
										class="page-link"
										th:href=@{/prjPostList(pageNum=${scheduleList.getNextPage()},prjNo=${prjNo})}>Next</a>
									</li>
								</ul>
							</nav>
							<!-- End 페이징 -->
						</div>
						<!-- End 일정 목록 -->

						<!-- 글 목록 -->
						<div class="tab-pane fade" id="pst" role="tabpanel"
							aria-labelledby="pst-tab">
							<!-- Default Card -->
							<div>
								<input type="hidden" id="empNo" name="empNo"
									th:value="${session.empNo}"> <input type="hidden"
									id="wrtr" name="wrtr" th:value="${session.nm}">
								<div class="card sc"
									style="width: 80%; position: relative; left: 10%; margin-top: 50px;"
									th:each="p :${postList}">
									<div class="card-body">
										<div class="card-title">
											<span th:text="${p.wrtr}"></span> <span
												th:text="${#dates.format(p.dttm, 'yyyy-MM-dd')}"></span>
											<!-- 드롭다운 아이콘 -->
											<div class="filter" style="float: right">
												<a class="icon" href="#" data-bs-toggle="dropdown"> <i
													class="bi bi-three-dots"></i>
												</a>
												<!-- 드롭다운 수정삭제 펼치기 -->
												<ul
													class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
													<li class="dropdown-header text-start"><i
														class="bi bi-gear"> settings</i>
														<button class="dropdown-item" data-bs-toggle="modal"
															data-bs-target="#staticBackdrop"
															style="padding: 10px 0 0 0;"
															th:attr="data-no=${p.postNo}" data-type="글">
															<i class="ri-edit-2-line"></i>수정
														</button>
														<button class="dropdown-item" style="padding: 10px 0 0 0;"
															th:attr="data-no=${p.postNo}" data-type="글">
															<i class="ri-delete-bin-line"></i>삭제
														</button></li>
												</ul>
											</div>
										</div>
										<span style="font-size: large;"><h3>[[${p.ttl}]]</h3></span>
										<hr>
										<div th:text="${p.cntn}"
											style="font-size: medium; min-height: 200px;"></div>
										<br> <br> <a th:each="f:${postFiles}"
											th:if="${f.atchNo}==${p.atchNo}"
											th:attr="data-path=${f.fPath}"
											th:href=@{/attach(path=${f.fPath})} th:text="${f.fNm}"></a> <br>
										<br>
										<div id="rList">
											<div th:each="r : ${ppReplyList}">
												<span th:text="${r.wrtr}">작성자</span>&nbsp; <span
													th:text="${r.cntn}">댓글내용</span>&nbsp;&nbsp; <br>
												<!-- 수정아이콘 -->
												<span> <i class="ri-edit-2-line update"
													th:attr="data-no=${r.replyNo}"
													th:if="${session.empNo == pj.empNo}"></i>
												</span>&nbsp;
												<!-- 삭제아이콘 -->
												<span> <i class="ri-delete-bin-line delete"
													th:attr="data-no=${r.replyNo}"
													th:if="${session.empNo == pj.empNo}"></i>
												</span>
												<hr>
											</div>
										</div>
										<div class="form-floating mb-3">
											<textarea class="form-control"
												placeholder="Leave a comment here" id="rCntn"
												style="height: 100px; resize: none"></textarea>
											<label for="floatingTextarea">Comments</label>
										</div>
										<form id="rupFrm" action="ppReplyInsert" method="post">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}">
											<button id="rBtn" class="btn btn-primary btn-sm"
												style="float: right" type="button">등록</button>
										</form>
										<!-- end 댓글 -->
									</div>
								</div>
								<!-- End Default Card -->

								</div>
								<!-- 페이징 -->
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>
										<li class="page-item"><a class="page-link" href="#">1</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">2</a>
										</li>
										<li class="page-item"><a class="page-link" href="#">3</a>
										</li>
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
							
						</div>

						<!-- Start 업무 -->
						<div class="tab-pane fade" id="business" role="tabpanel"
							aria-labelledby="business-tab">
							<div class="card sc"
								style="width: 80%; position: relative; left: 10%; margin-top: 50px;"
								th:each="b : ${businessList}" th:attr="data-no=${b.postNo}">
								<div class="card-body">
									<div class="card-title">
										<span style="font-size: 16px;"><b>[[${b.wrtr}]]</b></span>
										<!-- 드롭다운 아이콘 -->
										<div class="filter" style="float: right">
											<a class="icon" href="#" data-bs-toggle="dropdown"> <i
												class="bi bi-three-dots"></i>
											</a>
											<!-- 드롭다운 수정삭제 펼치기 -->
											<ul
												class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<li class="dropdown-header text-start"><i
													class="bi bi-gear"> settings</i>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${b.postNo}" data-type="업무">
														<i class="ri-edit-2-line"></i>수정
													</button>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${b.postNo}" data-type="업무">
														<i class="ri-delete-bin-line"></i>삭제
													</button></li>
											</ul>
										</div>
									</div>
									<span style="font-size: 22px;"><b>[[${b.bussTtl}]]</b></span><br>
									<span>[[${b.sdt}]] - [[${b.edt}]]</span>
									<hr style="color: gray;">
									<!-- 상태 -->
									<i class="bi bi-arrow-clockwise size"></i> <span class="round"
										style="margin-left: 20px;"
										th:classappend="${b.st} == '요청' ? 'select'">요청</span> <span
										class="round" th:classappend="${b.st} == '진행' ? 'select'">진행</span>
									<span class="round" th:classappend="${b.st} == '완료' ? 'select'">완료</span>
									<br> <br>
									<div th:text="${b.cntn}"
										style="font-size: medium; min-height: 200px; padding: 10px;"></div>
									<br> <br> <a th:each="f:${postFiles}"
										th:if="${f.atchNo}==${b.atchNo}"
										th:attr="data-path=${f.fPath}"
										th:href=@{/attach(path=${f.fPath})} th:text="${f.fNm}"></a> <br>

									<!-- 댓글 -->
									<br>
									<div class="form-floating mb-3">
										<textarea class="form-control"
											placeholder="Leave a comment here"
											style="height: 100px; resize: none"></textarea>
										<label for="floatingTextarea">Comments</label>
									</div>
									<button class="btn btn-primary btn-sm" style="float: right"
										type="button">등록</button>
									<!-- 전체 댓글 -->
									<div class="rList">
										<div th:each="r : ${replyList}"
											th:if="${b.postNo}==${r.postNo}">
											<span th:text="${r.wrtr}">작성자</span>&nbsp; <span
												th:text="${#dates.format(r.dttm, 'yyyy-MM-dd HH:mm:ss')}">작성일시</span>
											<br> <span th:text="${r.cntn}">댓글내용</span>&nbsp;&nbsp; <span>
												<i class="ri-edit-2-line update"
												th:attr="data-no=${r.replyNo}"></i>
											</span>&nbsp;
											<!-- 수정아이콘 -->
											<span> <i class="ri-delete-bin-line delete"
												th:attr="data-no=${r.replyNo}"></i>
											</span>
											<!-- 삭제아이콘 -->
											<hr>
										</div>
									</div>
									<!-- 전체 댓글 -->
								</div>
							</div>
						</div>
						<!-- End 업무 -->

						<!-- Start 할일 목록 -->
						<div class="tab-pane fade" id="todo" role="tabpanel" 
							 aria-labelledby="todo-tab">
							<div class="card sc"
								style="width: 80%; position: relative; left: 10%; margin-top: 50px;"
								th:each="t :${todoList}">

								<div class="card-body">
									<div class="card-title">
										<span style="font-size: 16px;"><b>[[${t.wrtr}]]</b></span>
										<!-- 드롭다운 아이콘 -->
										<div class="filter" style="float: right">
											<a class="icon" href="#" data-bs-toggle="dropdown">
												<i class="bi bi-three-dots"></i>
											</a>
											<!-- 드롭다운 수정삭제 펼치기 -->
											<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<li class="dropdown-header text-start">
													<i class="bi bi-gear"> settings</i>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${t.postNo}" data-type="할일">
														<i class="ri-edit-2-line"></i>수정
													</button>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${t.postNo}" data-type="할일">
														<i class="ri-delete-bin-line"></i>삭제
													</button>
												</li>
											</ul>
										</div>
									</div>
									<span style="font-size: 22px;"><b>[[${t.ttl}]]</b></span><br>
									<div id="postNo" th:text="${t.postNo}"></div>
									<hr style="color: gray;">
										<div th:each="d : ${detailList}">
											<div th:text="${d.cntn}"></div>
										</div>
									<div>
									
										<table border="1"><!-- class="table table-borderless" -->
											<thead>
												<tr>
													<td><input type="checkbox"></td>
													<td>1</td>
													<td>w</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="d : ${detailList}" th:if="${d.postNo} == ${t.postNo}">
													<td><input type="checkbox"></td>
													<td th:text="${d.todoNo}">No</td>
													<td th:text="${d.cntn}">내용</td>
												</tr>
											</tbody>
										</table>
									</div>
									<br>
									<div class="form-floating mb-3">
										<textarea class="form-control"
											placeholder="Leave a comment here"
											style="height: 100px; resize: none"></textarea>
										<label for="floatingTextarea">Comments</label>
									</div>
									<button class="btn btn-primary btn-sm" style="float: right"
										type="button">등록</button>
									</div>
								<!-- 전체 댓글 -->
								<div class="rList">
									<div th:each="r : ${replyList}"
										th:if="${t.postNo}==${r.postNo}">
										<span th:text="${r.wrtr}">작성자</span>&nbsp; <span
											th:text="${#dates.format(r.dttm, 'yyyy-MM-dd HH:mm:ss')}">작성일시</span>
										<br> <span th:text="${r.cntn}">댓글내용</span>&nbsp;&nbsp; <span>
											<i class="ri-edit-2-line update"
											th:attr="data-no=${r.replyNo}"></i>
										</span>&nbsp;
										<!-- 수정아이콘 -->
										<span> <i class="ri-delete-bin-line delete"
											th:attr="data-no=${r.replyNo}"></i>
										</span>
										<!-- 삭제아이콘 -->
										<hr>
									</div>
								</div>
								<!-- 전체 댓글 -->
							</div>
						</div>
					</div>
					<!-- Start 페이징 -->
					<nav id="pagenationNav">
						<ul class="pagination" style="float: none;">
							<!-- getPrePage : 이전 페이지 -->
							<li class="page-item"
								th:classappend="${scheduleList.getPrePage() == 0} ? 'disabled'">
								<!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 --> <a
								class="page-link"
								th:href=@{/prjPostList(pageNum=${scheduleList.getPrePage()},prjNo=${prjNo})}>Previous</a>
							</li>
							<!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
							<!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
							<li class="page-item"
								th:each="page: ${#numbers.sequence(scheduleList.getNavigateFirstPage(), scheduleList.getNavigateLastPage())}"
								th:classappend="${page == scheduleList.getPageNum()} ? 'active'">
								<a class="page-link" th:text="${page}"
								th:href=@{/prjPostList(pageNum=${page},prjNo=${prjNo})}></a>
							</li>
							<!-- getPrePage : 다음 페이지 -->
							<li class="page-item"
								th:classappend="${scheduleList.getNextPage() == 0} ? 'disabled'">
								<!--  href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 --> <a
								class="page-link"
								th:href=@{/prjPostList(pageNum=${scheduleList.getNextPage()},prjNo=${prjNo})}>Next</a>
							</li>
						</ul>
					</nav>
					<!-- End 페이징 -->
				</div>
				<!-- End 할일 목록 -->


			</div>
		</section>

		<!-- 모달창 -->
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div
				class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="prjPostUpdate" method="post"
						enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}"> <input type="hidden"
							name="prjNo" th:value="${prjNo}">
						<div class="modal-body">
							<input id="p" class="form-control" type="text" name="postNo">
							<input id="t" class="form-control" type="text" name="ttl">
							<textarea id="c" class="form-control" rows="" cols="" name="cntn"></textarea>
							<input class="form-control" type="file" name="file">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
							<button type="submit" class="btn btn-primary">수정</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 모달창 -->

		<script th:inline="javascript">
		/*===== 댓글 =====*/
		$(".attendBtn").on("click", ".attend", e=>{
			let postNo = $(e.target).parent().parent().parent().data("no");
			let empNo = $("#empNo").val();
			let replyCat = "프로젝트";
			let cntn = null;
			let wrtr = [[${session.nm}]];
			if($(e.target).text()=="참석"){
				cntn = wrtr+"님이 참석합니다.";
			}else if($(e.target).text()=="불참"){
				cntn = wrtr+"님이 불참합니다.";
			}else {
				cntn = wrtr+"님이 참석미정입니다.";
			}
			
			//댓글 등록 처리
			$.ajax({
		         url:'replyInsert',
		         beforeSend:function(xhr){
		 	  		xhr.setRequestHeader(header,token);  
		     	 },
		         type:'post',
		         data:{'postNo':postNo, 'cntn':cntn, 'empNo':empNo, 'wrtr':wrtr, 'replyCat':replyCat},
		         dataType:'json',
		         success:function(res){
					let div = $("<div>").append($("<span>").html(res.wrtr)).append("\u00A0\u00A0")
										.append($("<span>").html(res.dttm))
										.append($("<br>"))
										.append($("<span>").html(res.cntn)).append("\u00A0\u00A0\u00A0")
										.append($("<span>").append($("<i>").addClass("ri-edit-2-line update").attr("data-no", res.replyNo)).append("\u00A0\u00A0\u00A0"))
										.append($("<span>").append($("<i>").addClass("ri-delete-bin-line delete").attr("data-no", res.replyNo)))
										.append($("<hr>"))
					$(e.target).parent().next().next().next().next().append(div);
					
					$("#rCntn").val("");
	         	}
	      	})
			if($(e.target).text()=="참석"){
				
			}
		})
		//댓글 삭제 이벤트위임 (상위 div에 이벤트 걸었음)
		$(".rList").on("click", ".delete", e=>{
			let replyNo = $(e.target).data("no"); //댓글 번호
			//댓글 삭제처리
			$.ajax({
		         url:'replyDelete',
		         beforeSend:function(xhr){
		 	  		xhr.setRequestHeader(header,token);  
		     	  },
		         type:'post',
		         data:{'replyNo':replyNo},
		         dataType:'json',
		         success:function(res){
		         	$(e.target).parent().parent().remove();
		         }
		      })
		})
		
		/*===== 게시글 수정 삭제 =====*/
		$(".dropdown-item").on("click", e=>{
			//게시글 삭제 (type으로 일정인지 글인지 구분한다.)
			if($(e.target).text().trim()=='삭제'){
				let fPath = $(e.target).closest(".card-title").siblings("a").data("path");
				if(fPath == null){
					fPath = '0';
				}
				let postNo = $(e.target).data("no");
				let type = $(e.target).data("type");
				$.ajax({
					url:'postDelete',
					beforeSend:function(xhr){
			 	  		xhr.setRequestHeader(header,token);  
			     	},
			     	type:'post',
			     	data:{'postNo':postNo, 'type':type, 'fPath':fPath},
			     	dataType:'json',
			     	success:function(res){
			     		//성공하면 -1이 넘어옴
			     		if(res!=0){
			     			swal({
			     				  icon: "success",
			     				 title: '게시글이 삭제되었습니다!',
			     				})
			     				.then(function(){
			     					$(e.target).closest(".sc").remove();
			     				});
			     			
			     		}else{
			     			swal({
			     				  icon: "error",
			     				 title: '게시글이 삭제되지 않았습니다!',
			     				});
			     		}
			     	}
					
				})
			}else{
				//글수정일때
				if($(e.target).data("type") == '글'){
					//수정버튼 클릭했을때 뜨는 모달창에 넣어주기 위한 내용
					let postNo =  $(e.target).data("no"); //게시글 번호
					$("#p").val(postNo);
					
					let ttl = $(e.target).closest(".card-title").next().children().first().text(); //게시글제목
					let cntn = $(e.target).closest(".card-title").next().next().next().text(); //게시글 내용
					$("#t").val(ttl);
					$("#c").val(cntn);
				}
			}
		})
	</script>

		<!-- 지도 -->
		<script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8979f5b92eaf5997a6ea3ade6a7e65f1&libraries=services"></script>
		<script th:inline="javascript">
	let cnt = 0;
	$("#schedule-tab").on("click", e=>{
		cnt++;
		var mapContainers = document.getElementsByClassName('map'), //지도를 표시할 div 배열
		    mapOption = { 
		        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
		        level: 4 // 지도의 확대 레벨
		    };
		
		$.each([[${scheduleList.getList()}]], (idx, s)=>{ 
			// 지도를 생성합니다  
			var map = new kakao.maps.Map(mapContainers[idx], mapOption);
			
			// 주소-좌표 변환 객체를 생성합니다
			var geocoder = new kakao.maps.services.Geocoder();
			if(cnt==1){
				getAddr(s.latitude, s.longitude, idx);
			}

			// 마커가 표시될 위치입니다 
			var markerPosition  = new kakao.maps.LatLng(s.latitude, s.longitude); 
			
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			    position: markerPosition
			});
			
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);
			
			var iwContent = '<div style="padding:5px;">여기로 와주세요!!</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			    iwPosition = new kakao.maps.LatLng(s.latitude, s.longitude); //인포윈도우 표시 위치입니다
			
			// 인포윈도우를 생성합니다
			var infowindow = new kakao.maps.InfoWindow({
			    position : iwPosition, 
			    content : iwContent 
			});
			  
			// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
			infowindow.open(map, marker);
			map.setCenter(markerPosition);
		})
	})
	
	
	//주소 넣는 부분
	function getAddr(lat, lng, idx){
	    let geocoder = new kakao.maps.services.Geocoder();

	    let coord = new kakao.maps.LatLng(lat, lng);
	    let callback = function callback(result, status) {
	        if (status === kakao.maps.services.Status.OK) {
	           	let addressName = result[0].road_address.address_name; //도로명 주소
	            $('#'+ (idx+1)).append(addressName); //주소 넣을 span
	            $('#'+ (idx+1)).append('&nbsp;&nbsp;<a href="https://map.kakao.com/link/map/'+addressName+','+lat+','+lng+'" style="color:blue" target="_blank">지도보기</a>');
	        }
	    };
	    geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
	}
	
	</script>
		<!-- 지도 -->

		<!-- 간트차트 -->
		<script>
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
	   let prjNo = $("#prjNo").val();
	   let arr=[];
	   let jsonData = $.ajax({
		    	  url:'ganttList',
		    	  type:'post',
		    	  data:{'prjNo':prjNo},
		    	  dataType:'json',
		    	  beforeSend:function(xhr){
		  	  		xhr.setRequestHeader(header,token);  
		      	  },
		    	  success:function(res){
		    		  if(res.length != 0){
		    		  $.each(res,(idx,gantt)=>{
		    			  let sdt = new Date(gantt.sdt)
		    			  let edt = new Date(gantt.edt)
		    			  var no = String(gantt.postNo); 
		    			  let a = [];
		    			  a.push(no);
		    			  a.push(gantt.bussTtl);
		    			  a.push(no);
		    			  a.push(sdt);
		    			  a.push(edt);
		    			  a.push(gantt.term);
		    			  a.push(gantt.prog);
		    			  a.push(gantt.sub);
		    			  
		    			  arr.push(a);
		    			  let aa = new Date(2014, 2, 22)
		    			  console.log(aa)
		    			  
		    		  })
		    		  console.log(arr)
		    		  
		    		  var data = new google.visualization.DataTable();
		    	      data.addColumn('string', 'Task ID');
		    	      data.addColumn('string', 'Task Name');
		    	      data.addColumn('string', 'Resource');
		    	      data.addColumn('date', 'Start Date');
		    	      data.addColumn('date', 'End Date');
		    	      data.addColumn('number', 'Duration');
		    	      data.addColumn('number', 'Percent Complete');
		    	      data.addColumn('string', 'Dependencies');
		    	      
		    	      data.addRows(arr);
		    	      
		    	      var options = {
		    	    	  height: 400,
		    	    	  gantt: {
		    	    	  	  trackHeight: 30
		    	    	  }
		    	   	  };
	
		    	      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
	
		    	      chart.draw(data, options);
		    		  }else {
		    			  $("#chart_div").text("등록된 업무가 없습니다.")
		    		  }
		    	  }
		      })
	}
	</script>
		<!-- 간트차트 -->

		<script>
	
	/* $(document).ready(function() {
	$("#delete").on("click", e=>{
		$("#delFrm").submit();
	});
	
	//수정버튼
	$("#up").on("click", e=>{
		$("#upFrm").submit();
	});
	
	$("rup").on("click", e=>{
		$("rupFrm").submit();
	});
	})
    } */
 /*    $(document).ready(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
    $("#rBtn").on("click", e=>{
		let postNo = $("#postNo").val(); //게시글 번호
		let cntn = $("#rCntn").val();    //댓글 내용
		let empNo = $("#empNo").val();   //댓글 쓴 사원번호
		let wrtr = $("#wrtr").val();     //댓글 쓴 사원이름
		let rList = $("<div>").attr("id", "rList"); 
		
		//댓글 등록 처리
		$.ajax({
	         url:'ppReplyInsert',
	         beforeSend:function(xhr){
	 	  		xhr.setRequestHeader(header,token);  
	     	  },
	         type:'post',
	         data:{'postNo':postNo, 'cntn':cntn, 'empNo':empNo, 'wrtr':wrtr},
	         dataType:'json',
	         success:function(res){
					let div = $("<div>").append($("<span>").html(res.wrtr)).append("\u00A0\u00A0")
										.append($("<span>").html(res.dttm))
										.append($("<br>"))
										.append($("<span>").html(res.cntn)).append("\u00A0\u00A0\u00A0")
										.append($("<span>").append($("<i>").addClass("ri-edit-2-line update").attr("data-no", res.replyNo)).append("\u00A0\u00A0\u00A0"))
										.append($("<span>").append($("<i>").addClass("ri-delete-bin-line delete").attr("data-no", res.replyNo)))
										.append($("<hr>"))
					$("#rList").prepend(div);
					
					$("#rCntn").val("");
	         }
	      })
    })
    }) */
	</script>
	</main>
</body>


</html>