<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<main id="main" class="main" layout:fragment="content">

                <article>
                    <ul>
                        <li>
                            <img src="images/${postList.image }" alt="">
                        </li>
                        <li>
                            <p>
                            	<span class="label">작성자</span>
                                <span class="title">ㅎㅎ</span>
                            </p>
                        </li>
                        <li>
                            <p>
                            	<span class="label">제목</span>
                                <span class="title">ㅋㅋ</span>
                            </p>
                        </li>
                        
                        <li>
                            <p>
                            	<span class="label">장소</span>
                                <span class="title">123</span>
                            </p>
                        </li>
                        
                       <!--  <li>
                            <p>댓글</p>
                        </li>
                        <c:forEach items="${replyList}" var="replyList">
                            <c:forEach items="${replyList.pseq}" var="reply">
		                       <c:choose>
					        <c:when test = "${empty reply}">
				                <li>
				                  <p>댓글이 없습니다.</p>
				                </li>
			                        </c:when>
			                        <c:otherwise>
				                        <li>
				                          <p>
					                     <span class="label">${reply.id}</span>
					                     <span class="title">${reply.content}</span>
					                     <span class="title">${reply.indate}</span>
				                          </p>
				                        </li>
			                        </c:otherwise>
		                        </c:choose>
	                        </c:forEach>>
                        </c:forEach>
                        <li>
                        <form action="TravelLineServlet?command=replywrite" name="formm" method="post">
                        <input type="hidden" name="pseq" value="${postList.pseq }">
                       		<p class="comment">
                           		<input type="text" name="reply">
                           		<button type="submit">답글 달기</button>
                            </p>
                        </form>
                        </li>
                    </ul> -->
                
                </article>
       </main>




</body>
</html>