<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <main id="main" class="main" layout:fragment="content" >
  <div class="row justify-content-center">
	<div class="col-xl-8">
	  <div class="card">
	   <div class="card-body pt-3" >
	     <div class="tab-content pt-2">
	     
<!-- Profile Edit Form -->
            <form>
              <div class="row mb-3">
                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">사진</label>
                <div class="col-md-8 col-lg-9">
                  <img src="assets/img/profile-img.jpg" alt="Profile">
                  <div class="pt-2">
                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">부서</label>
                <div class="col-md-8 col-lg-9">
                  <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
                </div>
              </div>

              <div class="row mb-3">
                <label for="company" class="col-md-4 col-lg-3 col-form-label">직급</label>
                <div class="col-md-8 col-lg-9">
                  <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Job" class="col-md-4 col-lg-3 col-form-label">자택주소</label>
                <div class="col-md-8 col-lg-9">
                  <input name="job" type="text" class="form-control" id="Job" value="Web Designer">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">휴대폰</label>
                <div class="col-md-8 col-lg-9">
                  <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Email" class="col-md-4 col-lg-3 col-form-label">상세주소</label>
                <div class="col-md-8 col-lg-9">
                  <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="Email" class="col-md-4 col-lg-3 col-form-label">사내전화</label>
                <div class="col-md-8 col-lg-9">
                  <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="Email" class="col-md-4 col-lg-3 col-form-label">입사일</label>
                <div class="col-md-8 col-lg-9">
                  <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">퇴사일</label>
                <div class="col-md-8 col-lg-9">
                  <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                  <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-secondary">되돌리기</button>
                <button type="submit" class="btn btn-primary">저장</button>
              </div>
            </form><!-- End Profile Edit Form -->
	     </div>
	   </div>
	 </div>
	</div>
  </div>
</main>
</body>
</html>