<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 사원 정보 수정</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	$(document).ready(function() {
		//저장 버튼 클릭 이벤트
		$("#save").on("click", e=>{
			$("#empNo").val();
			$("#dept").val();
			$("#auth").val();
			
			//입사일 입력 여부 확인
			let hd = $("#hDate").val();
			if(!hd){
				alert ("입사일을 입력해주세요");
			}else{
				$("#frm").submit(); 
			}
		})
		
		//돌아가기 버튼 클릭 이벤트
		$("#rollback").on("click", e=>{
			location.href="empManage";
		})
		
		//입사일을 오늘 이후로 설정X
		let now = Date.now() // 지금 날짜를 밀리초로
		
		// getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
		let timeOff = new Date().getTimezoneOffset()*60000; // 분단위를 밀리초로 변환
		
		// new Date(now_utc-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
		let today = new Date(now-timeOff).toISOString().split("T")[0];
		document.getElementById("hDate").setAttribute("max", today);
		
		//관리자 권한 부여
		 $('[name="mng"]').change(function() {
			let result = '';
			if($("#hrCk").is(':checked')){
				result = $("#hrCk").val();
			}else if($("#attdCk").is(':checked')){
				result = $("#attdCk").val();
			}else if($("#boardCk").is(':checked')){
				result = $("#boardCk").val();
			}else{
				result = "";
			}
			//DB에 mng 값 넣기
			$("#mng").val(result);
		 })
		 
		//관리자 체크박스
		$('#adminCk').change(function() {
			if ($(this).is(':checked')) {
				alert("ADMIN 권한을 부여하였습니다.");
				$("#auth").val("ADMIN");
	        }
	        else {
				alert("ADMIN 권한 부여를 취소했습니다.");
				
				$("#auth").val("USER");
	        }
		});
	});
	
	//주소 API
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<div class="card">
			<div class="card-body pt-3">
				<br>
				<!-- Page Title -->
				<div class="pagetitle">
					<h1>정보 수정</h1>
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">HOME</li>
							<li class="breadcrumb-item">사원 관리</li>
							<li class="breadcrumb-item active">정보 수정</li>
						</ol>
					</nav>
				</div>
				<!-- End Page Title -->
				<br>
				<!-- Profile Edit Form -->
				<form id="frm" action="empUpdate" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<div class="row mb-3">
						<label for="profileImage" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">프로필 사진</label>
						<div class="col-md-7 col-lg-8">
							<img th:src="${emp.pic} == null ? 'assets/img/default_profile.png' : @{/attach(path=${emp.pic})} "
								 alt="Profile" style="width: 120px;">
						</div>
					</div>

					<div class="row" style="display: none;">
						<div class="col-lg-3 col-md-4 label" style="padding-left: 2em;">사번</div>
						<input type="text" name="empNo" class="form-control" id="empNo" th:value="${emp.empNo}">
					</div>

					<div class="row mb-3">
						<label for="name" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">성명</label>
						<div class="col-md-7 col-lg-8">
							<input name="nm" type="text" class="form-control" id="nm" th:value="${emp.nm}" disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label for="company" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">휴대폰</label>
						<div class="col-md-7 col-lg-8">
							<input name="phone" type="text" class="form-control" id="phone" 
								   th:value="${emp.phone}" disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label for="email" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">이메일</label>
						<div class="col-md-7 col-lg-8">
							<input name="email" type="email" class="form-control" id="email"
								   th:value="${emp.email}" disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label for="birth" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">생년월일</label>
						<div class="col-md-7 col-lg-8">
							<input name="birth" type="date" class="form-control" id="birth"
								   th:value="${emp.birth}" disabled>
						</div>
					</div>

					<div class="row mb-3">
						<label for="gender" class="col-md-4 col-lg-3 col-form-label"
								style="padding-left: 2em;">성별</label>
						<div class="col-md-7 col-lg-8">
							<input class="form-check-input" type="radio" name="gridRadios"
								   id="gridRadios1" value="option1" th:checked="${emp.gender} == 'M'?checked"
								   disabled>
							<label class="form-check-label" for="gridRadios1"> 남 </label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input class="form-check-input" type="radio" name="gridRadios"
								   id="gridRadios2" value="option2" th:checked="${emp.gender} == 'W'?checked"
								   disabled>
							<label class="form-check-label" for="gridRadios2"> 여 </label>
						</div>
					</div>
					<div th:style="${emp.auth} == 'GUEST'?'display:none'">
						<div class="row mb-3">
							<label for="dept" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">부서</label>
							<div class="col-md-7 col-lg-8">
								<select id="dept" name="dept" th:value="${emp.dept}"
										class="form-select" aria-label="Default select example">
									<option th:each="d : ${dept}" th:uText="${d?.cdNm}"
											th:selected="${emp.dept}==${d.cdNm}?selected"></option>
								</select>
							</div>
						</div>
					
						<div class="row mb-3">
							<label for="position" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">직위</label>
							<div class="col-md-7 col-lg-8">
								<select id="position" name="position" th:value="${emp.position}"
										class="form-select" aria-label="Default select example">
									<option th:each="p : ${position}" th:uText="${p.cdNm}"
											th:selected="${emp.position}==${p.cdNm}?selected"></option>
								</select>
							</div>
						</div>
	
						<div class="row mb-3">
							<label for="zip" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">우편번호</label>
							<div class="col-md-6">
								<input type="text" id="sample6_postcode" name="zip" class="form-control"
										th:value="${emp.zip}" placeholder="우편번호">
							</div>
							<input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-primary"
										value="우편번호 찾기" style="width: 15.5%;">
							<br>
						</div>
							
						<div class="row mb-3">
							<label for="addr" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">자택주소</label>
							<div class="col-md-7 col-lg-8">
								<input type="text" id="sample6_address" name="ad1" class="form-control"
										th:value="${emp.ad1}" placeholder="주소"><br>
								<input type="text" id="sample6_detailAddress" name="ad2" class="form-control"
										th:value="${emp.ad2}" placeholder="상세주소">
								<input type="text" id="sample6_extraAddress" name="ad3" class="form-control"
										th:value="${emp.ad3}" placeholder="참고항목">
							</div>
						</div>
						
						<div class="row mb-3">
							<label for="hDate" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">입사일</label>
							<div class="col-md-7 col-lg-8">
								<input name="hDate" type="date" class="form-control" id="hDate"
										th:value="${emp.hDate}">
							</div>
						</div>
	
						<!--               <div class="row mb-3">
	                <label for="fDate" class="col-md-4 col-lg-3 col-form-label">퇴사일</label>
	                <div class="col-md-7 col-lg-8">
	                  <input name="fDate" type="date" class="form-control" id="fDate">
	                </div>
	              </div>
	               -->
						<div class="row mb-3" style="display: none;">
							<label for="auth" class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">권한</label>
							<div class="col-md-7 col-lg-8">
								<input name="auth" type="text" class="form-control" id="auth"
									th:value="${emp.auth}">
							</div>
						</div>
						
						<div class="row mb-3">
							<label class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">관리자</label>
							<div class="col-md-7 col-lg-8">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="adminCk"
											th:checked="${emp.auth=='ADMIN'}?checked">
									<label class="form-check-label"> 관리자 권한 </label>
								</div>
	
								<div th:style="${emp.auth} != 'USER'?'display:none'" id="view">
									<input th:checked="${emp.mng=='hr'}?checked" class="form-check-input"
											type="radio" name="mng" value="hr" id="hrCk">
									<label class="form-check-label" for="gridCheck1"> 인사 관리자 </label>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input th:checked="${emp.mng =='attd'}?checked" class="form-check-input"
											type="radio" name="mng" value="attd" id="attdCk">
									<label class="form-check-label" for="gridCheck1"> 근태 관리자 </label>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input th:checked="${emp.mng =='board'}?checked" class="form-check-input"
										type="radio" name="mng" value="board" id="boardCk">
									<label class="form-check-label" for="gridCheck1"> 게시판 관리자 </label>
								</div>
								<input type="hidden" id="mng" >
							</div>
						</div>
						
					</div>

					<div class="text-center">
						<button id="rollback" type="button" class="btn btn-secondary">되돌리기</button>
						<button id="save" type="button" class="btn btn-primary">저장</button>
					</div>
				</form>
				<!-- End Profile Edit Form -->
			</div>
		</div>
	</main>
</body>
</html>