<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.hr.mapper.HrMapper">
	<select id="empList" resultType="co.up.tune.emp.vo.EmpVO">
		select * from emp
		<!-- order by (dept||empNo) -->
	</select>
	<select id="empSelect" resultType="co.up.tune.emp.vo.EmpVO">
		select * from emp
		where emp_no = #{empNo}	
	</select>
	<select resultType="co.up.tune.emp.vo.EmpVO" id="managerList">
		select * from emp
		where mng = '관리자'
	</select>
	<update id="empUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		<set>
			<if test="dept != null">dept = #{dept},</if>
			<if test="position != null">position = #{position},</if>
			<if test="zip != null">zip = #{zip},</if>
			<if test="addr != null">addr = #{addr},</if>
			<if test="hDate != null">h_date = #{hDate}</if>
		</set>
		where emp_no = #{empNo}	
	</update>
	<update id="authUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp 
		<set>
			<if test="auth = 'GUEST'">auth = #{auth}</if>
		</set>
		where mng = '관리자'
	</update>

</mapper>