<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<title>TuneUp - Home</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/assets/img/로고.png" rel="icon">
<link href="/assets/img/로고.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/assets/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script src="/js/jquery-3.6.1.min.js"></script>
<style type="text/css">
*:focus {
	outline: 0;
}

@media screen and (max-width: 1200px) {
	#mainBar {
		display: none;
	}
}

.btn-primary { 
	--bs-btn-color: #ffffff; 
	--bs-btn-bg: #9c91cf; 
	--bs-btn-border-color: #9c91cf; 
	--bs-btn-hover-color: #fff; 
	--bs-btn-hover-bg: #7e72ba; 
	--bs-btn-hover-border-color: 7e72ba; 
	--bs-btn-focus-shadow-rgb: 156, 145, 207; 
	--bs-btn-active-color: #fff; 
	--bs-btn-active-bg: #9c91cf; 
	--bs-btn-active-border-color: #9c91cf; 
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); 
	--bs-btn-disabled-color: #fff; 
	--bs-btn-disabled-bg: #a79bde; 
	--bs-btn-disabled-border-color: #a79bde;
}

.btn-outline-primary { 
--bs-btn-color: #9c91cf; 
--bs-btn-border-color: #9c91cf; 
--bs-btn-hover-color: #fff; 
--bs-btn-hover-bg: 7e72ba; 
--bs-btn-hover-border-color: 7e72ba; 
--bs-btn-focus-shadow-rgb: 13, 110, 253; 
--bs-btn-active-color: #fff; 
--bs-btn-active-bg: 7e72ba; 
--bs-btn-active-border-color: 7e72ba; 
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); 
--bs-btn-disabled-color: #9c91cf; 
--bs-btn-disabled-bg: transparent; 
--bs-btn-disabled-border-color: #9c91cf; 
--bs-gradient: none;
}

.back-to-top, .back-to-top:hover {
	background-color:#8b80bf;
	border: 1px solid #8b80bf;
	background: #8b80bf;
}

.list-group {
    --bs-list-group-active-bg: #9c91cf;
    --bs-list-group-active-border-color:#8b80bf;
}


.pagination {
  
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-active-bg: #9c91cf;
    --bs-pagination-active-border-color:#8b80bf;
    --bs-pagination-disabled-color: #9c91cf;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.rounded-pill{
	background: #9c91cf !important
}
.bg-primary{
	background: #9c91cf !important
}

.form-check-input:checked {
    background-color: #8b80bf;
    border-color: #8b80bf;
}
</style>


<!-- 웹소켓 현지수정 2022/9/24 + 정은 추가 -->
<script
	src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script> /*웹소켓 자바스크립트*/
  //전역변수 선언
  var socket = null;
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  $(document).ready(function(){
  	//웹소켓 연결
  	connectWs();
  	
  	//데이터를 전달 받았을 때
  	socket.onmessage = onMessage; //toast 생성
  	
  	//서버가 끊겼을 때 호출
  	socket.onclose = function(){
  		//setTimeout(function(){connectWs();}, 500);
  	}
  	
  	//게시글 등록 버튼 눌렀을 때 소켓에 메세지 보내는 함수
  	$("#noticeBtn").on("click", function(){
          let content = tinymce.activeEditor.getContent();
          let title = $("#ttl").val();
          $("#cntn").val(content);
          $("#frm").submit();
          
          if($('#emerg').is(':checked')){
          	socket.send('notice,'+title);
          }
      });
      
  	//댓글 등록 버튼 클릭 시
  	$(".socket").on("click", e => {
  		let postNo = $("#postNo").val(); //게시글 번호
  		let receiverNm = $("#receiverNm").text(); //게시글 쓴 사원이름
  		let receiverNo = $("#receiverNo").val(); //게시글 쓴 사원번호
  		let postTitle = $("#postTitle").text(); //게시글 제목
  		let cntn = $("#rCntn").val();    //댓글 내용
  		let empNo = $("#eNo").val();   //댓글 쓴 사원번호
  		let wrtr = $("#wrtr").val();     //댓글 쓴 사원이름
  		let rList = $("<div>").attr("id", "rList");
  		let bellCntn = wrtr+'님이 <a id="freeTitle" data-no='+postNo+' href="javascript:void(0);" onClick="freeTitle()">['+postTitle+']</a>게시글에 댓글을 남겼습니다.';
  			
        //전송한 정보를 db에 저장
  		//내가 등록한 댓글은 db에 저장되지 않고
  		//내 게시글에 댓글 달 경우는 나에게 알림이 가지 않도록
  		if(receiverNo != empNo) {
  			$.ajax({
  				url: 'bellInsert',
  				beforeSend:function(xhr){
  					   xhr.setRequestHeader(header,token);  
  				},
  				type: 'post',
  				data: {
  					'sender': wrtr,
  					'receiver': receiverNm,
  					'cntn': bellCntn,
  					'empNo': receiverNo
  				},
  				dataType: 'text',
  				success: function(res){ 
  					//db전송 성공시 실시간 알림 전송
  					//소켓에 전달되는 메세지
  					//handler에서 ,(comma)를 이용해서 분리시킨다
 
  					socket.send('reply,'+wrtr+','+receiverNm+','+receiverNo+','+postNo+','+postTitle);
  				}
  			})
  		}
  	})
  	
  	
  	
  })

  //웹소켓 연결 함수
  function connectWs(){
  	sock = new SockJS("/ws/alarm"); //다른곳에서도 사용하려고 내 ip주소 적어놓음
  	socket = sock;
  	
  	//이벤트 리스너(커넥션이 연결되었을 때 서버 호출된다)
  	sock.onopen = function(){console.log("connect!")}
  };

  //toast생성 및 추가 (웹소켓으로 보낸 메세지 받는 함수)
  function onMessage(msg){
  	var data = msg.data;
  	console.log(data)
  	
  	if(data.includes("공지")) {
  		//alert
  		let alert = "<div class='alert alert-danger alert-dismissible fade show' role='alert' aria-live='assertive' aria-atomic='true'>";
  	    alert += "<i class='ri-alarm-warning-fill'></i><strong class='mr-auto'>"+data+"</strong>";
  	    alert += "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>";
  	    $("#alertNotice").append(alert);   
  	    
  	}else if(data.includes("댓글")){
  		let bellCount = $("#bell").text();
  		$("#bell").text(Number(bellCount)+1);
  		
  		//toast
  		let toast = "<div class='toast' role='alert' aria-live='assertive' aria-atomic='true'>";
  		toast += "<div class='toast-header'><strong class='me-auto'>알림</strong>";
  	    toast += "<button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button></div>";
  	    toast += "<div class='toast-body'>" + data + "</div></div>";
  	    $("#bellArea").append(toast);   // bellArea div에 생성한 toast 추가
  		$(".toast").toast({"animation": true, "autohide": false});
        $('.toast').toast('show');
          
  	}else if(data.includes("쪽지")){
  		let noteCount = $("#noteBell").text();
  		$("#noteBell").text(Number(noteCount)+1);
  	} else if (data.inclued("문서")){
  		let bellCount = $("#bell").text();
  		$("#bell").text(Number(bellCount)+1);
  		
  		//toast
  		let toast = "<div class='toast' role='alert' aria-live='assertive' aria-atomic='true'>";
  		toast += "<div class='toast-header'><strong class='me-auto'>알림</strong>";
  	    toast += "<button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button></div>";
  	    toast += "<div class='toast-body'>" + data + "</div></div>";
  	    $("#bellArea").append(toast);   // bellArea div에 생성한 toast 추가
  		$(".toast").toast({"animation": true, "autohide": false});
        $('.toast').toast('show');
  		
  		
  	}
  }
</script>
<style>
/* 긴급공지 헤더에 띄우는 css */
.noticeAlert {
	margin: 0;
	position: relative;
	top: 7px;
	left: 70px;
	width: 45%;
	min-width: 500px;
}

.teamMList {
	font-size: 15px !important;
}
</style>
<script>
  $(document).ready(function(){
	let empNo = $("#eNo").val();
	
	//현지 수정 알림갯수
	$.ajax({
		url: 'bellCount',
		beforeSend:function(xhr){
 	  		xhr.setRequestHeader(header,token);  
     	},
     	type: 'post',
     	data: {'empNo':empNo},
		dataType: 'json',
		success: function(res){
			if($("#bell").text() == null){
				$("#bell").text('0');
			}
			$("#bell").html(res);
		}
	});
	
	//쪽지 알림갯수
	$.ajax({
		url:'noteCount',
		beforeSend:function(xhr){
 	  		xhr.setRequestHeader(header,token);  
     	},
     	type: 'post',
     	data: {'rEmpNo':empNo},
		dataType: 'json',
		success: function(res){
			if($("#noteBell").text() == null){
				$("#noteBell").text('0');
			}
			$("#noteBell").html(res);
		}
	})
	
	//은지 개인정보 empNo 값
	$("#pwCheck").on("click", e=>{
	    $("#eNo").val()
	    $("#pwFrm").submit();
	})
	
	
 	$("#replyFrm").on("click", e=>{
 		
		 $("#replyFrm").submit();
	})
})

  function freeTitle() {
	let postNo = $("#freeTitle").data("no");
	console.log(postNo)
	$("#alarmPostNo").val(postNo);
	$("#bellFrm").submit();
  };
	
  </script>
</head>
<body>
	<input type="hidden" id="eNo" name="empNo" th:value="${session.empNo}">
	<form id="bellFrm" method="post" action="freeSelect">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}"> <input type="hidden"
			id="alarmPostNo" name="postNo" value="">
	</form>
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<!-- Start Logo -->
		<div class="d-flex align-items-center justify-content-between">
			<a href="/main" class="logo d-flex align-items-center"> <img
				src="/assets/img/로고.png" alt=""> <span
				class="d-none d-lg-block">Tune-Up</span>
			</a> <i class="bi bi-list toggle-sidebar-btn"></i>
		</div>
		<!-- End Logo -->

		<!-- 웹소켓 긴급공지 알림 -->
		<div id="alertNotice" class="noticeAlert"></div>

		<!-- 헤더 오른쪽 아이콘들 -->
		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<!-- 조직도 아이콘 -->
				<li class="nav-item dropdown"><a class="nav-link nav-icon"
					href="group"> <i class="bi bi-diagram-3"></i>
				</a></li>

				<li class="nav-item dropdown">
					<!-- 메일 아이콘 --> <a class="nav-link nav-icon" href="noteHome"> <i
						class="bi bi-envelope"></i> <span id="noteBell"
						class="badge bg-success badge-number"></span>
				</a>
				</li>

				<li class="nav-item dropdown">
					<!-- 알림 아이콘 --> <a class="nav-link nav-icon" href="bellList"> <i
						class="bi bi-bell"></i> <span id="bell"
						class="badge bg-primary badge-number"></span>
				</a>
				</li>
				<!-- End Notification Nav -->


				<li class="nav-item dropdown pe-3"><a
					class="nav-link nav-profile d-flex align-items-center pe-0"
					href="#" data-bs-toggle="dropdown"> <img
						th:src="${session.pic} == null ? 'assets/img/default_profile.png' : @{/attach(path=${session.pic})} "
						alt="Profile" class="rounded-circle"> <span
						class="d-none d-md-block dropdown-toggle ps-2">내프로필</span>
				</a> <!-- 마이페이지 프로필 아이콘 눌렀을때-->
					<ul
						class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6 th:text="${session.nm}"></h6> <span
							th:text="${session.position}"></span>
						</li>
						<li class="form-floating"><select class="form-select"
							id="sessionSt" name = "sessionSt" aria-label="State">
								<option th:value="${session.st} == '온라인' ? '온라인' : '자리비움'"
									th:text="${session.st} == '온라인' ? '온라인' : '자리비움'"></option>
								<option th:value="${session.st} == '온라인' ? '자리비움' : '온라인'"
									th:text="${session.st} == '온라인' ? '자리비움' : '온라인'"></option>
						</select> <label for="sessionSt"><i class="bi bi-person"></i>내 상태</label></li>
						<li>
							<form id="pwFrm" method="get" action="profile">
								<a id="pwCheck" class="dropdown-item d-flex align-items-center"
									href="javascript:void(0);"> <i class="bi bi-gear"></i> <span>개인정보</span>
								</a>
							</form>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item d-flex align-items-center"
							href="empManage"> <i class="bi bi-question-circle"></i> <span>사원관리</span>
						</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<form class="dropdown-item d-flex align-items-center"
								action="logout" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}"> <i
									class="bi bi-box-arrow-right"></i>
								<button class="dropdown-item d-flex align-items-center"
									type="submit">로그아웃</button>
							</form>
						</li>
					</ul> <!-- End Profile Dropdown Items --></li>
				<!-- End Profile Nav -->
			</ul>
		</nav>
		<!-- End Icons Navigation -->
	</header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">
		<!-- 프로필사진  -->
		<section class="section profile">
			<div>
				<div
					class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<img
						th:src="${session.pic} == null ? 'assets/img/default_profile.png' : @{/attach(path=${session.pic})} "
						alt="Profile" class="rounded-circle">
					<div style="position: relative; left: -8px;">
						<i id="prev" class="bi bi-caret-left-fill"
							style="font-size: 22px; position: relative; left: -30px; top: 42px;"></i>
						<h2 th:text="${session.nm}">kim</h2>
						<i id="next" class="bi bi-caret-right-fill"
							style="font-size: 22px; position: relative; left: 80px; top: -29px;"></i>
					</div>
					<!-- 팀원들? -->
					<h3 style="position: relative; left: -10px;"></h3>
					<ul class="list-group list-group-flush" id="teamMem"
						style="position: relative; left: -10px;">
					</ul>
				</div>
			</div>
		</section>
		<br>
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-grid"></i><span>프로젝트</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="components-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a href="myProject"> <i class="bi bi-circle"></i><span>내
								프로젝트</span>
					</a></li>
					<li><a href="files"> <i class="bi bi-circle"></i><span>내
								파일함</span>
					</a></li>
					<li><a href="myPost"> <i class="bi bi-circle"></i><span>내
								게시글</span>
					</a></li>
				</ul></li>
			<!-- End Components Nav -->

			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>전자결재</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="forms-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a href="aprvReq"> <i class="bi bi-circle"></i><span>나의
								신청</span>
					</a></li>
					<li><a href="approval"> <i class="bi bi-circle"></i><span>나의
								승인</span>
					</a></li>

					<li th:if="${session.auth == 'ADMIN'}"><a href="aprvAdmin">
							<i class="bi bi-circle"></i><span>관리 기능</span>
					</a></li>

				</ul></li>
			<li class="nav-item"><a class="nav-link collapsed"
				data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-layout-text-window-reverse"></i><span>커뮤니티</span><i
					class="bi bi-chevron-down ms-auto"></i>
			</a>
				<ul id="tables-nav" class="nav-content collapse "
					data-bs-parent="#sidebar-nav">
					<li><a href="noticeList"> <i class="bi bi-circle"></i><span>공지게시판</span>
					</a></li>
					<li><a href="freeList"> <i class="bi bi-circle"></i><span>자유게시판</span>
					</a></li>
				</ul></li>
			<!-- End Tables Nav -->
		</ul>
	</aside>
	<!-- End Sidebar-->

	<!-- 알림 toast 창 뜨는 곳 -->
	<div id="bellArea"
		class="toast-container position-absolute bottom-0 end-0"
		style="z-index: 1"></div>
	<div class="row">
		<div class="col-xl-12">
			<div class="col-xl-10">
				<!-- ======= Main ======= -->
				<main id="main" class="main" layout:fragment="content"></main>
			</div>
			<!-- End #main -->
			<div class="col-xl-2 visible-lg"
				style="position: fixed; right: 0px; top: 80px; padding-right: 30px;"
				id="mainBar">
				<div class="profile-card">
					<div class="card">
						<div class="card-body pt-3">
							<br>
							<div class="card mb-3">
								<div class="card-body">
									<br> <span th:text="|${session.nm}님 환영합니다.|"></span>
									<!-- 출근 시간 보여주기 -->
									<hr>

									<div class="list-group col-12">
										<div class="list-group-item list-group-item-primary">
											<div>
												출근 시간 <span class="badge bg-secondary text-light"
													th:text="${session.checkTime == null? '' :  #dates.format(session.checkTime, 'HH:mm')}"
													style="margin-left: 30px;"></span>
											</div>
											<div>
												퇴근 시간 <span class="badge bg-secondary text-light"
													th:text="${session.checkBTime == null? '' : #dates.format(session.checkBTime, 'HH:mm')}"
													style="margin-left: 30px;"></span>
											</div>
										</div>

									</div>

									<br>

									<div class="list-group">


										<!-- 출퇴근 버튼 찍기 -->
										<div class="btn-group" role="group" aria-label="Basic example"
											style="width: 100%;">
											<button id="attdBtn" type="button" class="btn btn-primary">출근</button>
											<button id="edBtn" type="button" class="btn btn-primary">퇴근</button>
										</div>
										<br>

										<!-- 근태관리 버튼 -->

										<button type="button" class="btn btn-primary"
											onclick="location.href='myAttdList'">나의 근태</button>

									</div>
								</div>

							</div>

							<div class="card mb-3">
								<div class="card-body">
									<div class="col-12">
										<br>
										<h5 class="text-center">NOTICE</h5>
										<hr>
										<table id="noticeTable" class="table table-hover">
											<thead hidden="hidden">
												<tr>
													<th>제목</th>
												</tr>
											</thead>
											<tbody id="tb">
												<tr th:each="n : ${session.nList.getList()}"
													th:attr="data-no=${n.postNo}">
													<td>[[${n.ttl}]]</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div>

							<form id="noticeFrm" action="noticeSelect">
								<input type="hidden" id="pn" name="postNo">
							</form>
							<form id="stFrm" method="post" action="startAttd">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}"> <input type="hidden"
									name="empNo" th:value="${session.empNo}"> <input
									type="hidden" name="nm" th:value="${session.nm}"> <input
									type="hidden" name="dept" th:value="${session.dept}"> <input
									type="hidden" name="position" th:value="${session.position}">
							</form>
							<form id="endFrm" method="post" action="endAttd">
								<input type="hidden" class="inputToken"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
								<input type="hidden" class="inputEmpNo" name="empNo"
									th:value="${session.empNo}">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer" style="padding-right: 330px;">
		<div class="copyright">
			&copy; Copyright <strong><span>Tune-Up</span></strong>. All Rights
			Reserved
		</div>



	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>


	<script>
  	/* 화살표 누르면 부서별 팀원 */
  	let depts = ['영업','기획','인사','회계','개발','재무'];
  	let idx = 2;
  	dept = depts[idx];
  	
	//기본은 부서=>인사
	$.ajax({
		url: 'prjTeamMembers',
		data:{'dept':dept},
		dataType: 'json',
		success: function(res){
			if(res.length != 0){
		  		$.each(res, (idx,team)=>{
		  			$("#teamMem").append(`<li class="list-group-item teamMList">${team.nm}&nbsp;&nbsp;${team.position}&nbsp;&nbsp;<span class="badge rounded-pill bg-primary">${team.st}</span></li>`)
				})
			}
		}
	})
  	
	//오른쪽 화살 클릭시
  	$("#next").on("click", e=>{
  		if(idx < depts.length-1){
  			$("#teamMem").html("");
	  		idx = idx+1;
	  		dept = depts[idx];
	  		$("#teamMem").prev().text(dept + "팀");
	  		
	  		$.ajax({
	  	  		url: 'prjTeamMembers',
	  	  		data:{'dept':dept},
	  	  		dataType: 'json',
	  	  		success: function(res){
	  	  		console.log(res)
	  	  			if(res.length != 0){
			  	  		$.each(res, (idx,team)=>{
			  	  			$("#teamMem").append(`<li class="list-group-item teamMList">${team.nm}&nbsp;&nbsp;${team.position}&nbsp;&nbsp;<span class="badge rounded-pill bg-primary">${team.st}</span></li>`)
			  			})
	  	  			}
	  	  		}
	  	  	})
  		}
  	})
  	
  	//왼쪽화살 클릭 시
  	$("#prev").on("click", e=>{
  		if(idx > 0){
  			$("#teamMem").html("");
	  		idx = idx-1;
	  		dept = depts[idx];
	  		$("#teamMem").prev().text(dept + "팀");
	  		
	  		$.ajax({
	  	  		url: 'prjTeamMembers',
	  	  		data:{'dept':dept},
	  	  		dataType: 'json',
	  	  		success: function(res){
	  	  			console.log(res)
	  	  			if(res.length != 0){
			  	  		$.each(res, (idx,team)=>{
			  	  			$("#teamMem").append(`<li class="list-group-item teamMList">${team.nm}&nbsp;&nbsp;${team.position}&nbsp;&nbsp;<span class="badge rounded-pill bg-primary">${team.st}</span></li>`)
			  			})
	  	  			}
	  	  		}
	  	  	})
  		}
  	})
  	/* 화살표 누르면 부서별 팀원 */
  	$("#teamMem").on("click", ".teamMList", e=>{

  		var chatWidth = 1030;
  	    var chatHeight = 830;

  	    var chatLeft = 90;
  	    var chatTop = 100;
  	    window.open('/chat', '', `width = ${chatWidth}px, height = ${chatHeight}px,left = ${chatLeft}%,top = ${chatTop}`)
  	})
  	
  	
 
  
	let msgs = "[[${msg}]]";
	if (msgs != '') {
		alert(msgs);
	}
	$(document).ready(function(){
		//확인 버튼 클릭 이벤트
		 $("#attdBtn").on("click", e=>{
			$("#stFrm").submit();
		 	$(e.target).attr("disabled", true); 
		 	alert("출근 처리 되었습니다!");
			
		});
		$("#edBtn").on("click", e=>{
			if(confirm("정말 퇴근하시겠습니까?")){
				$("#endFrm").submit(); 
				alert("퇴근 처리 되었습니다.");
			} 
		})
		
		 $("#sessionSt").on("change", e=>{
		  let st = $("select[name=sessionSt]").val();
		 
		  $.ajax({
				url:'empStChange',
				beforeSend:function(xhr){
			 		xhr.setRequestHeader(header,token);  
			    },
			    type:"post",
			    data:{'st':st},
			    dataType:'json',
			    success:function(obj){
					alert("상태 변경 완료!");
					
				}
			})
		  
	  })
		
	
		//공지글 상세조회
		$("#noticeTable").on("click", "tbody>tr", e=>{
			let no = $(e.currentTarget).data("no"); //게시글 번호
			$("#pn").val(no)
			$("#noticeFrm").submit();
		})
		
	})
	
	
	
	</script>

	<!-- Vendor JS Files -->
	<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendor/chart.js/chart.min.js"></script>
	<script src="/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/assets/vendor/quill/quill.min.js"></script>
	<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/assets/js/main.js"></script>

</body>

</html>
