<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.mypage.mapper.MyPageMapper">
	<select id="empSelectOne" parameterType="co.up.tune.emp.vo.EmpVO" resultType="co.up.tune.emp.vo.EmpVO">
		select * from emp
		where emp_no = #{empNo}
	</select>
	
	
	<update id="profileUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		<set>
			<if test="pw != null">pw = #{pw},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="email != null">email = #{email},</if>
			<if test="birth != null">birth = #{birth},</if>
			<if test="pic != null"> pic = #{pic}</if>
		</set>
		where emp_no = #{empNo}
	</update>
	
	<update id="picUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		<set>
			<if test="pic != 'assets/img/default_profile.png'">pic = #{pic}</if>
		</set>
		where emp_no = #{empNo}
	</update>
	
	<update id="signUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		<set>
			<if test="sign != null">sign = #{sign}</if>
			where emp_no = #{empNo}
		</set>
	</update>
</mapper>
