<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.mypage.mapper.MyPageMapper">
	<select id="empSelectOne" parameterType="co.up.tune.emp.vo.EmpVO"
			resultType="co.up.tune.emp.vo.EmpVO">
		select * from emp
		where emp_no = #{empNo}
	</select>

	<update id="profileUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update emp
		<set>
			<if test="pw != null">pw = #{pw},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="gender != null">gender = #{gender},</if>
			<if test="email != null">email = #{email},</if>
			<if test="birth != null">birth = #{birth},</if>
			pic = #{pic}
		</set>
		where emp_no = #{empNo}
	</update>

	<update id="picUpdate" parameterType="co.up.tune.emp.vo.EmpVO">
		update  emp
		   set	pic = #{pic}
		 where	emp_no = #{empNo}
	</update>
	
	<select id="postLook" parameterType="co.up.tune.prj.vo.PostVO" resultType="co.up.tune.prj.vo.PostVO">
		SELECT 
				TTL,
				CNTN,
				WRTR
		FROM POST
		WHERE POST_NO = #{postNo}
		UNION
			SELECT BUSS_TTL TTL, CNTN, WRTR
			FROM BUSINESS
			WHERE POST_NO = #{postNo}
		UNION
			SELECT	TTL,
					CNTN,
					WRTR
			FROM SCHEDULE
			WHERE POST_NO = #{postNo}
	</select>


</mapper>
