<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.prjMng.mapper.PrjMngMapper">
	
	<select id="teamList" resultType="co.up.tune.prj.vo.TeamVO" parameterType="int">
		SELECT * 
		FROM TEAM 
		WHERE PRJ_NO IN (
    		SELECT PRJ_NO 
    		FROM PROJECT 
    		WHERE PRJ_NO=#{prjNo}
    	)
    	ORDER BY PRJ_NO
	</select>

	<select id="pjSelect" resultType="co.up.tune.prj.vo.ProjectVO" parameterType="co.up.tune.prj.vo.ProjectVO">
		SELECT * FROM PROJECT
		WHERE PRJ_NO = #{prjNo}
	</select>
	
	<select id="tmSelect" resultType="co.up.tune.prj.vo.TeamVO" parameterType="co.up.tune.prj.vo.TeamVO">
		SELECT * FROM TEAM
		WHERE PRJ_NO = #{prjNo}
	</select>
	
	<select id="authList" resultType="co.up.tune.prj.vo.TeamVO" parameterType="int">

	SELECT *
	FROM TEAM
	WHERE PRJ_NO IN (
	SELECT PRJ_NO
	FROM PROJECT
	WHERE PRJ_NO=#{prjNo}
	) AND AUTH = '팀장'
	ORDER BY PRJ_NO
		
	</select>
	
	
	<delete id="removeTeam" parameterType="co.up.tune.prj.vo.TeamVO">
	DELETE FROM TEAM
	WHERE EMP_NO = #{empNo}
	AND PRJ_NO = #{prjNo}
	</delete>
	
	<update id="teamAuth" parameterType="co.up.tune.prj.vo.TeamVO">
		UPDATE TEAM
		SET AUTH = '팀장'
		WHERE PRJ_NO = #{prjNo}
		AND EMP_NO = #{empNo}
	 
	</update>
	
	<update id="removeAuth" parameterType="co.up.tune.prj.vo.TeamVO">
		UPDATE TEAM SET
		AUTH ='팀원' 
		WHERE PRJ_NO = #{prjNo}
		AND EMP_NO = #{empNo}
		
	</update>
	
	<update id="prjSt" parameterType="co.up.tune.prj.vo.ProjectVO">
		UPDATE PROJECT 
		<set>
		ST = #{st} 
		</set>
		WHERE PRJ_NO = #{prjNo}
	</update>
	
	<!-- 트리뷰 부서별 주소록 리스트-->
	<select id="tdeptList" resultType="co.up.tune.emp.vo.EmpVO" parameterType="co.up.tune.emp.vo.EmpVO">
		SELECT EMP_NO, NM
		FROM EMP
		WHERE DEPT = #{dept}
	</select>
 
 	<!-- 멤버 추가 -->
	<insert id="teamInsert" parameterType="co.up.tune.prj.vo.TeamVO">
	INSERT INTO TEAM
	VALUES (#{empNo},#{prjNo},'팀원',#{nm},#{dept})
	WHERE PRJ_NO = #{prjNo}
	</insert>
	
	
	<!--  팀 테이블에 멤버 추가 
	 새 프로젝트에서 입력한 사원들 정보 가져오기 
	<select id="addTeamList" parameterType="integer" resultType="co.up.tune.prj.vo.TeamVO">
		SELECT EMP_NO, NM, DEPT
		FROM EMP
		WHERE EMP_NO IN
		<foreach collection="teamEmpNo" item="no" index="index" separator="," open="(" close=")">
			#{no}
		</foreach>
	</select>

 새로운 멤버 추가 
	<insert id="addTeamList">
			
			INSERT INTO TEAM
			VALUES (#{prjNo},#{vo.empNo},#{vo.prjNo},#{vo.auth},#{vo.nm})
			
			<foreach collection="addTeamList" item="list">
				insert into team
				values(#{list.empNo}, #{prjNo}, '팀원', #{list.nm}, #{list.dept}
				);
			</foreach>
	</insert>
	-->
	
</mapper>