<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.aprv.aprvAdmin.mapper.AprvAdminMapper">


	<select id="aprvListAll" resultType="co.up.tune.aprv.vo.AprvVO">
		SELECT APRV_NO, EMP_NO, TTL,
				DTTM, REQ_ST,
				DEADLINE, IMPTS
		FROM APRV
		<if test="reqSt != null and reqSt != '' and reqSt != '전체' ">WHERE REQ_ST=#{reqSt}</if>
		ORDER BY DEADLINE ASC, APRV_NO DESC
	</select>

	<select id="aprvSelect"
		parameterType="co.up.tune.aprv.vo.AprvVO"
		resultType="co.up.tune.aprv.vo.AprvVO">
		SELECT *
		FROM APRV
		WHERE APRV_NO = #{aprvNo}
	</select>

	<delete id="aprvAdminDel"
		parameterType="co.up.tune.aprv.vo.AprvVO">
		DELETE FROM APRV
		WHERE APRV_NO = #{aprvNo}
	</delete>

	<select id="aprvFormAll" resultType="co.up.tune.aprv.vo.FormVO">
		SELECT FORM_NO, TTL,
		FORM_CAT, EMP_NO, FORM_AUTH
		FROM FORM
		<if test="formCat != null and formCat != '' and formCat != '전체' and formCat != '개인'">WHERE FORM_CAT=#{formCat}</if>
		<if test="formCat == '개인'">WHERE FORM_AUTH= '개인'</if>
		ORDER BY
		FORM_NO DESC
	</select>

	<select id="formSelect"
		parameterType="co.up.tune.aprv.vo.FormVO"
		resultType="co.up.tune.aprv.vo.FormVO">
		SELECT *
		FROM FORM
		WHERE FORM_NO = #{formNo}
	</select>

	<delete id="formAdminDel"
		parameterType="co.up.tune.aprv.vo.FormVO">
		DELETE FROM FORM
		WHERE FORM_NO = #{formNo}
	</delete>
	
	<update id="aprvAdReject" parameterType="co.up.tune.aprv.vo.ApprovalVO">
		UPDATE APPROVAL
		<set>
		APRV_ST = '반려'
		</set>
		WHERE APRV_NO = #{aprvNo}
	</update>



</mapper>