<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.aprv.aprvAdmin.mapper.AprvAdminMapper">


	<select id="aprvListAll" resultType="co.up.tune.aprv.vo.AprvVO">
		SELECT APRV_NO, EMP_NO, TTL,
				DTTM, MOD_YN, ATCH_NO, REQ_ST,
				APRV_AUTH, DEADLINE, IMPTS
		FROM APRV
		<if test="reqSt != null and reqSt != '' and reqSt != '전체' ">WHERE REQ_ST=#{reqSt}</if>
		ORDER BY APRV_NO DESC
	</select>

	<select id="aprvSelect"
		parameterType="co.up.tune.aprv.vo.AprvVO"
		resultType="co.up.tune.aprv.vo.AprvVO">
		SELECT *
		FROM APRV
		WHERE APRV_NO = #{aprvNo}
	</select>

	<delete id="aprvAdminDel"
		parameterType="co.up.tune.aprv.vo.AprvVO">
		DELETE FROM APRV
		WHERE APRV_NO = #{aprvNo}
	</delete>

	<update id="aprvAdminUp"
		parameterType="co.up.tune.aprv.vo.AprvVO">
		UPDATE APRV
		<set>
			MOD_YN = 'Y',
			DTTM = SYSTIMESTAMP
			<if test="ttl != null and ttl != ''">TTL=#{ttl},</if>
			<if test="cntn != null and cntn != '' ">CNTN=#{cntn},</if>
			<if test="atchNo != null and atchNo != '' ">ATCH_NO=#{atchNo},</if>
			<if test="aprvAuth != null and aprvAuth != '' ">APRV_AUTH=#{aprvAuth},</if>
			<if test="aprvEtc != null and aprvEtc != ''">APRV_ETC=#{aprvEtc},</if>
			<if test="deadline != null and deadline != ''">DEADLINE=#{deadline},</if>
			<if test="impts != null and impts != ''">IMPTS=#{impts}</if>
		</set>
		WHERE APRV_NO = #{aprvNo}
	</update>



	<select id="aprvFormAll" resultType="co.up.tune.aprv.vo.FormVO">
		SELECT FORM_NO, FORM_NM,
		FORM_CAT, EMP_NO, FORM_AUTH
		FROM FORM
		<if test="formCat != null and formCat != '' and formCat != '전체'">WHERE FORM_CAT=#{formCat}</if>
		ORDER BY
		FORM_NO DESC
	</select>

	<select id="formSelect"
		parameterType="co.up.tune.aprv.vo.AprvVO"
		resultType="co.up.tune.aprv.vo.AprvVO">
		SELECT *
		FROM FORM
		WHERE FORM_NO = #{formNo}
	</select>

	<delete id="formAdminDel"
		parameterType="co.up.tune.aprv.vo.FormVO">
		DELETE FROM FORM
		WHERE FORM_NO = #{formNo}
	</delete>

	<update id="formAdminUp"
		parameterType="co.up.tune.aprv.vo.FormVO">
		UPDATE FORM
		<set>
			<if test="formNm != null and formNm != ''">FORM_NM=#{formNm},</if>
			<if test="formCntn != null and formCntn != ''">FORM_CNTN=#{formCntn},</if>
			<if test="formCat != null and formCat != ''">FORM_CAT=#{formCat},</if>
			<if test="formAuth != null and formAuth != ''">FORM_AUTH=#{formAuth}</if>
		</set>
		WHERE FORM_NO = #{formNo}
	</update>






</mapper>