<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>프로젝트 글쓰기</title>
<style>
input:focus,
textarea:focus
{
	outline:0px !important;
    box-shadow: none !important;
}
input.none
{
	border: none !important;
	display: inline-block;
	border-bottom: 1px solid #d9d9d9 !important;
}
textarea.none
{
	resize: none;
	border: none !important;
}

</style>
<script src="/js/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	//할일 추가 버튼
	$("#addTodo").on("click", e=>{
		let cntn = $("#todoAdd").val(); //할일
		
		console.log("우엥" +cntn);
		let tdList = $("<div>").attr("id", "tdList"); 
		
		//할일 추가 처리
		$.ajax({
	         url:'detailInsert',
	         beforeSend:function(xhr){
	 	  		xhr.setRequestHeader(header,token);  
	     	  },
	         type:'post',
	         data:{'cntn': cntn},
	         dataType:'json',
	         success:function(res){
	        	 console.log(res);
	        	let str = "<tr><td style='display: none' >"+res.todoNo+"</td> <td>"+res.cntn+"</td>";
	     		str += "<td><a id='remove' name='remove' type='button' class='btn btn-outline-danger btn-sm' href='javascript:void(0);' style='right: auto;'>";
	     		str += "<i class='bi bi-x-lg'></i></a> </td> </tr>";
	        	 $("#tbd").append(str);
	         }
	      })
	})
	
	
	
	//할일 저장
	$("#btn").on("click",e=>{
		$("#todoFrm").submit();
		$("#detailFrm").submit();
		
	})
});
</script>
</head>
<body>
<main layout:fragment="content">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">PROJECT</h5>
			<!-- Default Tabs -->
			<div style="padding: 20px;">
				<div>
					<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#contact-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">할일</button>
						</li>
					</ul>
				</div>
				<div class="tab-content pt-2" id="myTabjustifiedContent">
					<div class="tab-content pt-2" id="myTabjustifiedContent">
				
						<!-- 할일 -->
						<div class="tab-pane fade" id="contact-justified" role="tabpanel">
							<div class="row mb-3">
								<!-- todo insert -->
								<form id="todoFrm" action="todoInsert" method="post">
									<div class="col-sm-10" style="width: 80%">
										<input type="text" class="form-control none" style="border-bottom:1px solid blue;"
											id="ttl" name="ttl" placeholder="제목을 입력하세요.">
									</div>
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
									<input type="hidden" id="empNo" name="empNo" th:value="${session.empNo}">
									<input type="hidden" id="postNo" name="postNo" value="123">
								</form>
							</div> <br>
							
							<!-- todo 상세 Insert -->
							<div class="col-sm-10">
							<div class="input-group mb-3">
								<input type="text" id="todoAdd" name="cntn" class="form-control" placeholder="할 일 입력" 
								aria-label="Recipient's username" aria-describedby="basic-addon2">
								<button id="addTodo" type="button" class="btn btn-outline-secondary" style="right: auto;">
									<i class="bi bi-plus-lg"></i>
								</button>
							</div>
								<hr>
								<div>
									<table class="table table-borderless">
										<tbody id="tbd">
											<tr>
												<td style="display: none">todo_no 히든</td>
												<td >내용 - 끝내주게 숨쉬기</td>
												<td><a id="remove" name="remove" type="button" class="btn btn-outline-danger btn-sm" 
													href="javascript:void(0);" style="right: auto;">
													<i class="bi bi-x-lg"></i></a>
												</td>
											</tr>
											<tr>
												<td style="display: none">todo_no 히든</td>
												<td >내용 - 끝내주게 숨쉬기</td>
												<td><a id="remove" name="remove" type="button" class="btn btn-outline-danger btn-sm" 
													href="javascript:void(0);" style="right: auto;">
													<i class="bi bi-x-lg"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<br>
							<div class="col-md-8 col-lg-9">
				               <button id="btn" class="btn btn-primary" type="button">등록</button>
							</div>
						<!-- 할일 -->
						</div>
					<!-- End Default Tabs -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	//부서인원 추가버튼
	$("#emps").on("click", "i", e=>{
		let empNo = $(e.target).data("no")
	})
	
	</script>
</main>
</body>
</html>