<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>todo</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
	 $(document).ready(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		
		//==============댓글==============
		
		//댓글 등록 버튼 클릭시
		$("#rBtn").on("click", e=>{
			let postNo = $("#postNo").val(); //게시글 번호
			let postTitle = $("#postTitle").val(); //게시글 제목
			let cntn = $("#rCntn").val();    //댓글 내용
			let empNo = $("#empNo").val();   //댓글 쓴 사원번호
			let wrtr = $("#wrtr").val();     //댓글 쓴 사원이름
			let rList = $("<div>").attr("id", "rList"); 
			
			//댓글 등록 처리
			$.ajax({
		         url:'ppReplyInsert',
		         beforeSend:function(xhr){
		 	  		xhr.setRequestHeader(header,token);  
		     	  },
		         type:'post',
		         data:{'postNo':postNo, 'cntn':cntn, 'empNo':empNo, 'wrtr':wrtr},
		         dataType:'json',
		         success:function(res){
						let div = $("<div>").append($("<span>").html(res.wrtr)).append("\u00A0\u00A0")
											.append($("<span>").html(res.dttm))
											.append($("<br>"))
											.append($("<span>").html(res.cntn)).append("\u00A0\u00A0\u00A0")
											.append($("<span>").append($("<i>").addClass("ri-edit-2-line update").attr("data-no", res.replyNo)).append("\u00A0\u00A0\u00A0"))
											.append($("<span>").append($("<i>").addClass("ri-delete-bin-line delete").attr("data-no", res.replyNo)))
											.append($("<hr>"))
						$("#rList").prepend(div);
						
						$("#rCntn").val("");
		         }
		      })
		})
	}) 
</script>
<style>
.pagination {
	margin-left: 300px;
}

#ddbt {
	color: gray;
}
</style>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">

		<section class="section">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">MY PROJECT</h5>
					<div class="pagetitle">
						<br> <br>
					</div>

					<!-- Default Tabs -->
					<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
						<li class="nav-item flex-fill" role="presentation">

							<button class="nav-link w-100 active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-justified"
								type="button" role="tab" aria-controls="home"
								aria-selected="true">Home</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="todo-tab"
								data-bs-toggle="tab" data-bs-target="#todo"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">할 일</button>
						</li>
					</ul>

					<div class="tab-content pt-2" id="myTabjustifiedContent">

						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
							<div id="chart_div"></div>
						</div>

						<!-- Start 할일 목록 -->
						<div class="tab-pane fade" id="todo" role="tabpanel" 
							 aria-labelledby="todo-tab">
							<div class="card sc"
								style="width: 80%; position: relative; left: 10%; margin-top: 50px;"
								th:each="t :${todoList}">

								<div class="card-body">
									<div class="card-title">
										<span style="font-size: 16px;"><b>[[${t.wrtr}]]</b></span>
										<!-- 드롭다운 아이콘 -->
										<div class="filter" style="float: right">
											<a class="icon" href="#" data-bs-toggle="dropdown">
												<i class="bi bi-three-dots"></i>
											</a>
											<!-- 드롭다운 수정삭제 펼치기 -->
											<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<li class="dropdown-header text-start">
													<i class="bi bi-gear"> settings</i>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${t.postNo}" data-type="할일">
														<i class="ri-edit-2-line"></i>수정
													</button>
													<button class="dropdown-item" style="padding: 10px 0 0 0;"
														th:attr="data-no=${t.postNo}" data-type="할일">
														<i class="ri-delete-bin-line"></i>삭제
													</button>
												</li>
											</ul>
										</div>
									</div>
									<span style="font-size: 22px;"><b>[[${t.ttl}]]</b></span><br>
									<div id="postNo" th:text="${t.postNo}"></div>
									<hr style="color: gray;">
										<div th:each="d : ${detailList}">
											<div th:text="${d.cntn}"></div>
										</div>
									<div>
									
										<table border="1"><!-- class="table table-borderless" -->
											<thead>
												<tr>
													<td><input type="checkbox"></td>
													<td>1</td>
													<td>w</td>
												</tr>
											</thead>
											<tbody>
												<tr th:each="d : ${detailList}" th:if="${d.postNo} == ${t.postNo}">
													<td><input type="checkbox"></td>
													<td th:text="${d.todoNo}">No</td>
													<td th:text="${d.cntn}">내용</td>
												</tr>
											</tbody>
										</table>
									</div>
									<br>
									<div class="form-floating mb-3">
										<textarea class="form-control"
											placeholder="Leave a comment here"
											style="height: 100px; resize: none"></textarea>
										<label for="floatingTextarea">Comments</label>
									</div>
									<button class="btn btn-primary btn-sm" style="float: right"
										type="button">등록</button>
									</div>
								<!-- 전체 댓글 -->
								<div class="rList">
									<div th:each="r : ${replyList}"
										th:if="${t.postNo}==${r.postNo}">
										<span th:text="${r.wrtr}">작성자</span>&nbsp; <span
											th:text="${#dates.format(r.dttm, 'yyyy-MM-dd HH:mm:ss')}">작성일시</span>
										<br> <span th:text="${r.cntn}">댓글내용</span>&nbsp;&nbsp; <span>
											<i class="ri-edit-2-line update"
											th:attr="data-no=${r.replyNo}"></i>
										</span>&nbsp;
										<!-- 수정아이콘 -->
										<span> <i class="ri-delete-bin-line delete"
											th:attr="data-no=${r.replyNo}"></i>
										</span>
										<!-- 삭제아이콘 -->
										<hr>
									</div>
								</div>
								<!-- 전체 댓글 -->
							</div>
						</div>
					</div>
					<!-- Start 페이징 -->
					<nav id="pagenationNav">
						<ul class="pagination" style="float: none;">
							<!-- getPrePage : 이전 페이지 -->
							<li class="page-item"
								th:classappend="${scheduleList.getPrePage() == 0} ? 'disabled'">
								<!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 --> <a
								class="page-link"
								th:href=@{/prjPostList(pageNum=${scheduleList.getPrePage()},prjNo=${prjNo})}>Previous</a>
							</li>
							<!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
							<!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
							<li class="page-item"
								th:each="page: ${#numbers.sequence(scheduleList.getNavigateFirstPage(), scheduleList.getNavigateLastPage())}"
								th:classappend="${page == scheduleList.getPageNum()} ? 'active'">
								<a class="page-link" th:text="${page}"
								th:href=@{/prjPostList(pageNum=${page},prjNo=${prjNo})}></a>
							</li>
							<!-- getPrePage : 다음 페이지 -->
							<li class="page-item"
								th:classappend="${scheduleList.getNextPage() == 0} ? 'disabled'">
								<!--  href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 --> <a
								class="page-link"
								th:href=@{/prjPostList(pageNum=${scheduleList.getNextPage()},prjNo=${prjNo})}>Next</a>
							</li>
						</ul>
					</nav>
					<!-- End 페이징 -->
				</div>
				<!-- End 할일 목록 -->
					</div>
					<!-- End Default Card -->
				</div>
			</div>
		</section>
	</main>
	<script type="text/javascript">
	/* $(document).ready(function() {
	$("#delete").on("click", e=>{
	});
	
	//수정버튼
	$("#up").on("click", e=>{
		$("#upFrm").submit();
	});
	
	$("rup").on("click", e=>{
		$("rupFrm").submit();
	});

	})
    } */
	</script>
</body>

</html>