<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>조직도</title>
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<script src="/js/jquery-3.6.1.min.js"></script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<script id="code">
function init() {

  
  const $ = go.GraphObject.make;  

  myDiagram =
    $(go.Diagram, "myDiagramDiv", // must be the ID or reference to div
      {
        allowCopy: false,
        allowDelete: false,

        layout:
          $(go.TreeLayout,
            {
              treeStyle: go.TreeLayout.StyleLastParents,
              arrangement: go.TreeLayout.ArrangementHorizontal,
              // properties for most of the tree:
              angle: 90,
              layerSpacing: 35,
              // properties for the "last parents":
              alternateAngle: 90,
              alternateLayerSpacing: 35,
              alternateAlignment: go.TreeLayout.AlignmentBus,
              alternateNodeSpacing: 20
            }),
        "undoManager.isEnabled": false // enable undo & redo
      });

 
  const levelColors = ["#493E87", "#645FCE", "#40356F", "#645FCD"];

  // override TreeLayout.commitNodes to also modify the background brush based on the tree depth level
  myDiagram.layout.commitNodes = function() {
    go.TreeLayout.prototype.commitNodes.call(this);  // do the standard behavior
    // then go through all of the vertexes and set their corresponding node's Shape.fill
    // to a brush dependent on the TreeVertex.level value
    myDiagram.layout.network.vertexes.each(v => {
      if (v.node) {
        const level = v.level % (levelColors.length);
        const color = levelColors[level];
        const shape = v.node.findObject("SHAPE");
        if (shape) shape.stroke = $(go.Brush, "Linear", { 0: color, 1: go.Brush.lightenBy(color, 0.05), start: go.Spot.Left, end: go.Spot.Right });
      }
    });
  };

  // This function provides a common style for most of the TextBlocks.
  // Some of these values may be overridden in a particular TextBlock.
  function textStyle() {
    return { font: "9pt  Segoe UI,sans-serif", stroke: "white" };
  }

  // This converter is used by the Picture.
  function findHeadShot(pic) {
    if (!pic) return "images/HSnopic.png"; // There are only 16 images on the server
    return "images/HS" + pic;
  }

  // define the Node template
  myDiagram.nodeTemplate =
    $(go.Node, "Spot",
      {
        /* selectionObjectName: "BODY",
        mouseEnter: (e, node) => node.findObject("BUTTON").opacity = node.findObject("BUTTONX").opacity = 1,
        mouseLeave: (e, node) => node.findObject("BUTTON").opacity = node.findObject("BUTTONX").opacity = 0,
        // handle dragging a Node onto a Node to (maybe) change the reporting relationship */
        mouseDragEnter: (e, node, prev) => {
          const diagram = node.diagram;
          const selnode = diagram.selection.first();
          if (!mayWorkFor(selnode, node)) return;
          const shape = node.findObject("SHAPE");
          if (shape) {
            shape._prevFill = shape.fill;  // remember the original brush
            shape.fill = "darkred";
          }
        },
        mouseDragLeave: (e, node, next) => {
          const shape = node.findObject("SHAPE");
          if (shape && shape._prevFill) {
            shape.fill = shape._prevFill;  // restore the original brush
          }
        },
        mouseDrop: (e, node) => {
          const diagram = node.diagram;
          const selnode = diagram.selection.first();  // assume just one Node in selection
          if (mayWorkFor(selnode, node)) {
            // find any existing link into the selected node
            const link = selnode.findTreeParentLink();
            if (link !== null) {  // reconnect any existing link
              link.fromNode = node;
            } else {  // else create a new link
              diagram.toolManager.linkingTool.insertLink(node, node.port, selnode, selnode.port);
            }
          }
        }
      },
      // for sorting, have the Node.text be the data.name
      new go.Binding("text", "name"),
      // bind the Part.layerName to control the Node's layer depending on whether it isSelected
      new go.Binding("layerName", "isSelected", sel => sel ? "Foreground" : "").ofObject(),
      $(go.Panel, "Auto",
        { name: "BODY" },
        // define the node's outer shape
        $(go.Shape, "Rectangle",
          { name: "SHAPE", fill: "#333333", stroke: 'white', strokeWidth: 3.5, portId: "" }),
        $(go.Panel, "Horizontal",
        
          // define the panel where the text will appear
          $(go.Panel, "Table",
            {
              minSize: new go.Size(130, NaN),
              maxSize: new go.Size(150, NaN),
              margin: new go.Margin(10, 10, 10, 10),
              defaultAlignment: go.Spot.Left
            },
            $(go.RowColumnDefinition, { column: 2, width: 4 }),
            $(go.TextBlock, textStyle(),  // the name
              {
                name: "NAMETB",
                row: 0, column: 0, columnSpan: 5,
                font: "12pt Segoe UI,sans-serif",
                editable: false, isMultiline: false,
                minSize: new go.Size(50, 16)
              },
              new go.Binding("text", "name").makeTwoWay()),
            $(go.TextBlock, "", textStyle(),
              { row: 1, column: 0 }),
            $(go.TextBlock, textStyle(),
              {
                row: 1, column: 1, columnSpan: 4,
                editable: false, isMultiline: false,
                minSize: new go.Size(50, 14),
                margin: new go.Margin(10, 10, 10, 10)
              },
              new go.Binding("text", "title").makeTwoWay())
          ) // end Table Panel
        ) // end Horizontal Panel
      ), // end Auto Panel
     
      new go.Binding("isTreeExpanded").makeTwoWay(),
      $("TreeExpanderButton",
        {
          name: "BUTTONX", alignment: go.Spot.Bottom, opacity: 0,  // initially not visible
          "_treeExpandedFigure": "TriangleUp",
          "_treeCollapsedFigure": "TriangleDown"
        },
        new go.Binding("opacity", "isSelected", s => s ? 1 : 0).ofObject()
      )
    );  // end Node, a Spot Panel


  // define the Link template
  myDiagram.linkTemplate =
    $(go.Link, go.Link.Orthogonal,
      { layerName: "Background", corner: 5 },
      $(go.Shape, { strokeWidth: 1.5, stroke: "#999999" }));  // the link shape

      
  // read in the JSON-format data from the "mySavedModel" element
  load();
  myDiagram.commandHandler.zoomToFit();


  
} // end init

// Show the diagram's model in JSON format
function load() {
  myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
  // make sure new data keys are unique positive integers
  let lastkey = 1;
  myDiagram.model.makeUniqueKeyFunction = (model, data) => {
    let k = data.key || lastkey;
    while (model.findNodeDataForKey(k)) k++;
    data.key = lastkey = k;
    return k;
  };
}

window.addEventListener('DOMContentLoaded', init);
  </script>


		<section class="section profile">


			<div class="card">
				<div class="card-body">
					<!-- Page Title -->
					<br>
					<div class="pagetitle">
						<h1>조직도</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active">조직도</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<hr>


					<div id="myDiagramDiv"
						style="background-color: rgb(255, 255, 255); border: 0px; height: 570px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
						<canvas tabindex="0" width="1054" height="568"
							style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 568px;">This text is displayed if your browser does not support the Canvas HTML element.</canvas>
						<div
							style="position: absolute; overflow: auto; width: 1054px; height: 568px; z-index: 1;">
							<div style="position: absolute; width: 1px; height: 1px;"></div>
						</div>
					</div>


					<textarea id="mySavedModel"  hidden="hiden" style="width: 100%; height: 270px; ">{ "class": "go.TreeModel",
  "nodeDataArray": [
{"key":1, "name":"임원진", "title":"Board of directors"},
{"key":2, "name":"인사팀", "title":"Personnel", "parent":1},
{"key":3, "name":"회계팀", "title":"Account",  "parent":1},
{"key":4, "name":"영업팀", "title":"Sales",  "parent":1},
{"key":5, "name":"재무팀", "title":"Finance",  "parent":1},
{"key":6, "name":"기획팀", "title":"Planning",  "parent":1},
{"key":7, "name":"개발팀", "title":"Development",  "parent":1}
 ]
}
    </textarea>
    
    <!-- emp 데이터 받아와서 function으로 조직도 for 문 돌려서 json 그리면됨 2022.10.07 윤정은-->
				</div>
			</div>
			


		</section>


	</main>

</body>
</html>