<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.common.mapper.CommonMapper">


	<select id="commonList" parameterType="co.up.tune.common.vo.CommonVO" resultType="co.up.tune.common.vo.CommonVO">
		SELECT * 
		FROM COMMON
		WHERE CD_CAT= #{cdCat}
		ORDER BY SEQ ASC
	</select>







</mapper>