<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.todo.mapper.DemoTodoMapper">

	<select id="demoList" resultType="co.up.tune.prj.vo.DemoTodoVO">
		select cntn from demoTodo
		where emp_no= #{empNo}
	</select>
	
	<select id="demoSelect" parameterType="co.up.tune.prj.vo.DemoTodoVO">
		select * from demoTodo
		where no = #{no}
	</select>
	
	<insert id="demoInsert" parameterType="co.up.tune.prj.vo.DemoTodoVO">
		<selectKey keyProperty="no" order="BEFORE" resultType="int">
			select nvl(max(no),0)+1
		 	  from 	demoTodo
		</selectKey>
		insert into demoTodo (no,cntn, emp_no)
		values (#{no}, #{cntn}, #{empNo})
	</insert>
	
	<delete id="demoDelete" parameterType="co.up.tune.prj.vo.DemoTodoVO">
		delete from demoTodo
		where no = #{no}
	</delete>
	
	<delete id="demoDeleteAll" parameterType="co.up.tune.prj.vo.DemoTodoVO">
		delete from demoTodo
		where emp_no = #{empNo}
	</delete>
</mapper>