<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.todo.mapper.TodoDetailMapper">
	<select id="detailList" resultType="co.up.tune.prj.vo.TodoDetailVO">
		select * from todoDetail
		where post_no = #{postNo}
		order by todo_no
	</select>
	
	<select id="detailSelect" parameterType="co.up.tune.prj.vo.TodoDetailVO">
		select * from todoDetail
		where todo_no = #{todoNo}
	</select>
	
	<insert id="detailInsert" parameterType="co.up.tune.prj.vo.TodoDetailVO">
		<selectKey keyProperty="todoNo" order="BEFORE" resultType="int">
			select
			    case when max(todo_no) is null then 1
			    else max(todo_no)+1
			    end as no
			from todoDetail
		</selectKey>
		insert into todoDetail (todo_no, cntn, cmplt_yn, post_no)
		value = (#{todoNo}, #{cntn}, 'N', #{postNo})
	</insert>
	
	<update id="detailUpdate" parameterType="co.up.tune.prj.vo.TodoDetailVO">
		update todoDetail
		<set>
			<if test="cntn != null">cntn = #{cntn},</if>
			<if test="cmpltYn != null" >cmplt_yn = #{cmpltYn},</if>
			<if test="edt != null">edt = #{edt}</if>
		</set>
		where todo_no = #{todoNo}
	</update>
	
	<delete id="detailDelete" parameterType="co.up.tune.prj.vo.TodoDetailVO">
		delete from todoDetail
		where todo_no = #{todoNo}
	</delete>
	
	<update id="cmpltYnUpdate" parameterType="co.up.tune.prj.vo.TodoDetailVO">
		update todoDetail
		set cmplt_yn = #{cmpltYn}
		where todo_no = #{todoNo}
	</update>
</mapper>