<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.file.mapper.FileMapper">
	<!-- 내 파일함 리스트  -->
	<select id="myFileList" resultType="co.up.tune.prj.vo.FilesVO">
 		SELECT  FILE_NO,
				F_NM,
				F_PATH,
				F_TYPE,
				ATCH_NO,
				F_CAT,
				P_NM,
				EMP_NO
 		  FROM FILES
 		 WHERE NOT F_CAT='PROJECT'
 		   AND EMP_NO=#{empNo}
 		   <if test='keyword == "fCat"'>
 		   		AND f_nm like ('%' || #{search} || '%')
 		   </if>
 		 ORDER BY FILE_NO DESC
	</select>
	
	<!-- 프로젝트 파일 리스트 -->
	<select id="prjFileList" resultType="co.up.tune.prj.vo.FilesVO">
		SELECT FILE_NO,
				F_NM,
				F_PATH,
				F_TYPE,
				ATCH_NO,
				F_CAT,
				P_NM,
				EMP_NO
		  FROM FILES
		 WHERE F_CAT='PROJECT'
		   AND EMP_NO=#{empNo}
	  ORDER BY FILE_NO DESC
	</select>
	
	<!-- 프로젝트 글 파일 리스트 -->
	<select id="proPostFileList" resultType="co.up.tune.prj.vo.FilesVO">
 		SELECT FILE_NO,
				F_NM,
				F_PATH,
				F_TYPE,
				ATCH_NO,
				F_CAT,
				P_NM,
				EMP_NO
 		  FROM FILES
 		 WHERE F_CAT='PROPOST'
 		 ORDER BY FILE_NO DESC
	</select>
	
	<!-- 내 파일함 업로드 -->	
	<insert id="myFileInsert" parameterType="co.up.tune.prj.vo.FilesVO">
		INSERT INTO FILES
		VALUES(FNO_SEQ.NEXTVAL,
			   #{fNm},
			   #{fPath},
			   #{fType},
			   0,
			   #{fCat},
			   #{pNm},
			   #{empNo})
	</insert>
	
	<!-- 프로젝트 글 파일 업로드 -->
	<insert id="proPostFileInsert" parameterType="co.up.tune.prj.vo.FilesVO">
		INSERT INTO FILES
		VALUES(FNO_SEQ.nextval,
			   #{fNm},
			   #{fPath},
			   #{fType},
			   #{atchNo},
			   #{fCat},
			   #{pNm},
			   #{empNo})
	</insert>
	
	<!-- 파일 삭제 -->
	<delete id="fileDelete" parameterType="co.up.tune.prj.vo.FilesVO">
	  DELETE FROM FILES
	  WHERE FILE_NO in 
	  <foreach collection="valueArr" item="no" index="index" separator="," open="(" close=")" >
	  	#{no}
	  </foreach>
	</delete>
	
	
</mapper>