<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.file.myfile.mapper.MyFileMapper">

	<select id="myFileList" resultType="co.up.tune.prj.vo.FilesVO">
 		SELECT *
 		FROM FILES
 		WHERE NOT F_CAT='PROJECT'
 		ORDER BY FILE_NO DESC
	</select>
	
	<insert id="myFileInsert" parameterType="co.up.tune.prj.vo.FilesVO">
		INSERT INTO FILES
		VALUES(FNO_SEQ.nextval,#{fNm},#{fPath},#{fType},#{atchNo},#{fCat},#{pNm})
	</insert>
	
	<delete id="myFileDelete" parameterType="co.up.tune.prj.vo.FilesVO">
	  DELETE FROM FILES
	  WHERE FILE_NO = #{fileNo}
	</delete>
</mapper>