<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>내 게시물</title>
</head>
<body>
	<main layout:fragment="content">
		
		
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">내 게시물</h5>

					<!-- Default Tabs -->
					<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">

						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100 active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-justified"
								type="button" role="tab" aria-controls="home"
								aria-selected="true">전체</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#contact-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">게시글</button>
						</li>
						<li class="nav-item flex-fill" role="presentation">
							<button class="nav-link w-100" id="contact-tab"
								data-bs-toggle="tab" data-bs-target="#business-justified"
								type="button" role="tab" aria-controls="contact"
								aria-selected="false">댓글</button>
						</li>
						
					</ul>

					<div class="tab-content pt-2" id="myTabjustifiedContent">
						<div class="tab-pane fade show active" id="home-justified"
							role="tabpanel" aria-labelledby="home-tab">
							전체 조회
						</div>
						
						<div class="tab-pane fade" id="contact-tab" role="tabpanel"
							aria-labelledby="contact-tab">
							게시글
						</div>
						
						<div class="tab-pane fade" id="business-justified" role="tabpanel"
							aria-labelledby="profile-tab">
							댓글
						</div>	
									
					
					</div>
					
				</div>
			</div>
		
	</main>
</body>
</html>