<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.aprvList.mapper.AprvListMapper">


	<!-- 개인조회로 해야함 -->
	<select id="aprvList" resultType="co.up.tune.aprv.vo.AprvVO" parameterType="co.up.tune.aprv.vo.AprvVO">
    	SELECT * 
    	FROM APRV
    	<!-- WHERE EMP_NO = #{empNo}
    	AND APRV_ST = #{aprvSt} -->
    	ORDER BY APRV_NO DESC
	</select> 
	
	<select id="aprvSelect" resultType="co.up.tune.aprv.vo.AprvVO" parameterType="co.up.tune.aprv.vo.AprvVO">
		SELECT *
		FROM APRV
		WHERE APRV_NO=#{aprvNo}
	</select>
	
	

	<!-- <insert id="aprvInsert" parameterType="co.up.tune.aprv.vo.AprvVO">
		INSERT INTO APRV
		VALUES (PNO_SEQ.NEXTVAL, #{ttl}, '사원이름', #{cntn}, SYSDATE, #{fNm}, #{fPath}, 0, 'x', '102', '사번')
	</insert>
	
	<update id="aprvUpdate" parameterType="co.up.tune.aprv.vo.AprvVO">
		UPDATE COMMUNITY
		<set>
			<if test="ttl != null">TTL=#{ttl},</if>
			<if test="cntn != null">CNTN=#{cntn},</if>
			<if test="fNm != null">F_NM=#{fNm},</if>
			<if test="fPath != null">F_PATH=#{fPath}</if>
		</set>
		WHERE POST_NO=#{postNo}
	</update>
	 -->
	





</mapper>