<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>메일함</title>
<script src="/js/jquery-3.6.1.min.js"></script>

</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<script>
			$(document).ready(function() {

			});
		</script>
		<section class="section">


			<div class="card">
				<div class="card-body">
					<!-- Page Title -->
					<br>
					<div class="pagetitle">
						<h1>내 메일함</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active">내 메일함</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<hr>


					///





				</div>
			</div>
		</section>


	</main>

</body>
</html>