<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <main id="main" class="main" layout:fragment="content" >
  <div class="row justify-content-center">
	<div class="col-xl-8">
	  <div class="card">
	   <div class="card-body pt-3" >
	     <div class="tab-content pt-2">
	     
<!-- Profile Edit Form -->
            <form>
              <div class="row mb-3">
                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">사진</label>
                <div class="col-md-8 col-lg-9">
                  <img src="assets/img/profile-img.jpg" alt="Profile">
                  <div class="pt-2">
                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="name" class="col-md-4 col-lg-3 col-form-label">이름</label>
                <div class="col-md-8 col-lg-9">
                  <input name="name" type="text" class="form-control" id="name" value="" >
                </div>
              </div>

              <div class="row mb-3">
                <label for="id" class="col-md-4 col-lg-3 col-form-label">ID</label>
                <div class="col-md-8 col-lg-9">
                  <input name="id" type="text" class="form-control" id="id" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="password" class="col-md-4 col-lg-3 col-form-label">비밀번호</label>
                <div class="col-md-8 col-lg-9">
                  <input name="password" type="text" class="form-control" id="password" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="phone" class="col-md-4 col-lg-3 col-form-label">휴대폰</label>
                <div class="col-md-8 col-lg-9">
                  <input name="phone" type="text" class="form-control" id="phone" value="">
                </div>
              </div>

              <div class="row mb-3">
                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                <div class="col-md-8 col-lg-9">
                  <input name="email" type="text" class="form-control" id="email" value="">
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="birth" class="col-md-4 col-lg-3 col-form-label">생년월일</label>
                <div class="col-md-8 col-lg-9">
                  <input type="date" class="form-control">
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="gender" class="col-md-4 col-lg-3 col-form-label">성별</label>
                <div class="col-md-8 col-lg-9">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1"> 남 </label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2"> 여 </label>
                </div>
              </div>

              <div class="row mb-3">
                <label for="sign" class="col-md-4 col-lg-3 col-form-label">결재 서명</label>
                <div class="col-md-8 col-lg-9">
                  <input name="sign" type="text" class="form-control" id="sign" value="">
                  <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                </div>
              </div>
              <br> <hr> <br>
              <div class="row mb-3">
                <label for="dept" class="col-md-4 col-lg-3 col-form-label">부서</label>
                <div class="col-md-8 col-lg-9">
                  <input name="dept" type="text" class="form-control" id="dept" value="" disabled>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="position" class="col-md-4 col-lg-3 col-form-label">직위</label>
                <div class="col-md-8 col-lg-9">
                  <input name="position" type="email" class="form-control" id="position" value="" disabled>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="zip" class="col-md-4 col-lg-3 col-form-label">우편번호</label>
                <div class="col-md-8 col-lg-9">
                  <input name="zip" type="email" class="form-control" id="zip" value="" disabled>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="addr" class="col-md-4 col-lg-3 col-form-label">자택주소</label>
                <div class="col-md-8 col-lg-9">
                  <input name="addr" type="email" class="form-control" id="addr" value="" disabled>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="hDate" class="col-md-4 col-lg-3 col-form-label">입사일</label>
                <div class="col-md-8 col-lg-9">
                  <input type="date" class="form-control" disabled>
                </div>
              </div>
              
              <div class="row mb-3">
                <label for="fDate" class="col-md-4 col-lg-3 col-form-label">퇴사일</label>
                <div class="col-md-8 col-lg-9">
                  <input type="date" class="form-control" disabled>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-secondary">되돌리기</button>
                <button type="submit" class="btn btn-primary">저장</button>
              </div>
            </form><!-- End Profile Edit Form -->
	     </div>
	   </div>
	 </div>
	</div>
  </div>
</main>
</body>
</html>