<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main id="main" class="main" layout:fragment="content" >
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <h2 th:text="${session.nm}">Kevin Anderson</h2>
            <h3 th:text="${session.posotion} +' / '+${session.dept}">Web Designer</h3>
          </div>
        </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">내 프로필</h5>

                  <div class="row">
					<div class="col-lg-3 col-md-4 label">아이디</div>
					<div th:text="${e.id}" class="col-lg-9 col-md-8">admin</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">성명</div>
				 	<div class="col-lg-9 col-md-8">관리자</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">휴대폰</div>
					<div class="col-lg-9 col-md-8">USA</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">Email</div>
					<div class="col-lg-9 col-md-8">A108 Adam Street, New
						York, NY 535022</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">결재서명</div>
					<div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
				  </div>
				
				  <div class="row">
					<div class="col-lg-3 col-md-4 label ">부서</div>
					<div class="col-lg-9 col-md-8">admin</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">직급</div>
					<div class="col-lg-9 col-md-8">관리자</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">자택주소</div>
					<div class="col-lg-9 col-md-4">우편번호</div>
					<br>
					<div class="col-lg-3 col-md-4"></div>
					<div class="col-lg-9 col-md-4">oo시 oo구 oo로 oo아파트</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">상세주소</div>
					<div class="col-lg-9 col-md-8">o동 oo호</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-4 label">사내전화</div>
					<div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
				  </div>

				  <div class="row">
					<div class="col-lg-3 col-md-2 label">입사일</div>
					<div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
				  </div>
				  
				  <div class="tab-content pt-2" align="center">
					<button type="button" class="btn btn-outline-primary"onclick="location.href='profileForm'">수정</button>
				  </div>
				  
				</div>
              </div>

            </div>

          </div>

        </div>
      </div>
	</section>
  </main><!-- End #main -->
</body>
</html>