<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 내 프로필 수정</title>
<style>

.pagination{
	 justify-content: center; 
}
.dataTables_empty{
	text-align: center;
	padding: 10% 0;
}
</style>
<script>
$(document).ready(function() {
	//저장 버튼 클릭 시 이벤트
	$("#save").on("click", e=>{
		let birth = $("#birth").val();
 		if(!birth){
			alert("생년월일을 입력해주세요.")
		}else{
			$("#proFrm").submit();
		}
	})
	
	//성별 지정
	$("#male").on("click", e=>{
		$("#gender").val("M")
	})
	
	$("#female").on("click", e=>{
		$("#gender").val("W")
	})
	
	//생일을 오늘 이후로 설정X
	let now = Date.now() // 지금 날짜를 밀리초로
	
	// getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
	let timeOff = new Date().getTimezoneOffset()*60000; // 분단위를 밀리초로 변환
	
	// new Date(now_utc-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
	let today = new Date(now-timeOff).toISOString().split("T")[0];
	document.getElementById("birth").setAttribute("max", today);
	
	//되돌아가기
	$("#reset").on("click", e=>{
		location.href="profile";
	})
	
	//사진 미리보기
	$(function() {
	    $("#file").on('change', function(){
	    readURL(this);
	    });
	});
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();
	        reader.onload = function (e) {
				$('#pic').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(input.files[0]);
	    }
	}
})
</script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">

		<div class="card">
			<div class="card-body pt-3">
				<div class="pagetitle">
					<br>

					<!-- Page Title -->
					<div class="pagetitle">
						<h1>프로필 수정</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">HOME</li>
								<li class="breadcrumb-item">내 프로필</li>
								<li class="breadcrumb-item active">프로필 수정</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<br>
					<div class="tab-pane fade show active profile-overview"
						id="profile-overview">

						<!-- Profile Edit Form -->
						<form id="proFrm" action="profileUpdate" method="post"
							enctype="multipart/form-data">
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}"> <input type="hidden"
								th:value="${e.empNo}" id="empNo" name="empNo">
							<div class="row mb-3">
								<label for="profileImage"
									class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">사진</label>
								<div class="col-md-8 col-lg-9" id="profilePic">
									<img id="pic" th:src="${session.pic} == null ? 'assets/img/default_profile.png' : @{/attach(path=${session.pic})} "
										style="width: 120px;" alt="Profile" >
									<div class="pt-2">
										<div class="col-md-8 col-lg-9">
											<input type="file" id="file" name="file" class="form-control" onchange="readURL(this)"
													th:value="${e.pic}" accept="image/gif, image/jpeg, image/png" />
											&nbsp;&nbsp;&nbsp;
										</div>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="name" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">이름</label>
								<div class="col-md-7 col-lg-8">
									<input type="text" id="name" name="name" class="form-control"
										th:value="${e.nm}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-md-4 col-lg-3 col-form-label"
									style="padding-left: 2em;">ID</div>
								<div class="col-md-7 col-lg-8">
									<input type="text" id="id" name="id" class="form-control"
										th:value="${e.id}">
								</div>

							</div>

							<div class="row mb-3">
								<label for="phone" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">휴대폰</label>
								<div class="col-md-7 col-lg-8">
									<input type="text" id="phone" name="phone" class="form-control"
										th:value="${e.phone}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="Email" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">Email</label>
								<div class="col-md-7 col-lg-8">
									<input type="email" id="email" name="email"
										class="form-control" th:value="${e.email}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="birth" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">생년월일</label>
								<div class="col-md-7 col-lg-8">
									<input type="date" id="birth" name="birth" class="form-control"
										th:value="${e.birth}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="gender" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">성별</label>
								<div class="col-md-8 col-lg-9">
									<input class="form-check-input" type="radio" name="MW"
											id="male" th:checked="${e.gender} =='M'?checked">
									<label class="form-check-label" for="gridRadios1"> 남 </label>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input class="form-check-input" type="radio" name="MW"
											id="female" th:checked="${e.gender} =='W'?checked">
									<label class="form-check-label" for="gridRadios2"> 여 </label>
									<input type="hidden" name="gender" id="gender" th:value="${e.gender}">
								</div>
							</div>
							<br>
							<hr>
							<br>
							<div class="row mb-3">
								<label for="dept" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">부서</label>
								<div class="col-md-4 col-lg-3">
									<input name="dept" type="text" class="form-control" id="dept"
											th:value="${e.dept}" disabled>
								</div>

								<label for="position" class="col-md-3 col-lg-2 col-form-label"
									 	style="padding-left: 2em;">직위</label>
								<div class="col-md-4 col-lg-3">
									<input name="position" type="email" class="form-control"
											id="position" th:value="${e.position}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="zip" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">우편번호</label>
								<div class="col-md-7 col-lg-8">
									<input name="zip" type="text" class="form-control" id="zip"
											th:value="${e.zip}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="addr" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">자택주소</label>
								<div class="col-md-7 col-lg-8">
									<input name="addr" type="text" class="form-control" id="addr"
											th:value="${e.addr}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="hDate" class="col-md-4 col-lg-3 col-form-label"
										style="padding-left: 2em;">입사일</label>
								<div class="col-md-7 col-lg-8">
									<input type="date" id="hDate" name="hDate" class="form-control"
											th:value="${e.hDate}" disabled>
								</div>
							</div>

							<div class="text-center">
								<button id="reset" name="reset" type="button"
										class="btn btn-secondary">취소</button>
								<button id="save" name="save" type="button"
										class="btn btn-primary">저장</button>
							</div>
						</form>
						<!-- End Profile Edit Form -->
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>