<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 내 프로필 수정</title>
<script>
$(document).ready(function() {
	//저장 버튼 클릭 시 이벤트
	$("#save").on("click", e=>{
		let birth = $("#birth").val();
		let pic = $("#file").val();
		$("#empNo").val();
		console.log($("#empNo").val());
		console.log(pic)
		$("#proFrm").submit();
/* 		if(!birth){
			//console.log("생일입력")
			alert("생년월일을 입력해주세요.")
			//console.log(pic);
			//console.log(sign);
		}else{
			console.log(pic);
			$("#proFrm").submit();
		} */
	})
	
	//프로필 사진 삭제 이벤트
/* 	$("#deletePic").on("click",e=>{
		let pic = $("#file").val();
		if(pic != null){
    	  	//토큰
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			//프로필 이미지
			let pic = e.target.closest('tr').children[1].innerText;
	        
			$.ajax({
				url : "picUpdate",
				progressData : false,
				contentType : false,
				beforeSend:function(xhr){
		 	  		xhr.setRequestHeader(header,token);  
		     	  },
				type : "post",
				data: null,
				success:function(res){
					$("#pic").attr(src,res.pic);
				}
			})
   		}else{
   			alert("등록된 이미지가 없습니다.");
   		}
	}) */
	
	$("#reset").on("click", e=>{
		location.href="profile";
	})
	
	$(function() {
	    $("#file").on('change', function(){
	    readURL(this);
	    });
	});
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();
	        reader.onload = function (e) {
	        $('#pic').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(input.files[0]);
	    }
	}
})
</script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">

		<div class="card">
			<div class="card-body pt-3">
				<div class="pagetitle">
					<br>

					<!-- Page Title -->
					<div class="pagetitle">
						<h1>프로필 수정</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">HOME</li>
								<li class="breadcrumb-item">내 프로필</li>
								<li class="breadcrumb-item active">프로필 수정</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->
					<br>
					<div class="tab-pane fade show active profile-overview"
						id="profile-overview">

						<!-- Profile Edit Form -->
						<form id="proFrm" action="profileUpdate" method="post"
							enctype="multipart/form-data">
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}"> <input type="hidden"
								th:value="${e.empNo}" id="empNo" name="empNo">
							<div class="row mb-3">
								<label for="profileImage"
									class="col-md-4 col-lg-3 col-form-label">사진</label>
								<div class="col-md-8 col-lg-9" id="profilePic">
									<img id="pic" th:src="${session.pic} == null ? 'assets/img/default_profile.png' : @{/attach(path=${session.pic})} "
										style="width: 120px;" alt="Profile">
									<div class="pt-2">
										<div class="col-md-8 col-lg-9">
											<input type="file" id="file" name="file" class="form-control" onchange="readImage(this)"
												th:value="${e.pic}">
										</div>
										&nbsp;&nbsp;&nbsp;
										<!--  <a id="deletePic" name="deletePic" href="javascript:void(0);" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a> -->
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="name" class="col-md-4 col-lg-3 col-form-label">이름</label>
								<div class="col-md-8 col-lg-9">
									<input type="text" id="name" name="name" class="form-control"
										th:value="${e.nm}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-md-4 col-lg-3 col-form-label">ID</div>
								<div class="col-md-8 col-lg-9">
									<input type="text" id="id" name="id" class="form-control"
										th:value="${e.id}">
								</div>

								<!-- <label for="password" class="col-md-4 col-lg-3 col-form-label">비밀번호</label>
										비밀번호 버튼 클릭시 새 창으로 비밀번호 수정 폼
										<div class="col-md-4 col-lg-3">
											<input type="password" id="pw" name="pw" class="form-control"
												value="">
										</div> -->
							</div>

							<div class="row mb-3">
								<label for="phone" class="col-md-4 col-lg-3 col-form-label">휴대폰</label>
								<div class="col-md-8 col-lg-9">
									<input type="text" id="phone" name="phone" class="form-control"
										th:value="${e.phone}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
								<div class="col-md-8 col-lg-9">
									<input type="email" id="email" name="email"
										class="form-control" th:value="${e.email}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="birth" class="col-md-4 col-lg-3 col-form-label">생년월일</label>
								<div class="col-md-8 col-lg-9">
									<input type="date" id="birth" name="birth" class="form-control"
										th:value="${e.birth}">
								</div>
							</div>

							<div class="row mb-3">
								<label for="gender" class="col-md-4 col-lg-3 col-form-label">성별</label>
								<div class="col-md-8 col-lg-9">
									<input class="form-check-input" type="radio" name="gridRadios"
											id="gridRadios1" value="option1">
									<label class="form-check-label" for="gridRadios1"> 남 </label>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input class="form-check-input" type="radio" name="gridRadios"
											id="gridRadios2" value="option2">
									<label class="form-check-label" for="gridRadios2"> 여 </label>
								</div>
							</div>
							<br>
							<hr>
							<br>
							<div class="row mb-3">
								<label for="dept" class="col-md-4 col-lg-3 col-form-label">부서</label>
								<div class="col-md-4 col-lg-3">
									<input name="dept" type="text" class="form-control" id="dept"
											th:value="${e.dept}" disabled>
								</div>

								<label for="position" class="col-md-4 col-lg-3 col-form-label">직위</label>
								<div class="col-md-4 col-lg-3">
									<input name="position" type="email" class="form-control"
											id="position" th:value="${e.position}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="zip" class="col-md-4 col-lg-3 col-form-label">우편번호</label>
								<div class="col-md-8 col-lg-9">
									<input name="zip" type="text" class="form-control" id="zip"
											th:value="${e.zip}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="addr" class="col-md-4 col-lg-3 col-form-label">자택주소</label>
								<div class="col-md-8 col-lg-9">
									<input name="addr" type="text" class="form-control" id="addr"
											th:value="${e.addr}" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<label for="hDate" class="col-md-4 col-lg-3 col-form-label">입사일</label>
								<div class="col-md-8 col-lg-9">
									<input type="date" id="hDate" name="hDate" class="form-control"
											th:value="${e.hDate}" disabled>
								</div>
							</div>

							<div class="text-center">
								<button id="reset" name="reset" type="button"
										class="btn btn-secondary">취소</button>
								<button id="save" name="save" type="button"
										class="btn btn-primary">저장</button>
							</div>
						</form>
						<!-- End Profile Edit Form -->
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>