<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>TuneUp - 내 프로필</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
	$(document).ready(function() {
		$("#btn").on("click", e=>{
			location.href="profileForm";
		})
	});
</script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<section class="section profile">
			<div class="card">
				<div class="card-body">
					<div class="pagetitle">
					<br>
					
					<!-- Page Title -->
					<div class="pagetitle">
						<h1>내 프로필</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">HOME</li>
								<li class="breadcrumb-item active">내 프로필</li>
							</ol>
						</nav>
					</div>
					<!-- End Page Title -->

						<div class="profile-card pt-4 d-flex flex-column align-items-center">
							<img th:src=@{/attach(path=${e.pic})} alt="Profile" class="rounded-circle">
							<h2 th:text="${session.nm}">Kevin Anderson</h2>
							<h3 th:text="${e.position} +' / '+${session.dept}">Web Designer</h3>
						</div>
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<div class="tab-content pt-2">

								<div class="tab-pane fade show active profile-overview" id="profile-overview">
									<div class="row">
										<div class="col-lg-3 col-md-4 label">아이디</div>
										<div th:text="${e.id}" class="col-lg-9 col-md-8">aaa1234</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">휴대폰</div>
										<div th:text="${e.phone}" class="col-lg-9 col-md-8">010-0000-0000 </div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div th:text="${e.email}" class="col-lg-9 col-md-8">aaa1234@aaa.com</div>
									</div>


									<div class="row">
										<div class="col-lg-3 col-md-4 label">우편번호</div>
										<div th:text="${e.zip}" class="col-lg-3 col-md-4">00000</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">자택주소</div>
										<div th:text="${e.ad1}" class="col-lg-9 col-md-4">oo시 oo구 oo로 oo아파트</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">상세주소</div>
										<div th:text="${e.ad2}" class="col-lg-6 col-md-8">o동 oo호</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-2 label">입사일</div>
										<div th:text="${e.hDate}" class="col-lg-9 col-md-8">00/00</div>
									</div>

									<div class="tab-content pt-2" align="center">
										<button id="btn" name="btn" type="button"
												class="btn btn-outline-primary">수정</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- End #main -->
</body>
</html>