<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
$(document).ready(function(){
	//확인 버튼 클릭 이벤트
	$("#btn").on("click", e=>{
		let pw = $("#pw").val();
		$("#pw").val();
		$("#frm").submit();
	})
})
</script>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<form id="frm" method="post" action="pwConfirm">
			<div class="container">
				<br> <br> <br> <br>
				<br>
				<div class="row justify-content-center">
					<div
						class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
						<div class="card mb-3">
							<div class="card-body">
								<div class="pt-4 pb-2">
									<!-- Vertical Form -->
									<h4 class="card-title">본인 인증</h4>
									<h6>비밀번호를 입력해주십시오.</h6>
									<div class="row g-3">
										<div class="col-12">
											<label for="inputPassword4" class="form-label">Password</label>
											<input id="pw" name="pw" type="password" class="form-control">
										</div>
										<div class="text-center">
											<button id="btn" type="button" class="btn btn-primary">확인</button>
										</div>
									</div>
									<!-- Vertical Form -->
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</div>
			</div>
		</form>
	</main>
</body>
</html>