<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.propost.mapper.PropostMapper">
				  
	<select id="prjPostList" resultType="co.up.tune.prj.vo.PostVO">
	SELECT *
	FROM POST
	WHERE PRJ_NO = #{prjNo}
	ORDER BY POST_NO
	</select>
	
	<insert id="prjPostInsert" parameterType="co.up.tune.prj.vo.PostVO">
	
		<!-- INSERT INTO POST (ttl,cntn)
	VALUES (PNO_SEQ.NEXTVAL,#{ttl},#{cntn}) -->
	INSERT INTO POST
		VALUES (PNO_SEQ.NEXTVAL,#{empNo},#{wrtr},#{ttl},#{cntn},sysdate,#{atchNo},#{prjNo}) 
	</insert>
	
	 <update id="prjPostUpdate" parameterType="co.up.tune.prj.vo.PostVO">
		UPDATE POST
		<set>
			<if test="ttl != null">TTL=#{ttl},</if>
			<if test="cntn != null">CNTN=#{cntn}</if>
		</set>
		WHERE POST_NO=#{postNo}
	</update> 
	
	 <!-- <update id="prjPostUpdate" parameterType="co.up.tune.prj.vo.PostVO">
	 <![CDATA[
            UPDATE 
                POST 
            SET
                ttl = #{ttl},
                cntn = #{cntn},
                dttm = sysdate
            WHERE
                post_no = 126
        ]]>
	</update> -->
	
	
	<delete id="prjPostDelete" parameterType="co.up.tune.prj.vo.PostVO">
	DELETE FROM POST WHERE POST_NO = #{postNo}
	</delete>
	
	<select id="prjPostSelect" resultType="co.up.tune.prj.vo.PostVO" parameterType="co.up.tune.prj.vo.PostVO">
		SELECT * 
			FROM POST
				WHERE POST_NO = #{postNo}
	</select>
	
	<!-- 댓 -->
	

	<select id="ppReplyList" parameterType="co.up.tune.com.vo.ReplyVO" resultType="co.up.tune.com.vo.ReplyVO">
		SELECT REPLY_NO, 
			   POST_NO, 
			   EMP_NO, 
			   WRTR,
			   CNTN, 
			   DTTM, 
			   REPLY_CAT 
		FROM REPLY
		WHERE POST_NO = #{postNo}
		ORDER BY REPLY_NO DESC
	</select>
	
	
	<insert id="ppReplyInsert" parameterType="co.up.tune.com.vo.ReplyVO">
		 <selectKey keyProperty="replyNo" order="BEFORE" resultType="int">
			SELECT 
			    CASE WHEN MAX(REPLY_NO) IS NULL THEN 1
			    ELSE MAX(REPLY_NO)+1 
			    END AS NO
			FROM REPLY
		</selectKey> 
		INSERT INTO 
			REPLY
				VALUES(#{replyNo}, #{postNo}, #{empNo}, #{wrtr}, #{cntn}, SYSDATE,'프로젝트글')
	</insert>
	
	
	<delete id="ppReplyDelete" parameterType="co.up.tune.com.vo.ReplyVO">
		DELETE FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</delete>
	
	<select id="ppreplySelect" resultType="co.up.tune.com.vo.ReplyVO" parameterType="co.up.tune.com.vo.ReplyVO">
		SELECT * 
		FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</select>
	
	<!-- 파일  -->
	<!-- <select id="filesInsert" parameterType="co.up.tune.prj.vo.FilesVO" >
	INSERT INTO FILES
	VALUES (PNO_SEQ.NEXTVAL, #{fNm}, #{fPath}, #{fType}, #{atchNo}, 'PROJECT', #{pNm})
	
	</select>  -->
	
	<!-- 현지 수정 -->
	<select id="empList" resultType="co.up.tune.emp.vo.EmpVO">
		SELECT *
		FROM EMP
	</select>
	
	<!-- 프로젝트 일정 리스트 -->
	<select id="scheduleList" resultType="co.up.tune.prj.vo.ScheduleVO">
		SELECT *
		FROM SCHEDULE
		WHERE PRJ_NO = #{prjNo}
		ORDER BY POST_NO
	</select>
	
	<!-- 프로젝트 일정 => 멤버 리스트 -->
	<select id="scheduleMemberList" resultType="co.up.tune.prj.vo.MemberVO">
		SELECT E.EMP_NO, E.NM, E.ID, E.DEPT, M.POST_NO
		FROM EMP E, (SELECT * 
		             FROM MEMBER 
		             WHERE POST_NO IN (
		             	SELECT POST_NO FROM SCHEDULE WHERE PRJ_NO=#{prjNo}
		             	)
		             )M
		WHERE E.EMP_NO = M.EMP_NO
		ORDER BY POST_NO
	</select>
	
</mapper>