<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.prj.myPrj.mapper.MyPrjMapper">
		
	<select id="myPrjList" resultType="co.up.tune.prj.vo.ProjectVO" >
	SELECT * 
	FROM PROJECT
	</select> 	
	
	<delete id="deleteTeam" parameterType="co.up.tune.prj.vo.TeamVO">
	 DELETE 
	 FROM TEAM 
	 WHERE PRJ_NO = #{prjNo}
	 </delete>
	 
	 <update id="updateSt" parameterType="co.up.tune.prj.vo.ProjectVO">
	 UPDATE POST
	 <set>
	 	<if test="st != null">ST=#{st}</if>
	 </set>
	 WHERE PRJ_NO = #{prjNo}
	 </update>
	 
	 <update id="deleteMng" parameterType="co.up.tune.prj.vo.TeamVO">
	 UPDATE TEAM
	 <set>
	 	<if test="st != null">AUTH=#{auth}</if>
	 </set>
	 WHERE PRJ_NO = #{prjNo}
	 </update>
</mapper>