<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<title>TuneUp - 쪽지</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
body{margin-left: 5px; margin-top: 5px;}
input[type=text]{
	display: inline-block;
	margin-top: 5px;
	width: 57%;
	height: 30px;
	border: 1px solid gray;
}
textarea{resize: none;}
hr{margin: 7px;}
.left{margin-left: 5px;}
.to{
	position: relative;
	top: -4px;
}
</style>
</head>
<body>
<div>
	<b class="left" style="font-size: 20px;">쪽지 주소록</b>	
</div>
<hr>
<form id="sendFrm">
	<div class="to">
		<b class="left">받는사람</b>&nbsp; 
		<input type="checkbox">&nbsp;내게쓰기&nbsp;
		<!-- 여러명은 쉼표로 구분 -->
		<input type="text" class="form-control-plaintext" id="emps" disabled>
		<input type="hidden" name="sender" id="sender">
		<input type="hidden" name="sEmpNo" id="sEmpNo">
		<!-- 주소록 -->
		<button class="deptsBtn" type="button">주소록</button>
	</div>
	<hr>
	<div>
		<textarea class="left" style="width: 579px; height: 283px;" name="cntn"></textarea>
	</div>
	<div class="left">
		<input type="checkbox" name="cntn">&nbsp;보낸쪽지함에 저장
	</div>
	<div>
		<a class="btn" style="margin-right: 5px;" onclick="sendFunc()">보내기</a>
		<a class="btn" onclick="javascript:window.close()">취소</a>
	</div>
</form>

<script src="/js/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//모달창
const Toast = Swal.mixin({
	  toast: true,
	  position: 'center',
	  showConfirmButton: true,
	  timerProgressBar: true,
	  didOpen: (toast) => {
	    toast.addEventListener('mouseenter', Swal.stopTimer)
	    toast.addEventListener('mouseleave', Swal.resumeTimer)
	 }
})

//주소록 버튼 클릭 시
$(".deptsBtn").on("click", e=>{
	var popupWidth = 600;
	var popupHeight = 400;
	var popupX = (window.screen.width / 2) - (popupWidth / 3);
	// 만들 팝업창 width 크기의 1/2 만큼 보정값으로 빼주었음
	var popupY= (window.screen.height / 2) - (popupHeight / 3);
	// 만들 팝업창 height 크기의 1/2 만큼 보정값으로 빼주었음
	
 	  	window.open('/deptList', '', 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY);
})

function somFunc(arr) {
	let str = "";
	let name = "";
	let no = "";
	for(let key in arr){
		str += arr[key]+"<"+key+"> ";
		name += arr[key]+" ";
		no += key+" ";
	}
	$("#emps").val(str);
	$("#sender").val(name);
	$("#sEmpNo").val(no);
}

function sendFunc() {
	let formData = new FormData($("#sendFrm")[0]);
	$.ajax({
		url:'sendNote',
		beforeSend:function(xhr){
	 		xhr.setRequestHeader(header,token);  
	    },
	    type:"post",
	    data:formData,
	    contentType:false,
	    processData:false,
	    dataType:'json',
	    success:function(note){
	    	if(note.sendConut>0){
	    		Toast.fire({
  				  icon: 'success',
  				  title: '쪽지가 성공적으로 보내졌습니다!'
  				}).then(function(){
  					socket.send('note,'+note.sempNo);
  					//window.close();
   				});
	    	}
	    }
		
	})
}
</script>
</body>
</html>