<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>TuneUp - 근태 관리</title>

<script src="/js/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.11.4/r-2.2.9/datatables.min.css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.11.4/r-2.2.9/datatables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#attdTable,#attdTable2,#attdTable3,#attdTable4').DataTable({
			//컬럼 갯수
			colums : [ {
				data : "atdcDt"
			}, {
				data : "empNo"
			}, {
				data : "nm"
			}, {
				data : "dept"
			}, {
				data : "position"
			}, {
				data : "atdcDttm"
			}, {
				data : "afwkDttm"
			}, {
				data : "wktm"
			}, {
				data : "ovtm"
			}, {
				data : "st"
			} ],
			//컬럼 넓이
			columnDefs : [ {
				targets : 0,
				width : 50
			}, {
				targets : 1,
				width : 50
			}, {
				targets : 2,
				width : 50
			}, {
				targets : 3,
				width : 50
			}, {
				targets : 4,
				width : 50
			}, {
				targets : 5,
				width : 50
			}, {
				targets : 6,
				width : 50
			}, {
				targets : 7,
				width : 50
			}, {
				targets : 8,
				width : 50
			}, {
				targets : 9,
				width : 50
			} ],
			//표시 건수 기능 숨기기
			lengthChange : false,
			//정렬 기능 숨기기
			ordering : false,
			//정보 표시 숨기기
			info : false
		});
	})
</script>


<style>
#c {
	background-color: #ECEBFF;
}

#cid {
	text-align: center;
	width: 250px;
	width: 50%;
	width: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
	margin-left: 0px;
	display: inline;
	border: 0px;
}

.location {
	position: relative;
	bottom: 43px;
}
</style>
</head>
<body>
	<main id="main" class="main" layout:fragment="content">
		<script type="text/javascript">
		 $(document).ready(function() {
	 
	
	$("#okBtn").on("click", e=>{
			$("#okFrm").submit();
		}) })
	 
		/* $("#upTable").on("click", e=> {
			$(e.target).parent().parent().remove();
			});*/  
			

			/* $("#okBtn").on("click", e=>{
				e.stopPropagation();
			 	let empNo =  $(e.target).data("no");
			 	let atdcDt = $(e.target).data("atDt");
				$.ajax({
					url:'attdUpOk',
					beforeSend:function(xhr){
				  		xhr.setRequestHeader(header,token);  
			    	  },
					type:'post',
					data:{'empNo':empNo, 'atdcDt':atdcDt},
					dataType:'json',
					success:function(res){
						$(e.target).parent().parent().remove();
		 
					}})
				}) */
			
 </script>

		<section class="section">

			<div class="card">
				<div class="card-body">
					<br>

					<div class="pagetitle">
						<h1>근태 관리</h1>
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item ">HOME</li>
								<li class="breadcrumb-item">나의 근태</li>
								<li class="breadcrumb-item active">근태 관리</li>
							</ol>
						</nav>
					</div>
					<!-- 근태관리 탭 -->
					<ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab"
						role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="list-tab"
								data-bs-toggle="tab" data-bs-target="#bordered-list"
								type="button" role="tab" aria-controls="list"
								aria-selected="true">출퇴근 현황</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="write-tab" data-bs-toggle="tab"
								data-bs-target="#bordered-write" type="button" role="tab"
								aria-controls="write" aria-selected="false">수정요청</button>
						</li>
					</ul>



					<div class="tab-content pt-2" id="borderedTabContent">
						<div class="tab-pane fade show active" id="bordered-list"
							role="tabpanel" aria-labelledby="list-tab">
							<!-- List Tabs -->

							<!-- 상단 버튼 -->
							<div class="card" id="c">
								<div class="card-body">
									<h5 class="card-title"></h5>
									<p class="card-text" style="text-align: center"></p>
									<div id="cid">
										<button type="button" class="btn btn-light mb-2" data-bs-toggle="modal" data-bs-target="#largeModal"
											style="width: 30%; padding: 55px 10px; margin: 4px 12px;">
											오늘 출근 인원 <span class="badge bg-secondary text-light"><span
												th:text="${checkGood}"></span> </span>
										</button>
										<button type="button" class="btn btn-light mb-2"
											style="width: 30%; padding: 55px 10px; margin: 4px 12px;">
											근태 이상 인원 <span class="badge bg-secondary text-light"><span
												th:text="${checkBad}"></span> </span>
										</button>
										<button type="button" class="btn btn-light mb-2"
											style="width: 30%; padding: 55px 10px; margin: 4px 12px;">
											수정 요청 <span class="badge bg-secondary text-light"><span
												th:text="${checkModi}"></span></span>
										</button>
									</div>
								</div>
							</div>
							
							
											<!-- Large Modal -->
				<form id="pstfrm" action="attdUpInsert" name="pstfrm" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
					<div class="modal fade" id="largeModal" tabindex="-1">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">오늘의 출근</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<!-- 모달 오늘 출근상황 -->
									
									<table id="attdTable4" class="table table-hover"
										style="text-align: center;">
										<thead>
											<tr>
												<th class="dt-head-center" data-priority="1">출근 날짜</th>
												<th class="dt-head-center" data-priority="2">사번</th>
												<th class="dt-head-center" data-priority="3">이름</th>
												<th class="dt-head-center" data-priority="4">부서명</th>
												<th class="dt-head-center" data-priority="5">직위</th>
												<th class="dt-head-center" data-priority="6">출근시간</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ta : ${todayAttdList}">
												<td class="dt-body-center"><span th:text="${ta.atdcDt}"></span></td>
												<td class="dt-body-center"><span th:text="${ta.empNo}"></span></td>
												<td class="dt-body-center"><span th:text="${ta.nm}"></span></td>
												<td class="dt-body-center"><span th:text="${ta.dept}"></span></td>
												<td class="dt-body-center"><span
													th:text="${ta.position}"></span></td>

												<td class="dt-body-center"><span
													th:text="${#dates.format(ta.atdcDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
											</tr>
										</tbody>
									</table>
									
									
																		<!-- 바디 끝 -->


								</div>
								<div class="modal-footer">
									

								</div>

							</div>
						</div>
					</div>
				</form>
							
							

							<!-- 출퇴근 현황 하단탭 + 엑셀버튼 -->
							<ul class="nav nav-tabs" id="myTab1" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="all-tab"
										data-bs-toggle="tab" data-bs-target="#all" type="button"
										role="tab" aria-controls="all" aria-selected="true">전체</button>
								</li>


								<li class="nav-item" role="presentation">
									<button class="nav-link" id="good-tab" data-bs-toggle="tab"
										data-bs-target="#good" type="button" role="good-tab"
										aria-controls="good" aria-selected="false">정상출근</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="bad-tab" data-bs-toggle="tab"
										data-bs-target="#bad" type="button" role="tab"
										aria-controls="bad" aria-selected="false">근태이상</button>
								</li>
								<li class="nav-item" role="presentation">
									<form id="excelForm" name="excelForm" method=get action="excel">
										<div style="display: inline-block;">
											&nbsp;&nbsp;
											<button type="submit" value="엑셀 다운로드"
												class="btn btn-outline-primary">
												<i class="ri-file-excel-2-line"></i>
											</button>
										</div>
									</form>
							</ul>


							<!-- 전체 출근 리스트 -->
							<div class="tab-content pt-2" id="myTab1Content">
								<div class="tab-pane fade show active" id="all" role="tabpanel"
									aria-labelledby="all-tab">

									<table id="attdTable" class="table table-hover"
										style="text-align: center;">
										<thead>
											<tr>
												<th class="dt-head-center" data-priority="1">출근 날짜</th>
												<th class="dt-head-center" data-priority="2">사번</th>
												<th class="dt-head-center" data-priority="3">이름</th>
												<th class="dt-head-center" data-priority="4">부서명</th>
												<th class="dt-head-center" data-priority="5">직위</th>
												<th class="dt-head-center" data-priority="6">출근시간</th>
												<th class="dt-head-center" data-priority="7">퇴근시간</th>
												<th class="dt-head-center" data-priority="8">근무시간(분)</th>
												<th class="dt-head-center" data-priority="9">연장시간(분)</th>
												<th class="dt-head-center" data-priority="10">상태</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="at : ${attdList}">
												<!-- <td class="dt-body-center"><span
														th:text="${#dates.format(at.atdcDt, 'yyyy-MM-dd')}"></span></td> -->
												<td class="dt-body-center"><span th:text="${at.atdcDt}"></span></td>

												<td class="dt-body-center"><span th:text="${at.empNo}"></span></td>
												<td class="dt-body-center"><span th:text="${at.nm}"></span></td>
												<td class="dt-body-center"><span th:text="${at.dept}"></span></td>
												<td class="dt-body-center"><span
													th:text="${at.position}"></span></td>

												<td class="dt-body-center"><span
													th:text="${#dates.format(at.atdcDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
												<td class="dt-body-center"><span
													th:text="${#dates.format(at.afwkDttm, 'yyyy-MM-dd HH:mm')}"></span></td>


												<td class="dt-body-center"><span th:text="${at.wktm}"></span>
													<span th:if="${at.wktmH != null}"
													th:text="'('+${at.wktmH}+'시간)'"></span></td>
												<td class="dt-body-center"><span th:text="${at.ovtm}"></span>
													<span th:if="${at.ovtmH != null}"
													th:text="'('+${at.ovtmH}+'시간)'"></span></td>

												<td class="dt-body-center">
													<!-- <span
														th:if="${at.st} == '601'" th:text="'정상'"></span>
														<span
														th:if="${at.st} == '602'" th:text="'근태이상'"></span>
														<span
														th:if="${at.st} == ' '" th:text="' '"></span> --> <span
													th:text="${at.st}"></span>
												</td>

												<!-- <td><span th:text="${at.st}"></span></td> -->
											</tr>
										</tbody>
									</table>



									<!-- End Table with hoverable rows -->

								</div>

								<!-- 정상출근 리스트 -->
								<div class="tab-pane fade" id="good" role="tabpanel"
									aria-labelledby="good-tab">

									<!-- Table with hoverable rows -->
									<table id="attdTable2" class="table table-hover"
										style="text-align: center; width: 100%;">
										<thead>
											<tr>
												<th class="dt-head-center" data-priority="1">출근 날짜</th>
												<th class="dt-head-center" data-priority="2">사번</th>
												<th class="dt-head-center" data-priority="3">이름</th>
												<th class="dt-head-center" data-priority="4">부서명</th>
												<th class="dt-head-center" data-priority="5">직위</th>
												<th class="dt-head-center" data-priority="6">출근시간</th>
												<th class="dt-head-center" data-priority="7">퇴근시간</th>
												<th class="dt-head-center" data-priority="8">근무시간(분)</th>
												<th class="dt-head-center" data-priority="9">연장시간(분)</th>
												<th class="dt-head-center" data-priority="10">상태</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ag : ${attdGoodList}">
												<td class="dt-body-center"><span
													th:text="${#dates.format(ag.atdcDt, 'yyyy-MM-dd')}"></span></td>
												<td class="dt-body-center"><span th:text="${ag.empNo}"></span></td>
												<td class="dt-body-center"><span th:text="${ag.nm}"></span></td>
												<td class="dt-body-center"><span th:text="${ag.dept}"></span></td>
												<td class="dt-body-center"><span
													th:text="${ag.position}"></span></td>
												<td class="dt-body-center"><span
													th:text="${#dates.format(ag.atdcDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
												<td class="dt-body-center"><span
													th:text="${#dates.format(ag.afwkDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
												<td class="dt-body-center"><span th:text="${ag.wktm}"></span>
													<span th:if="${ag.wktmH != null}"
													th:text="'('+${ag.wktmH}+'시간)'"></span></td>
												<td class="dt-body-center"><span th:text="${ag.ovtm}"></span>
													<span th:if="${ag.ovtmH != null}"
													th:text="'('+${ag.ovtmH}+'시간)'"></span></td>
												<td class="dt-body-center"><span th:text="'정상'"></span></td>
											</tr>
										</tbody>
									</table>



									<!-- 근태이상 리스트 -->
								</div>
								<div class="tab-pane fade" id="bad" role="tabpanel"
									aria-labelledby="bad-tab">

									<table id="attdTable3" class="table table-hover"
										style="text-align: center; width: 100%">
										<thead>
											<tr>
												<th class="dt-head-center" data-priority="1">출근 날짜</th>
												<th class="dt-head-center" data-priority="2">사번</th>
												<th class="dt-head-center" data-priority="3">이름</th>
												<th class="dt-head-center" data-priority="4">부서명</th>
												<th class="dt-head-center" data-priority="5">직위</th>
												<th class="dt-head-center" data-priority="6">출근시간</th>
												<th class="dt-head-center" data-priority="7">퇴근시간</th>
												<th class="dt-head-center" data-priority="8">근무시간(분)</th>
												<th class="dt-head-center" data-priority="9">연장시간(분)</th>
												<th class="dt-head-center" data-priority="10">상태</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ab : ${attdBadList}">
												<td class="dt-body-center"><span
													th:text="${#dates.format(ab.atdcDt, 'yyyy-MM-dd')}"></span></td>
												<td class="dt-body-center"><span th:text="${ab.empNo}"></span></td>
												<td class="dt-body-center"><span th:text="${ab.nm}"></span></td>
												<td class="dt-body-center"><span th:text="${ab.dept}"></span></td>
												<td class="dt-body-center"><span
													th:text="${ab.position}"></span></td>
												<td class="dt-body-center"><span
													th:text="${#dates.format(ab.atdcDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
												<td class="dt-body-center"><span
													th:text="${#dates.format(ab.afwkDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
												<td class="dt-body-center"><span th:text="${ab.wktm}"></span>
													<span th:if="${ab.wktmH != null}"
													th:text="'('+${ab.wktmH}+'시간)'"></span></td>
												<td class="dt-body-center"><span th:text="${ab.ovtm}"></span>
													<span th:if="${ab.ovtmH != null}"
													th:text="'('+${ab.ovtmH}+'시간)'"></span></td>
												<td class="dt-body-center"><span th:text="'비정상'"></span></td>

												<!-- <td><span th:text="${at.st}"></span></td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- End List Tabs -->
						</div>



						<!--수정요청 탭 -->
						<div class="tab-pane fade" id="bordered-write" role="tabpanel"
							aria-labelledby="write-tab">
							<!-- End Default Card -->

							<!-- Default Tabs  -->

							<ul class="nav nav-tabs" id="myTab2" role="tablist">
								<li class="nav-item" role="presentation">
									<!-- 	<button class="nav-link active" id="formAll-tab"
										data-bs-toggle="tab" data-bs-target="#formAll" type="button"
										role="tab" aria-controls="formAll" aria-selected="true"></button> -->
							</ul>
							<div class="tab-content pt-2" id="myTab2Content">

								<!-- 수정요청 리스트 -->
								<table id="upTable" class="table table-hover"
									style="text-align: center;">
									<thead>
										<tr>
											<th>신청번호</th>
											<th>출근 날짜</th>
											<th>사번</th>
											<th>이름</th>
											<th>출근 시간</th>
											<th>퇴근 시간</th>
											<th>사유</th>
											<th>상태</th>
											<th>신청일자</th>
											<th>승인</th>
											<th>반려</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="aup : ${attdUpList}">
											<td class="dt-body-center"><span
												th:text="${aup.attdupNo}"></span></td>
											<td class="dt-body-center"><span th:text="${aup.atdcDt}"></span></td>
											<td class="dt-body-center"><span th:text="${aup.empNo}"></span></td>
											<td class="dt-body-center"><span th:text="${aup.nm}"></span></td>
											<td class="dt-body-center"><span
												th:text="${#dates.format(aup.atdcDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
											<td class="dt-body-center"><span
												th:text="${#dates.format(aup.afwkDttm, 'yyyy-MM-dd HH:mm')}"></span></td>
											<td class="dt-body-center"><span
												th:text="${aup.aContent}"></span></td>
											<td class="dt-body-center"><span
												th:if="${aup.st} == '701'" th:text="'대기중'"></span> <span
												th:unless="${aup.st} == '701'" th:text="'완료'"></span></td>
											<td class="dt-body-center"><span
												th:text="${#dates.format(aup.aDate, 'yyyy-MM-dd')}"></span></td>

											<form id="okFrm" action="attdUpOk" method="post">
												<input type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}">
												<!-- <input type="hidden" id="attdupNo" name="attdupNo" th:value="${aup.attdupNo}">  -->
												<input type="hidden" id="st" name="st" th:value="${aup.st}">
												<input type="hidden" id="atdcDttm" name="atdcDttm"
													th:value="|${#dates.format(aup.atdcDttm, 'yyyy-MM-dd')}T${#dates.format(aup.atdcDttm, 'HH:mm:ss')}|">
												<input type="hidden" id="afwkDttm" name="afwkDttm"
													th:value="|${#dates.format(aup.afwkDttm, 'yyyy-MM-dd')}T${#dates.format(aup.afwkDttm, 'HH:mm:ss')}|">
												<input type="hidden" id="empNo" name="empNo"
													th:value="${aup.empNo}"> <input type="hidden"
													id="atdcDt" name="atdcDt" th:value="${aup.atdcDt}">
												<td><button id="okBtn" class="btn btn-primary">승인</button></td>
												<!-- <td><button type="button" id="delete" class="update btn btn-primary">승인</button></td> -->
											</form>

											<form id="delFrm" action="attdUpDel" method="post">
												<input type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}"> <input type="hidden"
													id="attdupNo" name="attdupNo" th:value="${aup.attdupNo}">
												<input type="hidden" id="atdcDt" name="atdcDt"
													th:value="${aup.atdcDt}"> <input type="hidden"
													id="st" name="st" th:value="${aup.st}">
												<td><button id="delBtn" class="btn btn-primary">반려</button></td>
											</form>
										</tr>
									</tbody>
								</table>




							</div>



						</div>
					</div>

				</div>
			</div>
			</div>

		</section>


	</main>
	<!-- End #main -->
</body>
</html>