<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>나의 근태</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<!-- chart.js -->

<style type="text/css">
#chart1 {
	margin-right: 20px;
	margin-top: 20px;
	width: 800px;
}

#chart2 {
	margin-left: 20px;
	margin-top: 20px;
	width: 800px;
}

#startBt, #bt2 {
	background-color: rgb(230, 240, 255);
}
</style>
</head>
<body>
	<main layout:fragment="content">
		<script type="text/javascript">
	$(document).ready(function(){
		//확인 버튼 클릭 이벤트
	/* 	$("#startBt").on("click", e=>{
			
			$("#attdFrm").submit();
		}) */

function converDate(){
	document.pstfrm.atdcDttm.value=atdcDttm2.value.replace('T',' ')
	document.pstfrm.afwkDttm.value=afwkDttm2.value.replace('T',' ')
	document.pstfrm.submit();
}
		
	
	
	
	})

        	
	
	</script>

		<div class="pagetitle">
			<h1>출퇴근 현황</h1>
			<!-- Default Card -->
			<h5 class="card-title"></h5>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"></h5>


					<!-- Large Modal -->
					<form id="pstfrm" action="attdUpInsert" name="pstfrm" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#largeModal"
							style="float: right">수정신청</button>

						<div class="modal fade" id="largeModal" tabindex="-1">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">근태 수정 폼</h5>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">

										<!-- 수정폼 -->
										<div class="input-group mb-3">
											<span class="input-group-text" id="basic-addon1"
												style="width: 90px;">사원번호</span> <input type="text"
												class="form-control" name="empNo" aria-label="Username"
												aria-describedby="basic-addon1" th:value="${session.empNo}">
										</div>
										<div class="input-group mb-3">
											<span class="input-group-text" id="basic-addon1"
												style="width: 90px;">이름</span> <input type="text"
												class="form-control" name="nm" aria-label="Username1"
												aria-describedby="basic-addon1" th:value="${session.nm}">
										</div>
										<div class="row mb-3">
											<label for="inputDate" class="col-sm-2 col-form-label">출근
												날짜</label>
											<div class="col-sm-10">
												<input type="date" class="form-control" name="atdcDt"
													step="1">
											</div>
										</div>

										<div class="row mb-3">
											<label for="inputDate" class="col-sm-2 col-form-label">출근
												시간</label>
											<div class="col-sm-10">
												<!-- <input type="date" class="form-control"> -->
												<input type="datetime-local" class="form-control"
													name="atdcDttm" step="1">
											</div>
										</div>
										<!-- <div class="row mb-3">
									<label for="inputTime" class="col-sm-2 col-form-label">출근 시간</label>
									<div class="col-sm-10">
										<input type="time" class="form-control">
										<input type="datetime-local" class="form-control" name="atdcDttm" step="1">
									</div>
								</div> -->
										<div class="row mb-3">
											<label for="inputTime" class="col-sm-2 col-form-label">퇴근
												시간</label>
											<div class="col-sm-10">
												<!-- <input type="time" class="form-control"> -->
												<input type="datetime-local" class="form-control"
													name="afwkDttm" step="1">
											</div>
										</div>
										<div class="form-floating mb-3">
											<textarea class="form-control"
												placeholder="Leave a comment here" id="floatingTextarea"
												style="height: 100px; resize: none" name="aContent"></textarea>
											<label for="floatingTextarea">사유</label>
											<!-- <input type="hidden" id="st" name="st" th:value="${701}"> -->
										</div>
										<!-- 바디 끝 -->


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">취소</button>

										<button type="submit" class="btn btn-primary">신청</button>

									</div>

								</div>
							</div>
						</div>
					</form>
					<!-- End Large Modal-->

					<!-- 출퇴근 버튼  -->
					<form action="startAttd" method="post" id="attdFrm">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}"> <input type="hidden"
							id="empNo" name="empNo" th:value="${session.empNo}"> <input
							type="hidden" id="nm" name="nm" th:value="${session.nm}">
						<input type="hidden" id="dept" name="dept"
							th:value="${session.dept}"> <input type="hidden"
							id="position" name="position" th:value="${session.position}">
						<button type="submit" id="startBt" class="btn btn-light mb-2"
							style="width: 30%; padding: 55px 10px; margin: 4px 12px; height: 10px;">출근</button>
					</form>
					<br>

					<form action="endAttd" method="post" id="afwkFrm">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}"> <input type="hidden"
							id="empNo" name="empNo" th:value="${session.empNo}">
						<button type="submit" id="bt2" class="btn btn-light mb-2"
							style="width: 30%; padding: 55px 10px; margin: 4px 12px; height: 10px;">퇴근</button>
					</form>

					<!-- Bar Chart -->
					<div class="col-lg-6" style="float: left" id="chart1">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">7days Chart</h5>
								<canvas id="barChart" style="max-height: 400px;"></canvas>
								<script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],		//x축
                      datasets: [{		//데이터
                        label: 'Attd Chart',	//차트 제목
                        data: [9, 9, 12, 6, 9],		//x축에 대응하는 값
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)'
                          
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
							</div>

						</div>
					</div>
					<!-- radial -->
					<div class="col-lg-6" style="float: right" id="chart2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">7days Chart</h5>

								<!-- Radial Bar Chart -->
								<div id="radialBarChart"></div>

								<script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#radialBarChart"), {
                    series: [44, 55],
                    chart: {
                      height: 350,
                      type: 'radialBar',
                      toolbar: {
                        show: true
                      }
                    },
                    plotOptions: {
                      radialBar: {
                        dataLabels: {
                          name: {
                            fontSize: '22px',
                          },
                          value: {
                            fontSize: '16px',
                          },
                          total: {
                            show: true,
                            label: 'Total',
                            formatter: function(w) {
                              // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                              return 52+'시간'
                            }
                          }
                        }
                      }
                    },
                    labels: ['연장근무', '남은시간'],
                  }).render();
                });
              </script>
							</div>
						</div>
						<!-- End Radial Bar Chart -->
						<!-- End Doughnut CHart -->
					</div>
				</div>
			</div>
		</div>

		<!-- End Default Card -->
	</main>
</body>
</html>