<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>TuneUp - 근태 관리</title>
<script src="/js/jquery-3.6.1.min.js"></script>
<!-- 차트 CDN -->
<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<!-- apexChart -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
	
</script>
<style type="text/css">
#chart1 {
	margin-right: 20px;
	margin-top: 20px;
	width: 800px;
}

#chart2 {
	margin-left: 20px;
	margin-top: 20px;
	width: 800px;
}

#startBt, #bt2 {
	background-color: rgb(230, 240, 255);
}
</style>
</head>
<body>
	<main layout:fragment="content">
		<script type="text/javascript">
			function converDate() {
				document.pstfrm.atdcDttm.value = atdcDttm2.value.replace('T',
						' ')
				document.pstfrm.afwkDttm.value = afwkDttm2.value.replace('T',
						' ')
				document.pstfrm.submit();
			}
		</script>


		<div class="card">
			<div class="card-body">
				<br>
				<div class="pagetitle">
					<h1>나의 근태</h1>
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item ">HOME</li>
							<li class="breadcrumb-item active">나의 근태</li>

						</ol>
					</nav>
				</div>

				<hr>

				<div class="list-group col-2" style="float: left">

					<div class="list-group-item list-group-item-primary"
						style="width: 200px">
						출근 시간 <span class="badge bg-secondary text-light"
							th:text="${checkTime == null? '' :  #dates.format(checkTime, 'HH:mm')}"></span>
					</div>
				</div>

				<div class="list-group col-3" style="float: left">
					<div class="list-group-item list-group-item-primary "
						style="width: 200px;">
						퇴근 시간 <span class="badge bg-secondary text-light"
							th:text="${checkBTime == null? '' : #dates.format(checkBTime, 'HH:mm')}"></span>
					</div>
				</div>
				<div class="col-3" style="float: right;">
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#largeModal"
						style="float: right;">수정신청</button>
					<button onclick="location.href='attdList'" class="btn btn-primary"
						style="float: right; margin-right: 5px;" th:if="${session.mng}=='attd'">관리자 페이지</button>
				</div>

				<br> <br> <br>



				<!-- Large Modal -->
				<form id="pstfrm" action="attdUpInsert" name="pstfrm" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
					<div class="modal fade" id="largeModal" tabindex="-1">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">근태 수정 폼</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">

									<!-- 수정폼 -->
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1"
											style="width: 90px;">사원번호</span> <input type="text"
											class="form-control" name="empNo" aria-label="Username"
											aria-describedby="basic-addon1" th:value="${session.empNo}">
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text" id="basic-addon1"
											style="width: 90px;">이름</span> <input type="text"
											class="form-control" name="nm" aria-label="Username1"
											aria-describedby="basic-addon1" th:value="${session.nm}">
									</div>
									<div class="row mb-3">
										<label for="inputDate" class="col-sm-2 col-form-label">출근
											날짜</label>
										<div class="col-sm-10">
											<input type="date" class="form-control" name="atdcDt"
												step="1">
										</div>
									</div>

									<div class="row mb-3">
										<label for="inputDate" class="col-sm-2 col-form-label">출근
											시간</label>
										<div class="col-sm-10">
											<!-- <input type="date" class="form-control"> -->
											<input type="datetime-local" class="form-control"
												name="atdcDttm" step="1">
										</div>
									</div>

									<div class="row mb-3">
										<label for="inputTime" class="col-sm-2 col-form-label">퇴근
											시간</label>
										<div class="col-sm-10">
											<!-- <input type="time" class="form-control"> -->
											<input type="datetime-local" class="form-control"
												name="afwkDttm" step="1">
										</div>
									</div>
									<div class="form-floating mb-3">
										<textarea class="form-control"
											placeholder="Leave a comment here" id="floatingTextarea"
											style="height: 100px; resize: none" name="aContent"></textarea>
										<label for="floatingTextarea">사유</label>
										<!-- <input type="hidden" id="st" name="st" th:value="${701}"> -->
									</div>
									<!-- 바디 끝 -->


								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">취소</button>

									<button type="submit" class="btn btn-primary">신청</button>

								</div>

							</div>
						</div>
					</div>
				</form>

				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							 <h5 class="card-title">7days</h5>
							<!-- Stacked Bar Chart -->
              <canvas id="stakedBarChart" style="max-height: 400px;"></canvas>
              <script th:inline="javascript">
              

			    /*<![CDATA[*/
			    
			    var wktmChart = [[${wktmChart}]];
			    console.log(wktmChart);
			    
			    var ovtmChart = [[${ovtmChart}]];
			    console.log(ovtmChart);
			    
			    /*]]>*/
			    
                document.addEventListener("DOMContentLoaded", () => {
                	
                  new Chart(document.querySelector('#stakedBarChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Mon', 'Tue', 'Wed', 'Thur', 'Fri'],
                      datasets: [{
                          label: '근무 시간',
                          data: wktmChart,
                          backgroundColor: 
                        	  'rgba(255, 99, 132, 0.2)',
                        },
                        {
                          label: '야근',
                          data: ovtmChart,
                          backgroundColor: 
                        	  'rgba(75, 192, 192, 0.2)',
                        },

                      ]
                    },
                    options: {
                      plugins: {
                        title: {
                          display: true,
                          text: ''
                        },
                      },
                      responsive: true,
                      scales: {
                        x: {
                          stacked: true,
                        },
                        y: {
                          stacked: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Stacked Bar Chart -->

						</div>
					</div>
				</div>
			 
				 <div class="col-lg-12">
					<div class="card">
						<div class="card-body">
              				<h5 class="card-title">총 근무시간</h5>
				        <!-- Radial Bar Chart -->
				              <div id="radialBarChart"></div>
			              <script>
			                document.addEventListener("DOMContentLoaded", () => {
			                  new ApexCharts(document.querySelector("#radialBarChart"), {
			                    series: [43,5],
			                    chart: {
			                      height: 350,
			                      type: 'radialBar',
			                      toolbar: {
			                        show: true
			                      }
			                    },
			                    plotOptions: {
			                      radialBar: {
			                        dataLabels: {
			                          name: {
			                            fontSize: '22px',
			                          },
			                          value: {
			                            fontSize: '16px',
			                          },
			                          total: {
			                            show: true,
			                            label: '전체',
			                            formatter: function(w) {
			                              // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
			                              return 52
			                            }
			                          }
			                        }
			                      }
			                    },
			                    labels: ['잔여 근무', '연장 근무',''],
			                  }).render();
			                });
			              </script>
              <!-- End Radial Bar Chart -->

            </div>
          </div>
        </div>
				
			</div>
		</div>

		<!-- End Default Card -->
	</main>
</body>
</html>