<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.com.notice.mapper.NoticeMapper">

	<select id="noticeList" resultType="co.up.tune.com.vo.CommunityVO">
		SELECT * 
    	FROM COMMUNITY
    	WHERE TYP='101'
    	<if test='keyword == "ttl"'>
    		and ttl like ('%' || #{search} || '%')
    	</if>
    	<if test='keyword == "wrtr"'>
    		and wrtr like ('%' || #{search} || '%')
    	</if>
    	<if test='keyword == "cntn"'>
    		and cntn like ('%' || #{search} || '%')
    	</if>
    	ORDER BY EMERG DESC, POST_NO DESC
	</select>
	
	<select id="noticeSelect" resultType="co.up.tune.com.vo.CommunityVO" parameterType="co.up.tune.com.vo.CommunityVO">
		SELECT *
		FROM COMMUNITY
		WHERE POST_NO=#{postNo}
	</select>
	
	<insert id="noticeHitUpdate" parameterType="co.up.tune.com.vo.CommunityVO">
		UPDATE COMMUNITY 
		SET HIT = HIT+1 
		WHERE POST_NO = #{postNo}
		AND TYP=101
	</insert>
	
	<insert id="noticeInsert" parameterType="co.up.tune.com.vo.CommunityVO">
		INSERT INTO COMMUNITY
		VALUES (PNO_SEQ.NEXTVAL, #{ttl}, #{wrtr}, SYSDATE, #{fNm}, #{fPath}, 0, #{emerg}, '101', #{empNo}, #{cntn})
	</insert>
	
	<update id="noticeUpdate" parameterType="co.up.tune.com.vo.CommunityVO">
		UPDATE COMMUNITY
		<set>
			<if test="ttl != null">TTL=#{ttl},</if>
			<if test="cntn != null">CNTN=#{cntn},</if>
			<if test="fNm != null">F_NM=#{fNm},</if>
			<if test="fPath != null">F_PATH=#{fPath},</if>
			<if test="emerg != null">EMERG=#{emerg}</if>
		</set>
		WHERE POST_NO=#{postNo}
	</update>
	
	<delete id="noticeDelete" parameterType="co.up.tune.com.vo.CommunityVO">
		DELETE FROM COMMUNITY
		WHERE POST_NO = #{postNo}
	</delete>
	
	<!-- ///////// -->
	<select id="ganttList" parameterType="co.up.tune.prj.vo.BusinessVO" resultType="co.up.tune.prj.vo.BusinessVO">
		SELECT *
		FROM BUSINESS
		WHERE PRJ_NO=#{prjNo}
	</select>

</mapper>