<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.emp.attd.mapper.AttdMapper">

	<select id="attdList" resultType="co.up.tune.emp.vo.AttdVO">
    	SELECT * 
    	FROM ATTD
    	ORDER BY ATDC_DT DESC
	</select>	
	
	<!-- <select id="checkGood" resultType="Integer">
		<![CDATA[ ]]>
		SELECT COUNT(*)
		FROM ATTD
		WHERE ST= '601' AND ATDC_DT <= SYSDATE
		 ]]>
	</select> -->
	
	<select id="checkTime" resultType="co.up.tune.emp.vo.AttdVO">
		<![CDATA[ 
		SELECT ATDC_DTTM
		FROM ATTD
		WHERE EMP_NO= #{empNo}
		and atdc_dt = to_date(TO_CHAR(SYSDATE+ 9/24,'YYYYMMDD'), 'YYYYMMDD')
		]]>
	</select>
	
	<select id="checkBTime" resultType="co.up.tune.emp.vo.AttdVO">
		<![CDATA[ 
		SELECT AFWK_DTTM
		FROM ATTD
		WHERE EMP_NO= #{empNo}
		and atdc_dt = to_date(TO_CHAR(SYSDATE+ 9/24,'YYYYMMDD'), 'YYYYMMDD')
		]]>
	</select>
	
	<select id="checkGood" resultType="Integer">
		<![CDATA[
		SELECT COUNT(*)
		FROM ATTD
		WHERE ST IS NULL
		 ]]>
	</select>
	
	<select id="checkBad" resultType="Integer">
		<![CDATA[
		SELECT COUNT(*)
		FROM ATTD
		WHERE ST= '비정상' AND ATDC_DT <= SYSDATE
		 ]]>
	</select>
	
	
		  <select id="attdGoodList" resultType="co.up.tune.emp.vo.AttdVO">
	    	SELECT * 
	    	FROM ATTD
	    	WHERE ST = '정상'
	    	ORDER BY ATDC_DT DESC
		</select>
		
		<select id="attdBadList" resultType="co.up.tune.emp.vo.AttdVO">
	    	SELECT * 
	    	FROM ATTD
	    	WHERE ST = '비정상'
	    	ORDER BY ATDC_DT DESC
		</select>
	
	<select id="myAttdList" resultType="co.up.tune.emp.vo.AttdVO" parameterType="co.up.tune.emp.vo.AttdUpVO">
    	SELECT * 
    	FROM ATTDUP
    	WHERE EMP_NO = #{empNo}
    	AND ST = #{ST}
    	ORDER BY ATTD_UP DESC
	</select>	
	
	<insert id="startAttd" parameterType="co.up.tune.emp.vo.AttdVO">
		INSERT INTO ATTD (atdc_dt,emp_no, nm, dept, position,atdc_dttm)
		VALUES (to_date(TO_CHAR(SYSDATE+ 9/24,'YYYYMMDD'),'YYYYMMDD'), #{empNo}, #{nm}, #{dept}, #{position},(systimestamp + 9/24))
	</insert>
	
	<select id="alreadyAttd" resultType="int" parameterType="map">
		select count(*) from attd
		where emp_no = #{empNo} and atdc_dt = to_date(#{atdcDt}, 'RRRR/MM/DD')
	</select>
	 
	<update id="endAttd" parameterType="co.up.tune.emp.vo.AttdVO">
		<![CDATA[ 
		 UPDATE ATTD 
		 SET afwk_dttm = (systimestamp + 9/24)
        , wktm = #{wktm}
        , ovtm = #{ovtm}
        , st = #{st}
		WHERE EMP_NO = #{empNo}
		AND ATDC_DT = to_date(TO_CHAR(SYSDATE+ 9/24,'RRRR/MM/DD'), 'RRRR/MM/DD')
		]]>	
	</update>
	
	<select id="selectAtdcTmByEmpNo" parameterType="String" resultType="java.util.Date">
		SELECT ATDC_DTTM
		FROM ATTD
		WHERE EMP_NO= #{empNo}
		AND ATDC_DT = to_date(TO_CHAR(SYSDATE+ 9/24,'RRRR/MM/DD'), 'RRRR/MM/DD')
	</select>
	
	<select id="ovtmChart" parameterType="String" resultType="String">
	SELECT round(OVTM/60) 
	FROM ATTD 
	WHERE EMP_NO=#{empNo} 
	AND ATDC_DT BETWEEN to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') - 7, 'RRRR/MM/DD'), 'RRRR/MM/DD') AND to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') - 1, 'RRRR/MM/DD'), 'RRRR/MM/DD')
 	</select>
	
	<select id="wktmChart" parameterType="String" resultType="String">
	SELECT round(WKTM/60)
	FROM ATTD 
	WHERE EMP_NO=#{empNo} 
	AND ATDC_DT BETWEEN to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') - 7, 'RRRR/MM/DD'), 'RRRR/MM/DD') AND to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') - 1, 'RRRR/MM/DD'), 'RRRR/MM/DD')
 	</select>
 	
 	<select id="wkov" resultType="String" parameterType="String">
	SELECT NVL(SUM (WKTM+OVTM),0)
	FROM ATTD WHERE EMP_NO=#{empNo} 
	AND ATDC_DT BETWEEN to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW'), 'RRRR/MM/DD'), 'RRRR/MM/DD') AND to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') +4, 'RRRR/MM/DD'), 'RRRR/MM/DD')
	</select>
	
	<select id="totalWktm" resultType="String" parameterType="String">
	SELECT NVL(SUM(WKTM),0)
   	FROM ATTD WHERE EMP_NO=#{empNo}  
   	AND ATDC_DT BETWEEN to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW'), 'RRRR/MM/DD'), 'RRRR/MM/DD') AND to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') +4, 'RRRR/MM/DD'), 'RRRR/MM/DD')
	</select>
	
	<select id="totalOvtm" resultType="String" parameterType="String">
	SELECT NVL(SUM(OVTM),0)
   	FROM ATTD WHERE EMP_NO=#{empNo}  
   	AND ATDC_DT BETWEEN to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW'), 'RRRR/MM/DD'), 'RRRR/MM/DD') AND to_date(TO_CHAR(TRUNC(SYSDATE+ 9/24, 'IW') +4, 'RRRR/MM/DD'), 'RRRR/MM/DD')
	</select>
	
	 
</mapper>