<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.aprv.approval.mapper.ApprovalMapper">
	
	
	<select id="approvalList" 
		resultType="co.up.tune.aprv.vo.AprvVO">
		<if test="aprvSt == '전체' ">
			SELECT '진행' APRV_ST, 
						APRV_NO, 
						EMP_NO, 
						TTL, 
						DTTM,
						REQ_ST, 
						DEADLINE, 
						IMPTS, 
						NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '진행')
			UNION 
			SELECT '위임', 	APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR IN (SELECT EMP_NO
												FROM TRUST
												WHERE RPTT = #{aprvr}
												AND SYSDATE BETWEEN SDT AND EDT)
												AND APRV_ST = '진행')
			UNION
			SELECT '참조', 	APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM REFER
								WHERE EMP_NO = #{aprvr})
			UNION
			SELECT '반려', 	APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '반려')
			UNION
			SELECT '완료', 	APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '완료')
			ORDER BY APRV_NO DESC
		</if>

		<if test="aprvSt == '진행' ">
			SELECT '진행' 	APRV_ST, 
							APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '진행')
			ORDER BY APRV_NO DESC
		</if>

		<if test="aprvSt == '위임' ">
			SELECT '위임' 	APRV_ST, 
							APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR IN (SELECT EMP_NO
												FROM TRUST
												WHERE RPTT = #{aprvr}
												AND SYSDATE BETWEEN SDT AND EDT)
								AND APRV_ST ='진행')
			ORDER BY APRV_NO DESC
		</if>

		<if test="aprvSt == '참조' ">
			SELECT '참조' 	APRV_ST, 
							APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM REFER
								WHERE EMP_NO = #{aprvr})
			ORDER BY APRV_NO DESC
		</if>

		<if test="aprvSt == '반려' ">
			SELECT '반려' 	APRV_ST, 
							APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '반려')
			ORDER BY APRV_NO DESC
		</if>

		<if test="aprvSt == '완료' ">
			SELECT '완료' 	APRV_ST, 
							APRV_NO, 
							EMP_NO, 
							TTL, 
							DTTM,
							REQ_ST, 
							DEADLINE, 
							IMPTS, 
							NM
			FROM APRV
			WHERE APRV_NO IN (SELECT APRV_NO
								FROM APPROVAL
								WHERE APRVR = #{aprvr}
								AND APRV_ST = '완료')
			ORDER BY APRV_NO DESC
		</if>

	</select>


	<update id="approvalSign"
		parameterType="co.up.tune.aprv.vo.ApprovalVO">
		UPDATE APPROVAL
		<set>
			APRV_DTTM = SYSTIMESTAMP,
			<if test="sign != null and sign != '' ">
				SIGN=#{sign},
				APRV_ST = '완료',
			</if>
			<if test="reject != null and reject != ''">
				REJECT=#{reject},
				APRV_ST = '반려',
			</if>
		</set>
		WHERE APRV_NO = #{aprvNo}
				AND APRV_ST = '진행'
	</update>


	<update id="aprvNext"
		parameterType="co.up.tune.aprv.vo.ApprovalVO">
		DECLARE
			V_APRV_NO APRV.APRV_NO%TYPE := #{aprvNo};
			V_APRV_SEQ APPROVAL.APRV_SEQ%TYPE;
			V_APRV_ST APPROVAL.APRV_ST%TYPE;
			V_CNT APPROVAL.APRV_NO%TYPE;

		BEGIN
			SELECT COUNT(APRVR)
			INTO V_CNT
			FROM APPROVAL
			WHERE APRV_NO = V_APRV_NO;

			SELECT 	APRV_ST, 
					APRV_SEQ
			INTO V_APRV_ST, V_APRV_SEQ
			FROM APPROVAL
			WHERE APRV_NO = V_APRV_NO
					AND APRVR =  (SELECT EMP_NO
									FROM TRUST
									WHERE RPTT = #{aprvr})
					OR APRVR = #{aprvr}


		IF V_CNT = V_APRV_SEQ AND V_APRV_ST = '완료' THEN
			UPDATE APRV
			SET
			REQ_ST = '완료'
			WHERE APRV_NO = V_APRV_NO;

		ELSIF V_CNT > V_APRV_SEQ AND V_APRV_ST = '완료' THEN
			UPDATE APRV
			SET
			REQ_ST = '검토'
			WHERE APRV_NO =V_APRV_NO;

			UPDATE APPROVAL
			SET
			APRV_ST = '진행'
			WHERE APRV_NO = V_APRV_NO
				AND APRV_SEQ = V_APRV_SEQ +1;

		ELSIF V_APRV_ST = '반려' THEN
			UPDATE APRV
			SET
			REQ_ST = '반려'
			WHERE APRV_NO =V_APRV_NO;
		END IF;

		END;
	</update>



	<select id="trustList"
		parameterType="co.up.tune.aprv.vo.TrustVO"
		resultType="co.up.tune.aprv.vo.TrustVO">
		SELECT *
		FROM TRUST
		<if test="empNo != null and empNo != ''">
			WHERE EMP_No = #{empNo}
		</if>
		ORDER BY EDT DESC
	</select>


	<select id="trustCheck"
		parameterType="co.up.tune.aprv.vo.TrustVO"
		resultType="co.up.tune.aprv.vo.TrustVO">
		SELECT *
		FROM TRUST
		WHERE RPTT = #{empNo}
	</select>


	<insert id="trustIn" 
		parameterType="co.up.tune.aprv.vo.TrustVO">
		<selectKey keyProperty="trustNo" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(TRUST_NO),0)+1 
			FROM TRUST
		</selectKey>
		INSERT INTO TRUST
				(TRUST_NO, 
			 	EMP_NO, 
			 	RPTT, 
			 	SDT, 
			 	EDT, 
			 	NM, 
			 	RPTT_NM)
		VALUES
			(#{trustNo}, 
			#{empNo}, 
			#{rptt}, 
			#{sdt}, 
			#{edt}, 
			#{nm}, 
			#{rpttNm})
	</insert>

	<delete id="trustDel" 
		parameterType="co.up.tune.aprv.vo.TrustVO">
		DELETE FROM TRUST
		 WHERE TRUST_NO = #{trustNo}
	</delete>
	
	<update id="signUp" 
		parameterType="co.up.tune.emp.vo.EmpVO">
		UPDATE EMP
		   set SIGN = #{sign}
		 WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="signSelect" 
		parameterType="co.up.tune.emp.vo.EmpVO" 
		resultType="co.up.tune.emp.vo.EmpVO">
		SELECT 	SIGN, 
				NM, 
				POSITION
		FROM EMP
		WHERE EMP_NO = #{empNo}
	</select>
	

</mapper>