<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.com.note.mapper.NoteMapper">

	<select id="sNoteList" resultType="co.up.tune.com.vo.NoteVO">
		select * from note
		where s_Emp_No = #{sEmpNo}
		order by note_No
	</select>
	
	<select id="rNoteList" resultType="co.up.tune.com.vo.NoteVO">
		select * from note
		where r_Emp_No = #{rEmpNo}
		order by note_No
	</select>
	
	<select id="kNoteList" resultType="co.up.tune.com.vo.NoteVO">
		select * from note
		where keep = 'Y'
		order by note_No
	</select>
	
	<insert id="sendNote" parameterType="co.up.tune.com.vo.NoteVO">
		<selectKey keyProperty="noteNo" order="BEFORE" resultType="integer">
			SELECT nvl(max(note_no)+1,0)
			from note
		</selectKey>
		<foreach collection=""></foreach>
		INSERT INTO NOTE
		VALUES (#{noteNo},)
	</insert>
</mapper>