<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.up.tune.com.note.mapper.NoteMapper">

	<!-- 보낸 쪽지 리스트 -->
	<select id="sNoteList" resultType="co.up.tune.com.vo.NoteVO" parameterType="string">
		SELECT *
		FROM NOTE
		WHERE R_EMP_NO=#{empNo}
		AND KEEP='N'
		ORDER BY NOTE_NO DESC
	</select>
	
	<!-- 받은 쪽지 리스트 -->
	<select id="rNoteList" resultType="co.up.tune.com.vo.NoteVO" parameterType="string">
		SELECT *
		FROM NOTE
		WHERE S_EMP_NO=#{empNo}
		AND KEEP='N'
		ORDER BY NOTE_NO DESC
	</select>
	
	<!-- 쪽지 보관 리스트 -->
	<select id="kNoteList" resultType="co.up.tune.com.vo.NoteVO" parameterType="string">
		SELECT * 
		FROM NOTE
		WHERE KEEP='Y' 
		AND (S_EMP_NO=#{empNo})
		ORDER BY NOTE_NO DESC
	</select>
	
	<!-- 쪽지 보내기 -->
	<insert id="sendNote" parameterType="co.up.tune.com.vo.NoteVO">
		<selectKey keyProperty="noteNo" order="BEFORE" resultType="integer">
			SELECT nvl(max(note_no)+1,1)
			from note
		</selectKey>
			INSERT INTO NOTE
			VALUES (#{noteNo}, #{sender}, #{sEmpNo}, #{receiver}, #{rEmpNo},
					#{cntn}, sysdate, 'N')
	</insert>
	
	<!-- 쪽지 갯수 -->
	<select id="noteCount" parameterType="co.up.tune.com.vo.NoteVO" resultType="integer">
		SELECT COUNT(*)
		FROM NOTE
		WHERE S_EMP_NO=#{rEmpNo}
		AND KEEP='N'
	</select>
	
	<!-- 쪽지 삭제 -->
	<delete id="noteDelete" parameterType="co.up.tune.com.vo.NoteVO">
		DELETE FROM NOTE
		WHERE NOTE_NO in 
		<foreach collection="noteNoList" item="no" open="(" separator="," close=")">
			#{no}
		</foreach>
	</delete>
	
	<!-- 쪽지 보관 -->
	<update id="noteKeep" parameterType="co.up.tune.com.vo.NoteVO">
		UPDATE NOTE
		SET KEEP = 'Y'
		WHERE NOTE_NO = #{noteNo}
	</update>
</mapper>